h1 {
    margin: 1rem 0;
}

.form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-secondary-color);
}

#homework, #contest, .status-list {
    white-space: nowrap;
}

#status .status-list__user, #status .status-list__problem a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#status .status-list__user {
    max-width: 13em;
}
#status .status-list__problem a {
    display: block;
    max-width: 20em;
}
.container:not(.fullwidth) #status :is(.status-list__time, .status-list__memory) {
    display: none;
}
.container.fullwidth #status .status-list__user {
    max-width: calc(30vw - 128px);
}
.container.fullwidth #status .status-list__problem a {
    max-width: calc(60vw - 512px);
}
@media (max-width: 1200px) {
    #status .status-list__user {
        max-width: 10em;
    }
    #status .status-list__problem a {
        max-width: 13em;
    }
}

.blog-post__date::before {
    content: '(';
}
.blog-post__date::after {
    content: ')';
}

.title-nav {
    display: flow-root;
    margin-bottom: 0;
    text-align: justify;
}
.title-nav__nav {
    display: inline-flex;
    float: right;
    min-height: 1.5em;
    align-items: center;
    justify-content: end;
}
.problemset-progress__percentage {
    float: right;
}
#problemset div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
#problemset div.dt-buttons {
    float: right;
    padding: 0 0.05rem 0.5rem;
}
@media (max-width: 767.98px) {
    .title-nav {
        display: block;
        text-align: center;
    }
    .title-nav__title {
        display: block;
        margin-bottom: 1rem;
    }
    .title-nav__nav {
        float: none;
        display: flex;
        min-height: 0;
        align-items: initial;
    }
    .title-nav__nav.nav .nav-item {
        flex: 1 1 auto;
    }
    .problemset-progress__percentage {
        display: inline-block;
        float: none;
    }
}

.problemset-title {
    margin: 0 0 1rem 0;
}
.problemset-title .title-nav__title {
    margin-bottom: 0;
}
.problemset-progress {
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}
.problemset-progress__text {
    color: #8898aa;
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
}
.problemset-progress ~ .card-body {
    padding-top: 0.5rem;
}
#problemset {
    overflow: clip;
}
#problemset .progress {
    margin-bottom: 0;
    border-radius: 0;
}

.contest--participant {
    background-color: #fdf5e6;
}
.contest--running {
    background-color: rgba(171, 205, 239, 0.2);
}
.contest--pending {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-striped tbody tr.contest--participant:nth-of-type(2n+1) {
    background-color: #f7eede;
}
.table-striped tbody tr.contest--running:nth-of-type(2n+1) {
    background-color: rgba(139, 167, 196, 0.2);
}
.table-striped tbody tr.contest--pending:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.075);
}
.table-hover tbody tr.contest--participant:hover {
    background-color: #e8dece;
}
.table-hover tbody tr.contest--running:hover {
    background-color: rgba(134, 161, 189, 0.3);
}
.table-hover tbody tr.contest--pending:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .btn-group--title-nav {
        display: block;
        line-height: 1.2em;
    }
}
@media (min-width: 767.98px) {
    .btn-group--title-nav {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }

    .btn-group--title-nav .btn {
        margin-right: 0;
        transform: translateY(0);
    }
    .btn-group--title-nav > .btn {
        position: relative;
        flex: 1 1 auto;
    }

    .btn-group--title-nav > .btn:hover {
        z-index: 1;
    }

    .btn-group--title-nav > .btn:focus,
    .btn-group--title-nav > .btn:active,
    .btn-group--title-nav > .btn.active {
        z-index: 1;
    }


    .btn-group--title-nav > .btn:not(:first-child),
    .btn-group--title-nav > .btn-group--title-nav:not(:first-child) {
        margin-left: -1px;
    }

    .btn-group--title-nav > .btn:not(:last-child):not(.dropdown-toggle),
    .btn-group--title-nav > .btn-group--title-nav:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group--title-nav > .btn:not(:first-child),
    .btn-group--title-nav > .btn-group--title-nav:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.card-body {
    position: relative;
}
@media (max-width: 992px) {
    #width-toggle {
        display: none;
    }
}
.container.fullwidth {
    max-width: 100%;
}

@media (min-width: 992px) {
    .status__row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .status__col {
        position: relative;
        width: 100px;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 22%;
        max-width: 22%;
    }
}

.contributor-card {
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
.contributor-card img {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

h-hws[hidden] {
    display: inline !important;
}

.markdown-fallback {
    white-space: pre-wrap;
}

.realname-group.badge {
    font-size: 0.66rem;
}
