body {
    /* we handle biaodian trimming by han.css, so turn it off */
    text-spacing-trim: space-all;
}

h1 {
    margin: 1rem 0;
}

.font-size-normal {
    font-size: 1rem;
}

.d-contents {
    display: contents;
}

.form-text {
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-secondary-color);
}

body .card-header {
    background-color: rgba(198.58731577387132, 217.3915438492475, 236.19577192462373, 0.1595385882352941);
}

.z-index-100 {
    z-index: 100;
}

#homework, #contest, .status-list {
    white-space: nowrap;
}

#status .status-list__user, #status .status-list__problem a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#status .status-list__user {
    max-width: 13em;
}
#status .status-list__problem a {
    display: block;
    max-width: 20em;
}
.container:not(.fullwidth) #status :is(.status-list__time, .status-list__memory) {
    display: none;
}
.container.fullwidth #status .status-list__user {
    max-width: calc(30vw - 128px);
}
.container.fullwidth #status .status-list__problem a {
    max-width: calc(60vw - 512px);
}
@media (max-width: 1200px) {
    #status .status-list__user {
        max-width: 10em;
    }
    #status .status-list__problem a {
        max-width: 13em;
    }
}
.link--status {
    text-decoration: underline dashed;
    text-decoration-thickness: 0.8px;
    color: inherit;
}
.link--status:hover, .link--status:active, .link--status:focus {
    text-decoration: underline solid;
    text-decoration-thickness: 0.8px;
    color: inherit;
}

.blog-post__date::before {
    content: '(';
}
.blog-post__date::after {
    content: ')';
}

.title-nav {
    display: flow-root;
    margin-bottom: 0;
    text-align: justify;
}
.title-nav__nav {
    display: inline-flex;
    float: right;
    min-height: 1.5em;
    align-items: center;
    justify-content: end;
}
.problemset-progress__percentage {
    float: right;
}
#problemset div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
#problemset div.dt-buttons {
    float: right;
    padding: 0 0.05rem 0.5rem;
}
@media (max-width: 767.98px) {
    .title-nav {
        display: block;
        text-align: center;
    }
    .title-nav__title {
        display: block;
        margin-bottom: 1rem;
    }
    .title-nav__nav {
        float: none;
        display: flex;
        min-height: 0;
        align-items: initial;
    }
    .title-nav__nav.nav .nav-item {
        flex: 1 1 auto;
    }
    .problemset-progress__percentage {
        display: inline-block;
        float: none;
    }
    .problemset-progress__late {
        display: block;
        float: none;
    }
    .problemset-course {
        text-align: center;
    }
}

.problemset-title {
    margin: 0 0 1rem 0;
}
.problemset-title .title-nav__title {
    margin-bottom: 0;
}
.problemset-progress {
    padding-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}
.problemset-progress__text {
    color: #8898aa;
    font-size: 0.95rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
}
.problemset-progress ~ .card-body {
    padding-top: 0.5rem;
}
#problemset {
    overflow: clip;
}
#problemset .progress {
    margin-bottom: 0;
    border-radius: 0;
}
.player--external .player-name::after {
    content: '*';
}
.player--external .player-rank {
    opacity: 0.5;
}
.player--external .player-rank::before {
    content: '(';
}
.player--external .player-rank::after {
    content: ')';
}

#problem-description h3 {
    margin: .5em 0 .3em;
}
#problem-description th[align="center"] {
    text-align: center;
}
#problem-description th[align="right"] {
    text-align: center;
}

@keyframes countdown-circle {
    from {
        /* 2 * pi * r = 30 * pi */
        stroke-dasharray: 94.24777960769379,0;
    }
    to {
        stroke-dasharray: 0,94.24777960769379;
    }
}
.auto-refresh--animate .auto-refresh__circle {
    animation: 3s countdown-circle linear;
}

.judge-group {
    border: .0625rem solid #dee2e6;
    border-bottom: none;
    border-radius: 4px;
    color: #525f7f;
    margin-bottom: 1rem;
    width: 100%;
}

.judge-group__header {
    border-bottom: .125rem solid #dee2e6;
    vertical-align: bottom;
    padding: .7rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

.judge-group__testpoint:nth-of-type(2n+1) > * {
    background-color: rgba(0,0,0,.05);
}

.judge-group__testpoints {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
}

.judge-group__testpoint {
    display: contents;
}

.judge-group__testpoint > * {
    border-bottom: .0625rem solid #dee2e6;
}

.testpoint__name, .testpoint__attr, .testpoint__message {
    padding: .7rem;
}

.judge-group__testpoint--has-message .testpoint__name,
.judge-group__testpoint--has-message .testpoint__attr {
    padding-bottom: 0;
    border-bottom: none;
}
.testpoint__message {
    padding-top: 0;
}

.testpoint__attr--hidden {
    padding: 0;
    border: none;
}

.testpoint__message {
    grid-column: 1 / 6;
}

.testpoint__message pre {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.testpoint__message.testpoint__message--expanded pre {
    -webkit-line-clamp: unset;
}


@media (max-width: 767.99999px) {
.judge-group__testpoints {
    grid-template-columns: auto auto auto auto;
}
.testpoint__name, .testpoint__message {
    grid-column: 1 / 5;
}
.testpoint__name {
    border-bottom: none;
    padding-bottom: 0;
}
.testpoint__attr {
    padding-top: 0;
}
}

.contest--participant {
    background-color: #fdf5e6;
}
.contest--running {
    background-color: rgba(171, 205, 239, 0.2);
}
.contest--pending {
    background-color: rgba(0, 0, 0, 0.05);
}
.table-striped tbody tr.contest--participant:nth-of-type(2n+1) {
    background-color: #f7eede;
}
.table-striped tbody tr.contest--running:nth-of-type(2n+1) {
    background-color: rgba(139, 167, 196, 0.2);
}
.table-striped tbody tr.contest--pending:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.075);
}
.table-hover tbody tr.contest--participant:hover {
    background-color: #e8dece;
}
.table-hover tbody tr.contest--running:hover {
    background-color: rgba(134, 161, 189, 0.3);
}
.table-hover tbody tr.contest--pending:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
html body a.card {
    color: inherit;
    transition: cubic-bezier(.4,0,.2,1) .2s;
    transition-property: box-shadow, background-color;
}
html body a.card:hover,
html body a.card:active,
html body a.card:focus {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.card--small .card-header {
    font-size: 0.9rem;
    padding: .5rem 1rem;
    position: relative;
}
.border-primary {
    --border-color: #e77c8e;
}
.border-secondary {
    --border-color: #f4f5f7;
}
.border-success {
    --border-color: #2dce89;
}
.border-info {
    --border-color: #11cdef;
}
.border-warning {
    --border-color: #fb6340;
}
.border-danger {
    --border-color: #f5365c;
}
.border-light {
    --border-color: #adb5bd;
}
.border-dark {
    --border-color: #212529;
}
.border-default {
    --border-color: #172b4d;
}
.border-grey {
    --border-color: #cad1d7;
}
.alert.alert-success {
    background-color: rgba(0, 195.5965909090909, 111.5625, 0.6901960784313725);
}
.alert.alert-danger {
    background-color: rgba(244.86491320391158, 40.896291432632275, 81.43663861698592, 0.7893370980392157);
}
.card--contest .card-header::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    background-color: #e77c8e;
    background-color: var(--border-color);
    height: 1px;
    width: var(--progress);
    left: 0;
}
.card--small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.card--small .card-text {
    font-size: 0.9rem;
}
.card--small .card-body {
    padding: .75rem 1rem;
}
.card--contest .card--contest__name {
    font-size: 1.1rem;
}
.card--contest .card--contest__status {
    font-weight: bold;
    display: block;
    float: right;
}
.card--contest .card--contest__description {
    max-height: 1.5em;
    overflow: hidden;
}
.card--contest .card--contest__description p {
    margin-bottom: 0.2rem;
}
.card--contest .card--contest__description.truncated {
    max-height: 3em;
    margin-bottom: -.75rem;
}
.card--contest .card--contest__description.truncated::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: .75rem;
    right: .75rem;
    height: 2em;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255) 90%);
}
@media (min-width: 992px) {
    .card-group--small {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5rem;
    }
    .card--small {
        width: calc(50% - 1rem);
        margin: 0.5rem;
        height: fit-content;
    }
}
@media (min-width: 1440px) {
    .fullwidth .card--small {
        width: calc(33.3333333333333333% - 1rem);
    }
}
@media (min-width: 1800px) {
    .fullwidth .card--small {
        width: calc(25% - 1rem);
    }
}

@media (max-width: 767.98px) {
    .btn-group--title-nav {
        display: block;
        line-height: 1.2em;
    }
}
@media (min-width: 767.98px) {
    .btn-group--title-nav {
        position: relative;
        display: inline-flex;
        vertical-align: middle;
    }

    .btn-group--title-nav .btn {
        margin-right: 0;
        transform: translateY(0);
    }
    .btn-group--title-nav > .btn {
        position: relative;
        flex: 1 1 auto;
    }

    .btn-group--title-nav > .btn:hover {
        z-index: 1;
    }

    .btn-group--title-nav > .btn:focus,
    .btn-group--title-nav > .btn:active,
    .btn-group--title-nav > .btn.active {
        z-index: 1;
    }


    .btn-group--title-nav > .btn:not(:first-child),
    .btn-group--title-nav > .btn-group--title-nav:not(:first-child) {
        margin-left: -1px;
    }

    .btn-group--title-nav > .btn:not(:last-child):not(.dropdown-toggle),
    .btn-group--title-nav > .btn-group--title-nav:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-group--title-nav > .btn:not(:first-child),
    .btn-group--title-nav > .btn-group--title-nav:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.card-body {
    position: relative;
}
@media (max-width: 992px) {
    #width-toggle {
        display: none;
    }
}
.container.fullwidth {
    max-width: 100%;
}

@media (min-width: 992px) {
    .status__row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .status__col {
        position: relative;
        width: 100px;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 22%;
        max-width: 22%;
    }
}

.example__input, .example__output {
    font-family: monospace;
}

.contributor-card {
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}
.contributor-card img {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

h-hws[hidden] {
    display: inline !important;
}
code h-hws, code h-hws[hidden], h-hws.quote-inner, h-hws.quote-outer:lang(zh-CN), h-hws.quote-outer:lang(zh-Hans), h-hws[hidden].quote-inner, h-hws[hidden].quote-outer:lang(zh-CN), h-hws[hidden].quote-outer:lang(zh-Hans), kbd h-hws, kbd h-hws[hidden], pre h-hws, pre h-hws[hidden], samp h-hws, samp h-hws[hidden] {
    display: none !important;
}
.realname-group h-char.bd-jiya.bd-end::after,
.realname-group h-char.bd-jiya.bd-open::before,
.realname-group h-cs,
.realname-group h-cs[hidden] {
    white-space: unset;
}

.markdown-fallback {
    white-space: pre-wrap;
}

.realname-group.badge {
    margin-left: 0.4em;
    font-size: 0.66rem;
}

.api-scope {
    cursor: help;
    text-decoration: underline dashed;
}

.attachments__upload tbody tr {
    position: relative;
}
.attachments__upload tbody td {
    position: relative;
    z-index: 2;
    vertical-align: middle;
}
.attachments__upload tbody tr::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(201, 78, 109, .1);
    transform: scaleX(var(--progress, 0));
    transform-origin: 0 0;
    transition: transform 0.1s ease;
}
