# https://docs.gunicorn.org/en/23.0.0/deploy.html

[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
# gunicorn can let systemd know when it is ready
Type=notify
NotifyAccess=main
# the specific user that our service will run as
User=ojweb
Group=nogroup
# this user can be transiently created by systemd
# DynamicUser=true
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/TesutoHime
ExecStart=/opt/TesutoHime/venv/bin/gunicorn -w 16 web.web:oj
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# if your app does not need administrative capabilities, let systemd know
# ProtectSystem=strict

[Install]
WantedBy=multi-user.target
