[Unit]
Description=TesutoHime Web Server
After=network.target

[Service]
User=acmoj
Type=idle
WorkingDirectory=/home/acmoj/TesutoHime/
ExecStart=python3 -m web.main
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
