[Unit]
Description=TesutoHime Web Server
After=network.target

[Service]
User=ojweb
Type=idle
WorkingDirectory=/opt/TesutoHime/
ExecStart=/opt/TesutoHime/venv/bin/python3 -m web.main
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
