{%- macro contest_card(status, show_course_name = True) -%}
{%- from 'component/util.html' import render -%}
{%- set contest = status['contest'] -%}
{%- set (class_, icon, status_text) = {
  'future': ('info', 'clock', '未开始'),
  'completed': ('success', 'check-circle', '已完成'),
  'past-not-completed': ('danger', 'exclamation', '未完成'),
  'past': ('secondary', 'calendar-check', '已结束'),
  'in-progress': ('primary', 'spinner', '正在进行'),
  'near-end': ('warning', 'stopwatch', '即将结束'),
}[status['status']] -%}
{%- set contest_type = [ '比赛', '作业', '考试' ][contest.type] -%}
<a class="card card--contest mb-3 border-{{ class_ }}" href="/OnlineJudge/problemset/{{ contest.id }}">
  <div class="card-header">
    <span>{{ contest_type }}{% if show_course_name %} &middot; {{ contest.course.name }}{% endif %}</span>
    <span class="float-right">
      <span class="card--contest__time mr-2">{{ g.utils.readable_time_minutes(contest.start_time) }} &ndash; {{ g.utils.readable_time_minutes(contest.end_time) }}</span>
      <span class="card--contest__status font-weight-bold text-{{ class_ if class_ != 'secondary' }}"><i class="fa fa-{{ icon }}"></i> {{ status_text }}</span>
    </span>
  </div>
  <div class="card-body">
    <h5 class="mb-0">
      {{ contest.name }}
      <span class="float-right mt--1 z-index-100">
        {%- if status['enrolled'] -%}
        {%- if status['is-external'] and g.time <= contest.end_time -%}
        <form action="/OnlineJudge/problemset/{{ contest.id }}/quit" method="POST" onsubmit="return confirm('确认要退出{{ contest_type }}吗？')">
          {{ g.csrf() }}
          <button type="submit" class="btn btn-outline-primary">退出</button>
        </form>
        {%- else -%}
        <button disabled class="btn btn-outline-primary">已加入</button>
        {%- endif -%}
        {%- elif status['reason-cannot-join'] == None -%}
        <form action="/OnlineJudge/problemset/{{ contest.id }}/join" method="POST">
          {{ g.csrf() }}
          <button type="submit" class="btn btn-primary">报名</button>
        </form>
        {%- elif status['reason-cannot-join'] == 'in-exam' -%}
        <button disabled class="btn btn-outline-primary">已在考试中</button>
        {%- endif -%}
      </span>
    </h5>
    {%- if status['completion'] | length > 0 -%}
    <p class="card-text">{{ status['completion'] }}</p>
    {%- endif -%}
    {%- if contest.description != '' -%}
    <div class="card--contest__description mt-2">{{ render(contest.description) }}</div>
    {%- endif -%}
  </div>
</a>
{%- endmacro -%}
