{%- macro contest_card(status, show_course_name = True, show_type = True) -%}
{%- from 'component/util.html' import render -%}
{%- set contest = status['contest'] -%}
{%- set (class_, icon, status_text) = {
  'future': ('info', 'clock', '未开始'),
  'completed': ('success', 'check-circle', '已完成'),
  'past-not-completed': ('danger', 'exclamation', '未完成'),
  'past': ('ended', 'calendar-check', '已结束'),
  'in-progress': ('primary', 'spinner', '正在进行'),
  'near-end': ('warning', 'stopwatch', '即将结束'),
}[status['status']] -%}
{%- set contest_type = [ '比赛', '作业', '考试' ][contest.type] -%}
{%- set time_elapsed = (g.time - contest.start_time).total_seconds() -%}
{%- set time_overall = (contest.end_time - contest.start_time).total_seconds() -%}
{%- if time_overall > 0 -%}
{%- set percentage = (((100 * time_elapsed / time_overall) | int, 0) | max, 100) | min -%}
{%- else -%}
{%- set percentage = 0 if time_elapsed < 0 else 100 -%}
{%- endif -%}
<a class="card card--contest card--small border-{{ class_ }}" href="{{ url_for('web.problemset', contest=contest) }}">
  <div class="card-header" style="--progress: {{ percentage }}%">
    {%- if show_type -%}
    <div>
      <span class="card--contest__type">{{ contest_type }}{% if show_course_name %} &middot; {{ contest.course.name }}{% endif %}</span>
      <span class="card--contest__status text-{{ class_ }}"><i class="fa fa-{{ icon }}"></i> {{ status_text }}</span>
    </div>
    {%- endif -%}
    <div>
      <span class="card--contest__time mr-2">{{ g.utils.readable_time_minutes(contest.start_time) }}&ndash;{{ g.utils.readable_time_minutes(contest.end_time) }}</span>
      {%- if not show_type -%}
      <span class="card--contest__status text-{{ class_ }}"><i class="fa fa-{{ icon }}"></i> {{ status_text }}</span>
      {%- endif -%}
    </div>
  </div>
  <div class="card-body">
    <div class="mb-0 card--contest__name">
      {{ contest.name }}
      <span class="float-right z-index-100">
        {%- if status['enrolled'] -%}
        {%- if status['is-external'] and g.time <= contest.end_time -%}
        <form action="{{ url_for('web.problemset_quit', contest=contest) }}" method="POST" onsubmit="return confirm('确认要退出{{ contest_type }}吗？')">
          {{ g.csrf() }}
          <input type="hidden" name="back" value="{{ request.full_path }}">
          <button type="submit" class="btn btn-outline-primary btn-sm">退出</button>
        </form>
        {%- else -%}
        <button disabled class="btn btn-outline-primary btn-sm">已加入</button>
        {%- endif -%}
        {%- elif status['reason-cannot-join'] is None -%}
        <form action="{{ url_for('web.problemset_join', contest=contest) }}" method="POST">
          {{ g.csrf() }}
          <button type="submit" class="btn btn-primary btn-sm">加入</button>
        </form>
        {%- elif status['reason-cannot-join'] == 'in-exam' -%}
        <button disabled class="btn btn-outline-primary btn-sm">已在考试中</button>
        {%- endif -%}
      </span>
    </div>
    {%- if status['completion'] | length > 0 -%}
    <div class="card-text">{{ status['completion'] }}</div>
    {%- endif -%}
    {%- if contest.description != '' -%}
    <div class="card--contest__description mt-2">{{ render(contest.description) }}</div>
    {%- endif -%}
  </div>
</a>
{%- endmacro -%}
