<nav>
	<ul class="pagination justify-content-center">
		{% for text, index, display in pages -%}
			{%- if display == 1 -%}
				<li class="page-item active">
					<a class="page-link btn-light" href="javascript:void(0)"> {{ text }} </a>
				</li>
			{%- elif display != -1 -%}
				<li class="page-item">
					<a class="page-link btn-light" href="?page={{ index }}
					{%- for arg in args.items() -%}
						&{{ arg[0] }}={{ arg[1] }}
					{%- endfor -%}
					"> {{ text }} </a>
				</li>
			{%- endif -%}
		{%- endfor %}
	</ul>
</nav>
