{%- macro render(text) -%}
<noscript><span class="markdown-fallback" title="启用 JavaScript 以获得更好的显示效果。">{{ text }}</span></noscript>
<script language="text/markdown">{{ text | tojson }}</script>
{%- endmacro -%}

{%- macro render_styles() -%}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{%- endmacro -%}

{%- macro render_scripts() -%}
<script src="{{ url_for('.static', filename = 'lib/purify.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/render.js') }}?v=20240131"></script>
{%- endmacro -%}
