{% macro page_switcher(pages, args) -%}
<nav>
  <ul class="pagination justify-content-center">
    {% for text, index, display in pages -%}
      {%- if display == 1 -%}
        <li class="page-item active">
          <a class="page-link btn-light" href="javascript:void(0)"> {{ text }} </a>
        </li>
      {%- elif display != -1 -%}
        <li class="page-item">
          <a class="page-link btn-light" href="?page={{ index }}
          {%- for arg in args.items() -%}
            &{{ arg[0] }}={{ arg[1] }}
          {%- endfor -%}
          "> {{ text }} </a>
        </li>
      {%- endif -%}
    {%- endfor %}
  </ul>
</nav>
{%- endmacro %}


{%- macro _display_real_name(real_name) -%}
<span class="realname" title="班级：{{ real_name.course.name }}">{{ real_name.real_name }}</span>
{%- for group in real_name.groups -%}
<span class="realname-group badge badge-secondary">{{ group.name }}</span>
{% endfor -%}
{%- endmacro -%}

{%- macro display_real_name(real_names) -%}
{%- if real_names is sequence -%}
{%- if real_names | length > 0 -%}
<!-- TODO -->
{{ _display_real_name(real_names[0]) }}
{%- endif -%}
{%- elif real_names != None -%}
{{ _display_real_name(real_names) }}
{%- endif -%}
{%- endmacro -%}


{%- macro render(text) -%}
<noscript><span class="markdown-fallback" title="启用 JavaScript 以获得更好的显示效果。">{{ text }}</span></noscript>
<script language="text/markdown">{{ text | tojson }}</script>
{%- endmacro -%}

{%- macro render_styles() -%}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{%- endmacro -%}

{%- macro render_scripts() -%}
<script src="{{ url_for('.static', filename = 'lib/purify.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/render.js') }}?v=20240131"></script>
{%- endmacro -%}


{%- macro option_list(options, current) -%}
{%- for k in options -%}
<option value="{{ k }}"{{ ' selected' if current == k }}>{{ options[k] }}</option>
{%- endfor -%}
{%- endmacro -%}


{%- macro datetime_local(d) -%}
{{ d.isoformat(timespec='minutes') }}
{%- endmacro -%}


{%- set current_tab_remember = namespace(t=None) -%}
{%- macro nav_tab_list(tabs, default_tab, title_nav = False) -%}
{%- set current_tab = request.args.get('tab', default_tab) if 'current_tab' not in g else g.current_tab -%}
{%- set current_tab_remember.t = current_tab -%}
{%- set classes = 'title-nav__nav' -%}
{%- if not title_nav -%}
{%- set classes = 'nav-fill' -%}
<div class="nav-wrapper">
{%- endif -%}
  <ul class="nav nav-pills flex-column flex-md-row {{ classes }}" role="tablist">
    {%- for tabname in tabs -%}
    {%- set active = tabname == current_tab -%}
    <li class="nav-item">
      <a class="nav-link mb-sm-2 mb-md-0{{ ' active' if active }}" id="{{ tabname }}-tab-btn" data-toggle="tab" href="#{{ tabname }}-tab" role="tab" aria-controls="{{ tabname }}-tab" aria-selected="{{ 'true' if active else 'false' }}">{{ tabs[tabname] }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- if not title_nav -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- macro begin_tab(name) -%}
class="tab-pane fade{{ ' show active' if name == current_tab_remember.t }}" id="{{ name }}-tab" role="tabpanel" aria-labelledby="{{ name }}-tab-btn"
{%- endmacro -%}

{%- macro show_alert() -%}
{%- if 'alert' in g and g.alert != None -%}
<div class="alert alert-{{ g.alert['type'] }}" role="alert">{{ g.alert['content'] }}</div>
{%- endif -%}
{%- endmacro -%}
