{%- macro _display_real_name(real_name) -%}
<span class="realname" title="班级：{{ real_name.course.name }}">{{ real_name.real_name }}</span>
{%- for group in real_name.groups -%}
<span class="realname-group badge badge-secondary">{{ group.name }}</span>
{% endfor -%}
{%- endmacro -%}

{%- macro display_real_name(real_names) -%}
{%- if real_names is sequence -%}
{%- if real_names | length > 0 -%}
<!-- TODO -->
{{ _display_real_name(real_names[0]) }}
{%- endif -%}
{%- elif real_names != None -%}
{{ _display_real_name(real_names) }}
{%- endif -%}
{%- endmacro -%}


{%- macro render(text) -%}
<noscript><span class="markdown-fallback" title="启用 JavaScript 以获得更好的显示效果。">{{ text }}</span></noscript>
<script language="text/markdown">{{ text | tojson }}</script>
{%- endmacro -%}

{%- macro render_styles() -%}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{%- endmacro -%}

{%- macro render_scripts() -%}
<script src="{{ url_for('.static', filename = 'lib/purify.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/render.js') }}?v=20240131"></script>
{%- endmacro -%}


{%- macro option_list(options, current) -%}
{%- for k in options -%}
<option value="{{ k }}"{{ ' selected' if current == k }}>{{ options[k] }}</option>
{%- endfor -%}
{%- endmacro -%}


{%- macro datetime_local(d) -%}
{{ d.isoformat(timespec='minutes') }}
{%- endmacro -%}
