[Unit]
Description=TesutoHime Judge Server
After=network.target

[Service]
Type=idle
ExecStart=python3 /home/Amagi/TesutoHime/Judger/run.py
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target