[Unit]
Description=TesutoHime Scheduler v2
After=network.target

[Service]
Type=idle
User=acmoj
WorkingDirectory=/home/acmoj/TesutoHime/
ExecStart=python3 -m scheduler2.main
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
