{% extends 'base.html' %} {% set page='关于' %} {% block content %}
<div class="card card-body">
    <h1 class="text-center">关于</h1>
    <h4>使用的技术：</h4>
    <p>本 OJ 基于 TesutoHime，<wbr>开源地址为 <a href="https://github.com/ACMClassOJ/Open-TesutoHime" target="_blank">Open-TesutoHime</a>。</p>
    <p>
        <span>服务器部署：</span><wbr><!--
     --><a href="https://www.debian.org/" target="_blank">Debian GNU/Linux</a>，<wbr><!--
     --><a href="https://ubuntu.com/server" target="_blank">Ubuntu Server</a>。
    </p>
    <p>
        <span>评测机：</span><wbr><!--
     --><a href="https://nsjail.dev/" target="_blank">nsjail</a>，<wbr><!--
     --><a href="https://docs.aiohttp.org/" target="_blank">aiohttp</a>。
    </p>
    <p>
        <span>Web 与前端：</span><wbr><!--
     --><a href="https://mariadb.org/" target="_blank">MariaDB</a>，<wbr><!--
     --><a href="https://redis.io/" target="_blank">Redis</a>，<wbr><!--
     --><a href="https://min.io/" target="_blank">MinIO</a>，<wbr><!--
     --><a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>，<wbr><!--
     --><a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a>，<wbr><!--
     --><a href="https://www.creative-tim.com/product/argon-design-system" target="_blank">Argon Design</a>。
    </p>
    <hr class="mt-3">
    <h4>评测状态解释：</h4>
    <div class="d-none d-xl-block">
        <div class="row">
            <div class="col-sm-3"><span class="text-gray">Pending</span>:</div>
            <p>等待测试。这可能由于评测机正忙，也可能由于所有评测机均已下线。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-blue">Compiling</span>:</div>
            <p>正在编译。你的程序正在被评测机编译成可执行文件。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-blue">Running & Judging</span>:</div>
            <p>正在测试。你的程序正在被评测机运行以检查正确性。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-green">Accepted</span>:</div>
            <p>通过。你的程序正确通过全部测试点。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-gray-dark">Aborted</span>:</div>
            <p>评测中断。这可能是由于你或管理员手动中断了评测，也可能是因为评测机在评测时下线。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-brown">Voided</span>:</div>
            <p>成绩无效。你的程序被管理员标记为无效。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-red">Wrong Answer</span>:</div>
            <p>答案错误。你的程序在某个测试点输出了错误的答案。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-yellow">Compile Error</span>:</div>
            <p>编译错误。你的程序没有通过编译。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-red">Runtime Error</span>:</div>
            <p>运行时错误。你的程序在运行时发生崩溃，这可能由于数组越界、程序返回值不为 0、除以 0 等。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-orange">Time Limit Exceed</span>:</div>
            <p>时间超限。你的程序没有在规定时间内得出答案，这可能由于死循环，或算法复杂度过高。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-orange">Memory Limit Exceed</span>:</div>
            <p>内存超限。你的程序请求了过多的内存。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-purple">Memory Leak</span>:</div>
            <p>内存泄露。你的程序输出了正确的答案，但是却发生内存泄露，请检查动态内存管理。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-purple">Disk Limit Exceed</span>:</div>
            <p>磁盘超限。你的程序使用了过多的磁盘空间，请检查磁盘空间管理。</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><span class="text-gray-dark">System Error</span>:</div>
            <p>系统错误。评测系统在测试你的程序时出现错误，请联系管理员处理。</p>
        </div>
    </div>
    <div class="d-block d-xl-none">
        <p><span class="text-gray">Pending</span>: 等待测试。这可能由于评测机正忙，也可能由于所有评测机均已下线。</p>
        <p><span class="text-blue">Compiling</span>: 正在编译。你的程序正在被评测机编译成可执行文件。</p>
        <p><span class="text-blue">Running & Judging</span>: 正在测试。你的程序正在被评测机运行以检查正确性。</p>
        <p><span class="text-gray-dark">Aborted</span>: 评测中断。这可能是由于你或管理员手动中断了评测，也可能是因为评测机在评测时下线。</p>
        <p><span class="text-brown">Voided</span>: 成绩无效。你的程序被管理员标记为无效。</p>
        <p><span class="text-green">Accepted</span>: 通过。你的程序正确通过全部测试点。</p>
        <p><span class="text-red">Wrong Answer</span>: 答案错误。你的程序在某个测试点输出了错误的答案。</p>
        <p><span class="text-yellow">Compile Error</span>: 编译错误。你的程序没有通过编译。</p>
        <p><span class="text-red">Runtime Error</span>: 运行时错误。你的程序在运行时发生崩溃，这可能由于数组越界、程序返回值不为 0、除以 0 等。</p>
        <p><span class="text-orange">Time Limit Exceed</span>: 时间超限。你的程序没有在规定时间内得出答案，这可能由于死循环，或算法复杂度过高。</p>
        <p><span class="text-orange">Memory Limit Exceed</span>: 内存超限。你的程序请求了过多的内存。</p>
        <p><span class="text-purple">Memory Leak</span>: 内存泄露。你的程序输出了正确的答案，但是却发生内存泄露，请检查动态内存管理。</p>
        <p><span class="text-purple">Disk Limit Exceed</span>: 磁盘超限。你的程序使用了过多的磁盘空间，请检查磁盘空间管理。</p>
        <p><span class="text-gray-dark">System Error</span>：系统错误。评测系统在测试你的程序时出现错误，请联系管理员处理。</p>
    </div>
    <hr class="mt-3">
    <h4 id="migration">有关从老 OJ 迁移后题面与数据的兼容性问题</h4>
    <p><a href="/OnlineJudge-old/">Legacy OfflineJudge</a> 所有题库与测试数据已完成迁移与评测测试，已可在本 OJ 评测老 OJ 题目。</p>
    <p>老 OJ 题号加 10000 即为新 OJ 题号，如，老 OJ 1000 -> 新 OJ 11000。</p>
    <p>
        <b>由于没有标程而无法得知数据正确性的题目如下：</b>
        <code style="color: black;">11077, 11099, 11102, 11103, 11104, 11105, 11106, 11126, 11140, 11199, 11203, 11206, 11211, 11221, 11225, 11226,
        11228, 11231, 11236, 11246, 11251, 11267, 11271, 11278, 11284, 11305, 11311, 11314, 11319, 11325, 11348, 11349, 11358, 
        11359, 11367, 11369, 11370, 11371, 11393, 11406, 11407, 11413, 11510, 11545, 11547, 11548, 11559, 11564, 11566, 11572, 
        11588, 11630, 11636, 12202, 13008, 13013, 13024, 13034, 13037, 13039, 13042, 14001, 14002, 14003, 14004, 14005, 14006, 
        14007, 14012, 14013, 14025, 14053, 14057, 14058, 14093, 14096, 14141, 14155, 14179, 14200, 14201, 14212, 14231, 14232, 
        14276, 14277, 14286, 14293, 14296, 14297, 14302, 14303, 14323, 14337</code>
    </p>
    <p>
        <b>测试可能存在正确性问题的题目如下：</b>
        <code style="color: black;">11029, 11030, 11050, 11071, 11095, 11111, 11113, 11115, 11119, 11120, 11133, 11134,
        11141, 11216, 11229, 11232, 11237, 11245, 11249, 11252, 11260, 11261, 11263, 11276, 11279, 11283, 11285, 11286, 11293,
        11298, 11300, 11301, 11302, 11306, 11307, 11310, 11313, 11327, 11332, 11337, 11338, 11340, 11343, 11347, 11364, 11373,
        11374, 11378, 11382, 11384, 11385, 11395, 11399, 11401, 11402, 11404, 11412, 11509, 11512, 11513, 11516, 11517, 11518,
        11519, 11520, 11521, 11525, 11526, 11527, 11528, 11529, 11530, 11534, 11540, 11550, 11552, 11555, 11562, 11570, 11587,
        11589, 11594, 11595, 11599, 11605, 11617, 11619, 11622, 11624, 11627, 11629, 11631, 11635, 11641, 11987, 11990, 11995,
        12100, 12105, 12109, 12113, 12203, 12206, 12207, 12209, 12211, 12212, 13001, 13004, 13007, 13016, 13017, 13021, 13022,
        13032, 13035, 13038, 13044, 13046, 14010, 14016, 14017, 14018, 14019, 14020, 14063, 14065, 14094, 14115, 14124, 14137,
        14156, 14166, 14188, 14190, 14194, 14208, 14224, 14236, 14238, 14263, 14267, 14282, 14288, 14290, 14299, 14300, 14330,
        14338, 14349, 14350, 14361, 14368, 14370, 14381, 14388</code>
    </p>
    <p>另，老 OJ 由于采用不同插件渲染公式，无法保证所有题面正确渲染，请知悉。</p>
    <hr class="mt-3">
    <h4>Current Maintainer:</h4>
    有任何问题请直接发邮件联系任意一个运维组成员。
    <div class="row mt-3">
        {% for mntner in mntners %}
        <div class="col-lg-3 m-auto">
            <a href="{{ mntner.link }}" target="_blank">
                <img class="img-fluid w-100" alt="Avatar of {{ mntner.name }}" src="{{ mntner.avatar }}">
            </a>
            <p class="text-center">
                <a href="{{ mntner.link }}" target="_blank" class="text-primary">{{ mntner.name }}</a>
                <br>
                <a href="mailto:{{ mntner.email }}" class="text-primary">{{ mntner.email }}</a>
            </p>
        </div>
        {% endfor %}
    </div>
    <hr class="mt-3">
    <h4>Contributors (排名不分先后):</h4>
    <div class="row">
        {% for contributor in contributors %}
        <div class="col-lg-3 m-auto">
            <a href="{{ contributor.link }}" target="_blank">
                <img class="img-fluid w-100" alt="Avatar of {{ contributor.name }}" src="{{ contributor.avatar }}">
            </a>
            <p class="text-center">
                <a href="{{ contributor.link }}" target="_blank" class="text-primary">{{ contributor.name }} ({{ contributor.year }})</a>
                <br>
                <span>{{ contributor.description }}</span>
            </p>
        </div>
        {% endfor %}
    </div>

    <hr class="mt-3">
    <h4>评测机状态</h4>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="judge_server_list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>代号</th>
                    <th>配置</th>
                    <th>最后上线时间</th>
                    <th>状态</th>
                    <th>详情</th>
                    <th>贡献者</th>
                </tr>
            </thead>
            {% for runner in runner2 -%}
            <tr>
                <td>{{ runner['id'] }}</td>
                <td>{{ runner['name'] }}</td>
                <td>{{ runner['hardware'] }}</td>
                <td>{{ runner['last_seen'] }}</td>
                <td>
                    <span class="text-{{runner['status_color']}}">
                        {{ runner['status'] }}
                    </span>
                </td>
                <td>{{ runner['message'] }}</td>
                <td>{{ runner['provider'] }}</td>
            </tr>
            {%- endfor %}
        </table>
    </div>
</div>
{% endblock %}
