{% extends 'base.html' %} {% set page='账户和个人信息文档' %} {% block content %}
<div class="card card-body">
<h1 id="账户和个人信息文档">账户和个人信息文档</h1>
<p><em>By LauYeeYu，更新于 2024.2.5。</em></p>
<h2 id="注册账户">注册账户</h2>
<p>如果目前已经登录，请先<a href="#登出">登出</a>。</p>
<p>在 ACM Class OnlineJudge
页面点击右上方「注册」按钮，然后填写用户名、密码、昵称、学号信息，点击「注册」按钮完成注册。</p>
<p>用户名和学号一旦注册不可更改，昵称和密码可以在个人信息页面更改。具体要求为：</p>
<ul>
<li>用户名：20
位以内的大小写字母或数字（第一位必须是字母），用于唯一确定用户，一经注册不可更改；</li>
<li>密码：6-128 位大小写字母、数字或特殊字符；</li>
<li>昵称：32 位以内的大小写字母、数字、下划线；</li>
<li>学号：12 位学号，博士生请以 0
开头，用于实名和分数登记，一经注册不可更改。</li>
</ul>
<h2 id="修改昵称密码">修改昵称密码</h2>
<p>在任何页面展开右上方的用户昵称处的选项，然后点击「个人信息」按钮，按需输入对应部分（如需修改密码，则需要重复输入一遍密码），点击「修改」按钮完成修改。</p>
<h2 id="登出">登出</h2>
<p>在任何页面展开右上方的用户昵称处的选项，然后点击「登出」按钮。</p>
<h2 id="忘记密码">忘记密码</h2>
<p>如果您忘记了 ACM Class OnlineJudge
的密码，您可以给服务器运维组发送邮件，并附上您的姓名、学号以及注册时使用的
OJ 用户名，运维组会协助您找回账户并修改密码。</p>
</div>
{% endblock %}
