{% extends "base.html" %}

{% set page="Admin" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center"> 管理 </h1>
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="main_tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 active" id="problem_tab_btn" data-toggle="tab" href="#problem_tab" role="tab" aria-controls="problem_tab" aria-selected="true">题面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="contest_tab_btn" data-toggle="tab" href="#contest_tab" role="tab" aria-controls="contest_tab" aria-selected="false">比赛与作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="data_zip_tab_btn" data-toggle="tab" href="#data_zip_tab" role="tab" aria-controls="data_zip_tab" aria-selected="false">数据（ZIP）</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="data_tab_btn" data-toggle="tab" href="#data_tab" role="tab" aria-controls="data_tab" aria-selected="false">数据（GUI）</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="judge_tab_btn" data-toggle="tab" href="#judge_tab" role="tab" aria-controls="judge_tab" aria-selected="false">评测</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="pic_tab_btn" data-toggle="tab" href="#pic_tab" role="tab" aria-controls="pic_tab" aria-selected="false">图床</a>
                </li>
                {% if privilege>=Privilege.SUPER %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="user_tab_btn" data-toggle="tab" href="#user_tab" role="tab" aria-controls="user_tab" aria-selected="false">用户</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="realname_tab_btn" data-toggle="tab" href="#realname_tab" role="tab" aria-controls="realname_tab" aria-selected="false">实名管理</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content" id="main_tab_content">
                    {% if privilege>=Privilege.SUPER %}
                    <div class="tab-pane fade" id="user_tab" role="tabpanel" aria-labelledby="user_tab-tab">
                        <form id="formUser">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="iptUsername"> Username </label>
                                    <input class="form-control" type="text" name="username" id="iptUsername">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptStudentId"> Student ID </label>
                                    <input class="form-control" type="number" name="id" id="iptStudentId">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptFriendlyName"> Friendly Name </label>
                                    <input class="form-control" type="text" name="name" id="iptFriendlyName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptPassword"> Password </label>
                                    <input class="form-control" type="password" name="password" id="iptPassword">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptPrivilege"> Privilege </label>
                                    <input class="form-control" type="number" name="privilege" id="iptPrivilege">
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddUser"> Add User </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnModifyUser"> Modify User </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRemoveUser"> Remove User </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="tab-pane fade" id="contest_tab" role="tabpanel" aria-labelledby="contest_tab-tab">
                        <form id="formContest">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="iptContestID"> 比赛ID <span class="badge" id="iptContestStatusBadge"></span></label>
                                    <input class="form-control" type="number" name="contest_id" id="iptContestID">
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnGetContestAutoIncreseID"> 获取最新空比赛ID </button>
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnGetContestDetails"> 查看比赛情况 </button>
                                </div>
                            </div>
                            <div class="form-row" id="divContestHidden">
                                <div class="form-group col-md-3">
                                    <label for="iptContestName"> 比赛名称 </label>
                                    <input class="form-control" type="text" name="name" id="iptContestName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptStartTime"> 起始时间 (YYYY-MM-DDThh:mm:ss) </label>
                                    <input class="form-control" type="datetime-local" name="start_time" id="iptStartTime">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptEndTime"> 结束时间 (YYYY-MM-DDThh:mm:ss) </label>
                                    <input class="form-control" type="datetime-local" name="end_time" id="iptEndTime">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptContestType"> 比赛类型 </label>
                                    <select class="form-control selectpicker" name="contest_type" id="iptContestType"
                                            data-style="form-control font-weight-normal border-grey shadow-none">
                                        <option value="0">比赛，记分，排名</option>
                                        <option value="1">作业，记通过，不排名</option>
                                    </select>
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnCreateContest"> 创建比赛 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnModifyContest"> 修改比赛 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRemoveContest" onclick="return confirm('确认要删除吗？');"> 删除比赛 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnShowProblemList"> 修改比赛题号列表 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnShowUserList"> 修改参赛学生列表 </button>
                                </div>
                            </div>
                            <div class="form-row" id="divContestProblemListHidden">
                                <div class="form-group col-md-3">
                                    <label for="iptContestProblemId"> 题号（回车分隔） </label>
                                    <textarea class="form-control" name="id" id="iptContestProblemId"></textarea>
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddProblemToContest"> 添加题号 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRemoveProblemFromContest" onclick="return confirm('确认要删除吗？');"> 删除题号 </button>
                                </div>
                            </div>
                            <div class="form-row" id="divContestUserListHidden">
                                <div class="form-group col-md-3">
                                    <label for="iptContestStudentUsername"> 参赛学生用户名（回车分隔） </label>
                                    <textarea class="form-control" name="username" id="iptContestStudentUsername"></textarea>
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddUserToContest"> 添加用户 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRemoveUserFromContest" onclick="return confirm('确认要删除吗？');"> 删除用户 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade show active" id="problem_tab" role="tabpanel" aria-labelledby="problem_tab-tab">
                        <form id="formProblem">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="iptProblemID"> 题号 <span class="badge" id="iptProblemStatusBadge"></span></label>
                                    <input class="form-control" type="number" name="id" id="iptProblemID">
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnGoToProblemPage"> 跳转到题目详情页面 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnGetProblemAutoIncreseID"> 获取最新空题号 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="button" id="btnGetProblemDetails"> 查看题目状态 </button>
                                </div>
                            </div>
                            <div class="form-row" id="divProblemHidden">
                                <div class="form-group col-md-3">
                                    <label for="iptTitle"> 题目标题 </label>
                                    <input class="form-control" type="text" name="title" id="iptTitle">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptReleaseTime"> 发布时间 (YYYY-MM-DDThh:mm:ss) </label>
                                    <input class="form-control" type="datetime-local" name="time" id="iptReleaseTime">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptProblemType"> 题目类型 </label>
                                    <select class="form-control selectpicker" name="problem_type" id="iptProblemType"
                                            data-style="form-control font-weight-normal border-grey shadow-none">
                                        <option value="0">代码题</option>
                                        <option value="1">填选题</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptDescription"> 题目描述 </label>
                                    <textarea class="form-control" name="description" id="iptDescription"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptInput"> 输入格式 </label>
                                    <textarea class="form-control" name="input" id="iptInput"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptOutput"> 输出格式 </label>
                                    <textarea class="form-control" name="output" id="iptOutput"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptExampleInput"> 样例输入 </label>
                                    <textarea class="form-control" name="example_input" id="iptExampleInput"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptExampleOutput"> 样例输出 </label>
                                    <textarea class="form-control" name="example_output" id="iptExampleOutput"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptDataRange"> 数据范围 </label>
                                    <textarea class="form-control" name="range" id="iptDataRange"></textarea>
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddProblem"> 添加问题 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnModifyProblem"> 修改问题 </button>
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRemoveProblem" onclick="return confirm('确认要删除吗？');"> 删除问题 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="data_zip_tab" role="tabpanel" aria-labelledby="data_zip_tab-tab">
                        <div class="card card-body">
                            <h3> 上传数据压缩包 </h3>
                            <form id="formDataZipUpload">
                                <div class="form-row">
                                    <div class="form-group custom-file col-md-3 mb-3">
                                        <label class="custom-file-label ml-1 mr-1" for="iptDataZipUpload"> 请选择数据压缩包 </label>
                                        <input class="custom-file-input" type="file" name="file" id="iptDataZipUpload" accept=".zip" required="required">
                                    </div>
                                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDataZipUpload"> 点击上传 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card card-body">
                            <h3>下载数据压缩包 </h3>
                            <form id="formDataZipDownload" action="/OnlineJudge/admin/data_download" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptDataZipDownload"> 题号 </label>
                                        <input class="form-control" type="number" name="id" id="iptDataZipDownloadProblemID" required="required" min="1">
                                    </div>
                                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDataZipDownload"> 点击下载 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="judge_tab" role="tabpanel" aria-labelledby="judge_tab-tab">
                        <div class="card card-body">
                            <h3> 重测 </h3>
                            <form id="formRejudge" action="/OnlineJudge/admin/rejudge" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptRejudgeJudgeID"> 评测编号 </label>
                                        <input class="form-control" type="number" name="judge_id" id="iptRejudgeJudgeID" required="required" min="1">
                                    </div>
                                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRejudge"> 重测 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card card-body">
                            <h3> 添加一条评测 </h3>
                            <form id="formAddJudge" action="/OnlineJudge/admin/add_judge" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptAddJudgeProblemID"> 题目编号 </label>
                                        <input class="form-control" type="number" name="problem_id" id="iptAddJudgeProblemID" required="required" min="1000">
                                    </div>
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptAddJudgeUsername"> 用户名 </label>
                                        <input class="form-control" type="text" name="username" id="iptAddJudgeUsername" required="required">
                                    </div>
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptAddJudgeLang"> 语言 </label>
                                        <select id="iptAddJudgeLang" name="lang" class="form-control input-group py-0 selectpicker"
                                                data-style="form-control rounded border-grey shadow-none font-weight-normal">
                                            <option value="cpp" selected="selected">C++</option>
                                            <option value="git">Git</option>
                                            <option value="Verilog">Verilog</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3 mb-3">
                                        <label for="iptAddJudgeShare"> 代码对他人是否可见 </label>
                                        <select id="iptAddJudgeShare" name="share" class="form-control input-group py-0 selectpicker"
                                                data-style="form-control rounded border-grey shadow-none font-weight-normal">
                                            <option value="0" selected="selected">不可见</option>
                                            <option value="1">可见</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="iptAddJudgeCode"> 代码 </label>
                                        <textarea class="form-control" name="user_code" id="iptAddJudgeCode" required="required"></textarea>
                                    </div>
                                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddJudge"> 添加评测 </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pic_tab" role="tabpanel" aria-labelledby="pic_tab-tab">
                        <h3> 上传图片到 ACM OJ 图床 </h3>
                        <form id="formPicUpload" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptPicUpload"> gif，jpg/jpeg，png，svg </label>
                                    <input class="custom-file-input" type="file" name="file" id="iptPicUpload" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg+xml" required="required">
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnPicUpload"> 点击上传 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="data_tab" role="tabpanel" aria-labelledby="data_tab-tab">
                        <form id="formData">
                            <div class="form-row">
                                <div class="form-group col-md-3 mb-3">
                                    <label for="iptDataProblemID"> 题号 </label>
                                    <input class="form-control" type="number" name="id" id="iptDataProblemID">
                                </div>
                                <div class="form-group col-md-3 mb-3">
                                    <label for="iptCompileTime"> 编译时长限制 (ms) </label>
                                    <input class="form-control" type="number" name="time" id="iptCompileTime">
                                </div>
                                <div class="form-group col-md-3 mb-3">
                                    <label for="iptSpjType"> SPJ类型 </label>
                                    <select class="form-control selectpicker" name="type" id="iptSpjType"
                                            data-style="form-control font-weight-normal border-grey shadow-none">
                                        <option value="0">Classic</option>
                                        <option value="1">Special Judge</option>
                                        <option value="2">Interaction</option>
                                        <option value="3">Scorer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptDescriptionMd"> 题面 (md doc(x) txt) </label>
                                    <input class="custom-file-input" type="file" name="description_md" id="iptDescriptionMd" 
                                           accept=".md,.doc,.docx,.txt">
                                </div>
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptData"> 测试数据 (in out ans 多选) </label>
                                    <input class="custom-file-input" type="file" name="data" id="iptData" accept=".in,.ans,.out"
                                           multiple>
                                </div>
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptSolution"> 标答 std (cpp hpp v 多选) </label>
                                    <input class="custom-file-input" type="file" name="solution" id="iptSolution" accept=".cpp, .hpp, .v"
                                           multiple>
                                </div>
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptSpj"> Special Judge (cpp) </label>
                                    <input class="custom-file-input" type="file" name="data" id="iptSpj">
                                </div>                           
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptScorer"> Scorer </label>
                                    <input class="custom-file-input" type="file" name="data" id="iptScorer" accept=".py">
                                </div>
                                <!--
                                <div class="form-group custom-file col-md-3 mb-3">
                                    <label class="custom-file-label ml-1 mr-1" for="iptConfig"> Config (json) </label>
                                    <input class="custom-file-input" type="file" name="config" id="iptConfig" accept=".json">
                                </div>
                                -->
                            </div>
                            <p>*此处的题面上传仅会留在数据包中，暂不会修改数据库中题面，请切换至题面选项卡手动修改。</p>
                            <div class="card card-body">
                                <h5 class="mt-2"> 评测组配置（新增行会自动复制上一行内容） </h5>
                                <div class="table-responsive mb-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">Group ID</th>
                                            <th scope="col">Group Name</th>
                                            <th scope="col">Group Score</th>
                                            <th scope="col">Test Points (separated by ",")</th>
                                        </tr>
                                        </thead>
                                        <tbody contenteditable="true" id="tableGroups">
                                        <tr>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>10</td>
                                            <td>1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="float-right">
                                        <button class="btn btn-outline-primary" type="button" id="btnAddGroupsRow">Add Row</button>
                                        <button class="btn btn-outline-primary" type="button" id="btnRemoveGroupsRow">Remove Row
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body">
                                <h5 class="mt-2"> 数据点配置（新增行会自动复制上一行内容） </h5>
                                <div class="table-responsive mb-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Dependency</th>
                                            <th scope="col">Time Limit (ms)</th>
                                            <th scope="col">Memory Limit (Byte)</th>
                                            <th scope="col">Disk Limit (Byte)</th>
                                            <th scope="col">Valgrind</th>
                                        </tr>
                                        </thead>
                                        <tbody contenteditable="true" id="tableDetails">
                                        <tr>
                                            <td>1</td>
                                            <td>0</td>
                                            <td>1000</td>
                                            <td>256000000</td>
                                            <td>0</td>
                                            <td contenteditable="false">
                                                <div class="custom-checkbox ml-3">
                                                    <input class="form-check-input" type="checkbox" id="iptValgrind1">
                                                    <label class="form-check-label" for="iptValgrind1"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="float-right">
                                        <button class="btn btn-outline-primary" type="button" id="btnAddDetailsRow">Add Row</button>
                                        <button class="btn btn-outline-primary" type="button" id="btnRemoveDetailsRow">Remove Row
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="float-right d-flex ml-auto pr-1 mb-3">
                                <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddProblemData"> 打包上传所有数据 </button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="realname_tab" role="tabpanel" aria-labelledby="realname_tab-tab">
                        <h3> 批量添加实名信息 </h3>
                        <p> 左右一一对应，文本框请均以回车分割，实名建议格式为年份-课程-名字，如 22-IEEE算法-张三。如果同一学号出现了多条实名信息，系统将以最后一条导入的为准。 </p>
                        <form id="formRealname" action="/OnlineJudge/admin/add_realname" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="iptRealnameStudentID"> 学号 </label>
                                    <textarea class="form-control" name="student_id" id="iptRealnameStudentID"></textarea>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="iptRealnameYearCourseName"> 实名 </label>
                                    <textarea class="form-control" name="year_course_name" id="iptRealnameYearCourseName"></textarea>
                                </div>
                                <div class="float-right d-flex mb-3 ml-auto pr-1">
                                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddRealname"> 添加实名信息 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/jszip.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/admin.js') }}"></script>
{% endblock %}
