{% extends "base.html" %}

{% set page="管理" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="title-nav">
            <span class="title-nav__title">管理</span>
            {%- set tabs = { 'problem': '题目', 'judge': '评测' } -%}
            {%- if g.user.privilege >= g.consts.Privilege.SUPER -%}
            {%- do tabs.update({ 'user': '用户' }) -%}
            {%- endif -%}
            {{ nav_tab_list(tabs, 'problem', True) }}
        </h1>
        <hr>
        <div class="tab-content">
            <div {{ begin_tab('problem') }}>
                <h3>管理已有题目</h3>
                <form id="form-jump-problem">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="problem-id">题目 ID</label>
                            <input class="form-control" type="number" id="problem-id" required>
                        </div>
                        <div class="d-flex mb-3">
                            <button type="submit" class="btn btn-outline-primary mt-auto">跳转</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h3>新建题目</h3>
                <p>题目需要有所属的班级。请在班级管理界面的「题目」选项卡中创建题目。</p>
            </div>


            <div {{ begin_tab('judge') }}>
                <p> 
                    <strong>警告</strong>: 在评测记录多时，以下操作十分缓慢。严禁多次点击按钮，否则会导致严重性能问题。
                </p>
                <h3> 批量重测 </h3>
                <form id="formRejudge" action="{{ url_for('.rejudge') }}" method="POST">
                    {{ g.csrf() }}
                    <input type="hidden" name="type" value="by_judge_id">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptRejudgeJudgeID"> 评测编号（回车分隔） </label>
                            <textarea class="form-control" name="judge_id" id="iptRejudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRejudge"> 批量重测 </button>
                        </div>
                    </div>
                </form>

                <hr>

                <h3> 批量题目重测 </h3>
                <form id="formRejudge2" action="{{ url_for('.rejudge') }}" method="POST">
                    {{ g.csrf() }}
                    <input type="hidden" name="type" value="by_problem_id">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptRejudgeJudgeID2"> 题目编号（回车分隔） </label>
                            <textarea class="form-control" name="problem_id" id="iptRejudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRejudge2"> 批量题目重测 </button>
                        </div>
                    </div>
                </form>

                <hr>
                <h3>批量取消成绩</h3>
                <p> 
                    将指定的评测记录内容设置为 Voided 并判零分。请注意，对于一条已在 Running and Judging 状态的评测任务，设置为 Voided 状态后，
                    评测机仍有可能返回评测结果，此时 Voided 状态将被真实的评测记录覆盖。若想中断评测，请使用终止评测 (abort) 功能。
                    因此，建议在如下情况使用此功能：需要作废一条已经出了结果的评测记录。
                </p>
                <form id="formDisableJudge" action="{{ url_for('.mark_void') }}" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_judge_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptDisableJudgeJudgeID"> 评测编号（回车分隔） </label>
                            <textarea class="form-control" name="judge_id" id="iptDisableJudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDisableJudge">批量取消成绩</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h3>批量题目取消成绩</h3>
                <form id="formDisableJudge2" action="{{ url_for('.mark_void') }}" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_problem_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptDisableJudgeJudgeID2"> 题目编号（回车分隔） </label>
                            <textarea class="form-control" name="problem_id" id="iptDisableJudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDisableJudge2">批量题目取消成绩</button>
                        </div>
                    </div>
                </form>

                <hr>
                <h3>批量终止评测</h3>
                <p>若指定的评测记录还在评测中，则将其状态设置为 Aborted (已测完的点不受影响)，使评测机终止评测任务，并判零分。</p>
                <form id="form-abort" action="{{ url_for('.abort_judge') }}" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_judge_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptAbortJudgeJudgeID">评测编号（回车分隔）</label>
                            <textarea class="form-control" name="judge_id" id="iptAbortJudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAbortJudge">批量终止评测</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h3>批量题目终止评测</h3>
                <form id="form-abort-2" action="{{ url_for('.abort_judge') }}" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_problem_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptAbortJudgeJudgeID2">题目编号（回车分隔）</label>
                            <textarea class="form-control" name="problem_id" id="iptAbortJudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAbortJudge2">批量题目终止评测</button>
                        </div>
                    </div>
                </form>
                <hr>
            </div>


            {% if g.user.privilege >= g.consts.Privilege.SUPER %}
            <div {{ begin_tab('user') }}>
                <form id="formUser">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptUsername"> Username </label>
                            <input class="form-control" type="text" name="username" id="iptUsername">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptStudentId"> Student ID </label>
                            <input class="form-control" type="number" name="id" id="iptStudentId">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptFriendlyName"> Friendly Name </label>
                            <input class="form-control" type="text" name="name" id="iptFriendlyName">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptPassword"> Password </label>
                            <input class="form-control" type="password" name="password" id="iptPassword">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptPrivilege"> Privilege </label>
                            <input class="form-control" type="number" name="privilege" id="iptPrivilege">
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddUser"> Add User </button>
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnModifyUser"> Modify User </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/admin.js') }}?v=20240213"></script>
{% endblock %}
