{% extends "base.html" %}

{% set page="管理" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="title-nav">
            <span class="title-nav__title">管理</span>
            <ul class="title-nav__nav nav nav-pills flex-column flex-md-row" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="judge-tab-btn" data-toggle="tab" href="#judge-tab" role="tab" aria-controls="judge-tab" aria-selected="false">评测</a>
                </li>
                {% if g.user.privilege >= g.consts.Privilege.SUPER %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" id="user-tab-btn" data-toggle="tab" href="#user-tab" role="tab" aria-controls="user-tab" aria-selected="false">用户</a>
                </li>
                {% endif %}
            </ul>
        </h1>
        <hr>
        <div class="tab-content">
            {% if g.user.privilege >= g.consts.Privilege.SUPER %}
            <div class="tab-pane fade" id="user-tab" role="tabpanel" aria-labelledby="user-tab-btn">
                <form id="formUser">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptUsername"> Username </label>
                            <input class="form-control" type="text" name="username" id="iptUsername">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptStudentId"> Student ID </label>
                            <input class="form-control" type="number" name="id" id="iptStudentId">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptFriendlyName"> Friendly Name </label>
                            <input class="form-control" type="text" name="name" id="iptFriendlyName">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptPassword"> Password </label>
                            <input class="form-control" type="password" name="password" id="iptPassword">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="iptPrivilege"> Privilege </label>
                            <input class="form-control" type="number" name="privilege" id="iptPrivilege">
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddUser"> Add User </button>
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnModifyUser"> Modify User </button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}


            <div class="tab-pane fade" id="judge-tab" role="tabpanel" aria-labelledby="judge-tab-btn">
                <p> 
                    <strong>警告</strong>: 在评测记录多时，以下操作十分缓慢。严禁多次点击按钮，否则会导致严重性能问题。
                </p>
                <h3> 批量重测 </h3>
                <form id="formRejudge" action="/OnlineJudge/admin/rejudge" method="POST">
                    {{ g.csrf() }}
                    <input type="hidden" name="type" value="by_judge_id">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptRejudgeJudgeID"> 评测编号（回车分隔） </label>
                            <textarea class="form-control" name="judge_id" id="iptRejudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRejudge"> 批量重测 </button>
                        </div>
                    </div>
                </form>

                <hr>

                <h3> 批量题目重测 </h3>
                <form id="formRejudge2" action="/OnlineJudge/admin/rejudge" method="POST">
                    {{ g.csrf() }}
                    <input type="hidden" name="type" value="by_problem_id">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="iptRejudgeJudgeID2"> 题目编号（回车分隔） </label>
                            <textarea class="form-control" name="problem_id" id="iptRejudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnRejudge2"> 批量题目重测 </button>
                        </div>
                    </div>
                </form>

                <hr>
                <h3>批量取消成绩</h3>
                <p> 
                    将指定的评测记录内容设置为 Voided 并判零分。请注意，对于一条已在 Running and Judging 状态的评测任务，设置为 Voided 状态后，
                    评测机仍有可能返回评测结果，此时 Voided 状态将被真实的评测记录覆盖。若想中断评测，请使用终止评测 (abort) 功能。
                    因此，建议在如下情况使用此功能：需要作废一条已经出了结果的评测记录。
                </p>
                <form id="formDisableJudge" action="/OnlineJudge/admin/mark-void" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_judge_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptDisableJudgeJudgeID"> 评测编号（回车分隔） </label>
                            <textarea class="form-control" name="judge_id" id="iptDisableJudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDisableJudge">批量取消成绩</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h3>批量题目取消成绩</h3>
                <form id="formDisableJudge2" action="/OnlineJudge/admin/mark-void" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_problem_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptDisableJudgeJudgeID2"> 题目编号（回车分隔） </label>
                            <textarea class="form-control" name="problem_id" id="iptDisableJudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDisableJudge2">批量题目取消成绩</button>
                        </div>
                    </div>
                </form>

                <hr>
                <h3>批量终止评测</h3>
                <p>若指定的评测记录还在评测中，则将其状态设置为 Aborted (已测完的点不受影响)，使评测机终止评测任务，并判零分。</p>
                <form id="form-abort" action="/OnlineJudge/admin/abort-judge" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_judge_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptAbortJudgeJudgeID">评测编号（回车分隔）</label>
                            <textarea class="form-control" name="judge_id" id="iptAbortJudgeJudgeID"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAbortJudge">批量终止评测</button>
                        </div>
                    </div>
                </form>
                <hr>
                <h3>批量题目终止评测</h3>
                <form id="form-abort-2" action="/OnlineJudge/admin/abort-judge" method="POST">
                    {{ g.csrf() }}
                    <div class="form-row">
                        <input type="hidden" name="type" value="by_problem_id">
                        <div class="form-group col-md-3 mb-3">
                            <label for="iptAbortJudgeJudgeID2">题目编号（回车分隔）</label>
                            <textarea class="form-control" name="problem_id" id="iptAbortJudgeJudgeID2"></textarea>
                        </div>
                        <div class="float-right d-flex mb-3 ml-auto pr-1">
                            <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAbortJudge2">批量题目终止评测</button>
                        </div>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/admin.js') }}?v=20240129"></script>
{% endblock %}

