{% extends 'base.html' %}
{% set page='管理界面使用指南' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'countdown_svg.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
<h1 id="管理界面使用指南">管理界面使用指南</h1>
<p>by cong258258，LauYeeYu，更新于 2023.2.13</p>
<h2 id="题面管理">题面管理</h2>
<h3 id="新增题目">新增题目</h3>
<p>在「管理」界面的「题面」标签下，直接点击下方「新建题目」。<strong>点击「新建题目」</strong>后，题目就<strong>已经存在</strong>，如果不小心新建了题目，需要删除题目，可以在「基本信息」标签下的「删除题目」处输入该题的题号以删除该题。但请注意，<strong>已经有提交记录或包含在比赛/作业中的题目不能被删除</strong>。</p>
<h3 id="修改题目">修改题目</h3>
<p>在「管理」界面的「题面」标签下，输入题目的题号，点击右侧「跳转」。系统将显示已经存在于数据库中的信息，可以在此基础上进行修改。修改完毕请点击各标签下的「保存」按钮（数据上传无需点击）。</p>
<h3 id="删除题目">删除题目</h3>
<p>在「管理」界面的「题面」标签下，输入题目的题号，点击右侧「跳转」。在「基本信息」标签下的「删除题目」处输入该题的题号以删除该题。但请注意，<strong>已经有提交记录或包含在比赛/作业中的题目不能被删除</strong>。</p>
<h3 id="另请注意">另请注意</h3>
<ul>
<li><strong>由于文本框 Markdown
预览特性存在已知的技术问题，强烈建议在多次题目操作之间刷新一下管理界面。</strong></li>
<li>题面文本格式请严格遵守<a
href="problem_format_doc">题面格式规范</a>。</li>
<li>所有题面相关数据都单独存储在数据库中，因此管理界面的题面选项卡的任何新增、修改、删除行为都不会影响数据包中的题面文档。</li>
<li>除标题、时间、类型外，剩余文本框均可留空，题目详情界面将不显示这一部分内容。</li>
<li>除标题、时间、类型外，剩余文本框均使用 Markdown
格式渲染，因此请<strong>特别留意输入题面内容与显示情况的不同</strong>（如在
markdown 中前置 tab
将被渲染为代码块，需要一个多余的回车表示换行等）。支持内嵌 LaTeX
​​​单行公式（多行公式渲染存在已知的问题，请尽可能避免）。同时，若需要定义高级样式，还可以在题面中直接嵌入
html 代码与内联 css，甚至简单的 JS 脚本。</li>
<li>除标题、时间、类型外的剩余文本框中，若使用 Markdown 中 ```
的语法将文本块包裹起来，访问题面时网页前端将自动识别此代码块并生成一个复制按钮以便进行复制。因此，强烈建议将<strong>样例输入与样例输出数据、题目描述中的框架代码等</strong>包裹起来，以便学生直接复制。</li>
<li>若需要插入图片，建议上传到 ACM OJ 图床服务，建议使用
<code>&lt;img&gt;</code> 标签插入题面以更好的控制题目格式。</li>
<li>时空限制在上传数据时自动生成，不必在题面中手动注明。详见<strong>评测数据管理</strong>。</li>
</ul>
<h2 id="比赛与作业管理">比赛与作业管理</h2>
<p>在 ACM Class OnlineJudge
中，比赛、作业和考试是同一个东西，仅渲染方式不同。考试是一种更加严格的比赛，在分类上属于比赛。
- 比赛：记部分分，记罚时，排名。 - 作业：只记录通过的题目数量，不排名。
- 考试：一种更加严格的，适用于机考的比赛，包括比赛的所有特性。除此以外：
1.
同一时刻非管理员用户只能报名同一场考试，在考试结束前暂时无法加入新的作业、比赛或考试。
2.
考试时非管理员用户只能查看自己在考试题目上的提交，因此无法查看别人在考试题目上的提交（哪怕提交时设置为公开），也无法查看自己不在考试列表里题目的提交。</p>
<h3 id="新建一场比赛">新建一场比赛</h3>
<p>在「管理」界面的「比赛与作业」标签下，点击右侧「获取最新空比赛
ID」，分别填写名称、起始时间（默认为当前时刻）、结束时间（请避免结束时间早于起始时间），选择类型。</p>
<h3 id="修改一场比赛">修改一场比赛</h3>
<p>输入希望修改的比赛的
ID，点击右侧「查看比赛情况」。系统将显示已经存在于数据库中的信息，可以在此基础上进行修改。修改完毕请点击「修改比赛」。</p>
<h3 id="删除一场比赛">删除一场比赛</h3>
<p>输入希望删除的比赛的
ID，点击右侧「查看比赛情况」，点击「删除比赛」。</p>
<h3 id="修改比赛题号">修改比赛题号</h3>
<p>输入希望修改的比赛的
ID，点击右侧「查看比赛情况」，再点击「修改比赛题号列表」。</p>
<ul>
<li>要添加或删除题号，请在框中输入题号（回车分割），点击「添加」或「删除」。</li>
<li><strong>如果添加题号时重复了，删除时将会把多个重复题号一起删除。</strong></li>
</ul>
<h3 id="修改参赛学生列表">修改参赛学生列表</h3>
<p>输入希望修改的比赛的
ID，点击右侧「查看比赛情况」，再点击「修改参赛学生列表」。</p>
<ul>
<li>要添加或删除学生，请在框中输入学生的<strong>用户名</strong>（回车分割），点击「添加」或「删除」。</li>
<li><strong>如果添加学生时重复了，删除时将会把多个重复参赛的标记一起删除。</strong></li>
</ul>
<h2 id="评测数据管理">评测数据管理</h2>
<p>ACM Class OnlineJudge
支持多种教学特化的强大评测方式。功能包括但不限于：编译时长限制；运行时间、内存、磁盘使用限制与统计；Valgrind
内存泄漏检测；Git 仓库编译评测；Verilog 评测；hpp 头文件评测；各种自定义
special judge。</p>
<p>简单而言，如果你需要评测的是简单的 OI
题（包括若干个输入文件，若干个标答输出文件，不使用 SPJ，通过 stdout
与输出文件进行全文对比），那么你可以使用数据 (GUI)
选项卡来进行上传；否则，<strong>我们强烈推荐你使用自由度更高的数据 (ZIP)
上传方式</strong>。</p>
<p>无论使用 GUI 还是 ZIP
上传的数据，管理界面都会自动提取您配置的数据点信息（从您填写的表格或从
ZIP 中的
<code>config.json</code>），将其更新在题面的「时空磁盘限制（运行时）」一栏中。</p>
<h3 id="数据-gui">数据 (GUI)</h3>
<p>填写题号，编译时长，SPJ
类型等内容，填写评测组配置与数据点配置后，点击打包上传所有数据。</p>
<ul>
<li><p>请确认题号已存在，即题面已上传后再上传数据。</p></li>
<li><p>编译时长单位毫秒，建议值为 10000，如需从 Git
拉取编译评测可适当增加。</p></li>
<li><p>SPJ 类型一般为 classic。</p></li>
<li><p>题面：建议文件名为
<code>description.{md,doc,docx,txt}</code>。此文件仅仅是为了数据包的完整性给以后的助教和管理员提供便利，其本身与数据库和网页题面显示并没有关联。若无必要给出题面情况（比如大作业的题面在
GitHub 上），这一项可省略。</p></li>
<li><p>测试数据：</p>
<ul>
<li>在此选择输入输出文件，可多选。</li>
<li>输入文件命名规范：若干
<code>数字.in</code>，<strong>文件名请采用连续编号的，从 1
开始的纯数字</strong>，与 <code>.out/ans</code> 对应。</li>
<li>输出文件命名规范：若干 <code>数字.out</code> 或
<code>数字.ans</code>，<strong>文件名请采用连续编号的，从 1
开始的纯数字</strong>，与 <code>.in</code> 对应。同时存在
<code>.out</code> 和 <code>.ans</code> 时后者优先级高。</li>
<li>注意：我们的 OJ 评测均采用 Linux 环境，默认 diff
时有行末空格过滤。虽然对于许多题目，换行符为 Windows 的
CRLF(<code>\r\n</code>) 还是 Linux 的 LF(<code>\n</code>)
并不会产生很大的影响，但请各位出数据的助教尽可能不要出现 CRLF。</li>
</ul></li>
<li><p>std：在数据包中放标程仅仅是为了数据包的完整性给以后的助教和管理员提供便利，其本身与评测并没有关联。建议命名为
<code>solution.{cpp,hpp}</code>。可省略。</p>
<ul>
<li>对于所有评测 cpp 类题目，避免将标答命名为
<code>main.cpp</code>。</li>
<li>对于评测头文件类题目，避免将标答命名为
<code>src.h</code>、<code>src.hpp</code>。</li>
</ul></li>
<li><p>SPJ 与 Scorer：省略。</p></li>
<li><p><strong>评测组配置与数据点配置（简易）：一般无脑点击「add
row」若干次即可，使得评测组条目、数据点条目均与上传的测试数据数量一致即可。</strong></p></li>
<li><p>评测组配置（高级）：记分策略。以下图为例，本题共有五个测试组，每组
20 分共 100 分。以组 1 为例，三个测试点 1, 2, 3 均通过才能获得该组的 20
分，以此类推。（本条仅为不使用 SPJ 的情况，若要使用 SPJ 请不要使用 GUI
上传数据）</p>
<p><img src="https://acm.sjtu.edu.cn/OnlineJudge-pic/20220211-190811-251466.jpg"></p></li>
<li><p>数据点配置（高级）：编译评测策略。以下图为例，本题共有 11
个测试点，每个测试点限时 1 秒，内存限制约 256 MB。</p>
<ul>
<li>Valgrind 相关：其中，测试点 9, 10 开启了 Valgrind
内存泄漏测试（测试参数参考主页），只有经检测没有内存泄漏才算通过测试点。</li>
<li>Dependency 相关：其中，如果测试点 1 没有通过，那么测试点 2
不会被评测，评测详情显示 <code>Skipped</code>；连带的，测试点 3
也不会被评测。</li>
<li><strong>对于开启 Valgrind 的测试点，测试结果中 Memory Leak
的优先级高于 Wrong
Answer。</strong>因此如果你希望先测一遍正确性，再测一遍内存泄漏，那么建议你配置如下图的
7, 8, 9, 10 ，上传测试数据时，<code>7.in/out/ans</code> 与
<code>9.in/out/ans</code>完全相同，<code>8.in/out/ans</code> 与
<code>10.in/out/ans</code> 完全相同，只有 AC 了 7, 8 才会测试 9, 10
。将上述评测组配置的例子与数据点配置结合起来看，那么评测组 3
就是正确性测试组，评测组 4 就是内存泄漏测试组。</li>
<li>将上述评测组配置的例子与数据点配置结合起来看，情形如下：如果某用户测试点
1 没有通过，那么测试点 2, 3 不会被评测，评测组 1
没有得分；如果某用户测试点 4 没有通过，测试点 5, 6
仍然会被评测，然而无论 5, 6 通过与否，测试组 2 都不会得分。</li>
</ul>
<p><img src="https://acm.sjtu.edu.cn/OnlineJudge-pic/20220211-194231-201862.jpg"></p></li>
</ul>
<h3 id="数据zip">数据（ZIP）</h3>
<ul>
<li><p>上传数据压缩包：选择一个符合要求的 zip
文件，点击上传即可。<strong>压缩包格式请认真阅读<a
href="data_doc">数据格式规范文档</a>。</strong></p></li>
<li><p><strong>由于 ACM 班服务器的网络故障，使用 ipv6
进行大量数据上传可能非常慢甚至无响应，请暂时使用
ipv4。</strong></p></li>
<li><p>下载数据压缩包：输入题号，点击下载即可。此功能在题目详情页面对管理员也可见。</p></li>
<li><p>使用 ZIP
上传数据时，您可能会遇到「压缩包不符合规范」的警告弹窗，这是因为我们采用的前端
jszip
插件无法解压您的压缩包。您可以检查您的压缩包格式是否正确（例：<code>1000.zip/config.json</code>），并尝试使用别的压缩软件重新压缩。您可以用
jszip
的官方链接来测试压缩包合规性。如果您确信自己压缩包的格式是对的，那么忽略此警告后<strong>可能</strong>依然可以正常评测，但题面里时空磁盘限制（运行时）一栏的信息无法显示。</p></li>
</ul>
<h2 id="评测管理">评测管理</h2>
<p><em>由于评测系统架构经历重大升级，在 2023 年 2 月 6
日之前提交的评测无法在当前评测系统中进行管理。当前评测系统下，评测管理仅对
2023 年 2 月 6 日之后的提交有效。</em></p>
<p>有多处可以进行评测管理。</p>
<ul>
<li>在「管理」界面的「评测」标签下，可进行批量重测、批量题目重测、批量取消成绩、批量题目取消成绩、批量终止评测、批量题目终止评测。</li>
<li>在题目管理页的「评测」标签下，可点击对应的按钮以重测全部提交、取消全部提交成绩或终止评测全部提交。</li>
<li>在提交详情页面，可以点击代码上方的「重测」按钮重测代码，或者点击「VOID」按钮取消成绩。</li>
</ul>
<p>请注意，取消成绩后，如需让成绩生效，请在「管理」页面的「评测」标签下重测。</p>
<h2 id="图床">图床</h2>
<ul>
<li>支持 gif，jpg，png，svg 格式图片上传，大小上限为 10MB 。</li>
<li>选择文件上传后，可以预览上传图片是否符合预期，并点击按钮复制图片链接或图片
html 源码。</li>
<li>上传同一文件名的图片不会将之前上传过的图片覆盖，因为每次上传都会生成随机的新文件名。</li>
</ul>
<h2 id="实名管理">实名管理</h2>
<ul>
<li><p>左右一一对应，均以回车分割。</p></li>
<li><p>实名建议格式为年份-课程-名字，如 22-IEEE算法-张三。</p></li>
<li><p>如果同一学号出现了多条实名信息，系统将以最后一条导入的为准。</p></li>
</ul>
<h2 id="联系-acm-oj-开发组">联系 ACM OJ 开发组</h2>
<ul>
<li><a
href="mailto:acmclassoj@googlegroups.com">acmclassoj@googlegroups.com</a></li>
</ul>
</div>
{% endblock %}
