<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TesutoHime·{{ page }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.yukisaki.io:2333/oj_cdn/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.yukisaki.io:2333/oj_cdn/argon/css/style.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>

<body class="bg-secondary">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">ACM Class OnlineJudge 2020</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarContent">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-10 collapse-brand">
                        <a href="/">ACM Class OnlineJudge 2020</a>
                    </div>
                    <div class="col-2 collapse-close">
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                                data-target="#navbarContent">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav" style="line-height: 1;">
                <li class="nav-item"><a href="/problems" class="nav-link">题库</a></li>
                <li class="nav-item"><a href="/contest" class="nav-link">比赛</a></li>
                <li class="nav-item"><a href="/homework" class="nav-link">作业</a></li>
                <li class="nav-item"><a href="/status" class="nav-link">评测状态</a></li>
                {% if is_Admin %}
                    <li class="nav-item"><a href="/admin" class="nav-link">管理</a></li>
                {% endif %}
                <li class="nav-item"><a href="/about" class="nav-link">关于</a></li>
                {% if friendlyName=='' -%}
                    <li class="dropdown-divider"></li>
                    <li class="d-block d-lg-none nav-link"><a href="/login">登录</a></li>
                    <li class="d-block d-lg-none nav-link"><a href="/register">注册</a></li>
                {%- endif %}
            </ul>
            <ul class="navbar-nav ml-lg-auto" style="line-height: 1;">
                {% if friendlyName!='' -%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ friendlyName }}</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/profile">个人信息</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">注销</a>
                        </div>
                    </li>
                {% else -%}
                    <li class="d-none d-lg-block">
                        <a class="btn btn-neutral" href="/login">登录</a>
                        <a class="btn btn-neutral" href="/register">注册</a>
                    </li>
                {%- endif %}
            </ul>
        </div>
    </div>
</nav>
<main class="container" style="">
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <div class="container text-center">
        <p class="mb-0">
            ACM Class OnlineJudge © 2020 Powered By
            <a href='https://github.com/cmd2001/Open-TesutoHime/' target='_blank'> TesutoHime</a>
        </p>
        <p>
            备案号：<a href='https://beian.miit.gov.cn/#/Integrated/recordQuery' target='_blank'>沪ICP备2020031263号-1</a>
        </p>
    </div>
</footer>
</body>

<script src="https://cdn.yukisaki.io:2333/oj_cdn/jquery/jquery.min.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/bootstrap/popper.min.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/jquery/jquery.form.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/sweetalert/sweetalert.min.js"></script>
{% block script %}{% endblock %}
<script src="https://pingjs.qq.com/h5/stats.js?v2.0.4" name="MTAH5" sid="500731541" cid="500731570"></script>
</html>
