<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACMOJ · {{ page }}</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="{{ url_for('.static', filename = 'lib/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'style.css') }}" rel="stylesheet"> 
    <link href="{{ url_for('.static', filename = 'dark.css') }}" rel="stylesheet"> {% block head %}{% endblock %}
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 mb-3">
        <div class="container">
            <a class="navbar-brand" href="/OnlineJudge/">ACM Class OnlineJudge</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="navbar-collapse collapse" id="navbarContent">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-10 collapse-brand">
                            <a href="/OnlineJudge/">ACM Class OnlineJudge</a>
                        </div>
                        <div class="col-2 collapse-close">
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarContent">
                            <span></span>
                            <span></span>
                        </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav" style="line-height: 1;">
                    <li class="nav-item"><a href="/OnlineJudge/problems" class="nav-link">题库</a></li>
                    <li class="nav-item"><a href="/OnlineJudge/contest" class="nav-link">比赛</a></li>
                    <li class="nav-item"><a href="/OnlineJudge/homework" class="nav-link">作业</a></li>
                    <li class="nav-item"><a href="/OnlineJudge/status" class="nav-link">评测状态</a></li>
                    {% if is_Admin %}
                    <li class="nav-item"><a href="/OnlineJudge/admin" class="nav-link">管理</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="/OnlineJudge/about" class="nav-link">关于</a></li>
                    {% if friendlyName=='' -%}
                    <li class="dropdown-divider"></li>
                    <li class="d-block d-lg-none nav-link"><a href="/OnlineJudge/login">登录</a></li>
                    <li class="d-block d-lg-none nav-link"><a href="/OnlineJudge/register">注册</a></li>
                    {%- endif %}
                </ul>
                <ul class="navbar-nav ml-lg-auto" style="line-height: 1;">
                    {% if friendlyName!='' -%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ friendlyName }}</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/OnlineJudge/profile">个人信息</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/OnlineJudge/logout">注销</a>
                        </div>
                    </li>
                    {% else -%}
                    <li class="d-none d-lg-block">
                        <a class="btn btn-neutral" href="/OnlineJudge/login">登录</a>
                        <a class="btn btn-neutral" href="/OnlineJudge/register">注册</a>
                    </li>
                    {%- endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="alert alert-success" role="alert">
            <p>OJ 镜像站即将完成使命！4月4日12时起将开始进行镜像站到主站的迁移工作，12时以后新增的所有信息将不会被同步到主站，镜像站不保证数据留存，不保证评测服务可用，请知悉。</p>
            <p>对于4月4日12时仍在进行的比赛与作业：Algorithm Design and Analysis (AI2615) 2022 Homework 2&3，2022 数据结构 (ACM+工科荣誉) Homework 3，2022 数据结构与程序设计 II（John）Homework 4，
                STLite-工科-2022（包括pq），可以在主站使用镜像站账号登录（不要忘记用户名最后的mirror），来继续使用镜像站的账户对上述作业进行提交，以避免助教的统计麻烦；
                不在上述列表的作业请考虑使用主站原账号提交。从5月1日0时起，主站将禁止所有来自镜像站的注册账户（即用户名以mirror结尾的账户）的登录。
            </p>
          </div>
          <div class="alert alert-warning" role="alert">
            <p>OJ 镜像站已迁移至主站，镜像站评测服务将可能随时停止。请移步主站评测。任何与迁移有关的 bug 请邮件联系管理组。</p>
          </div>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container text-center">
            <p class="mb-0">
                ACM Class OnlineJudge © 2022
            </p>
        </div>
    </footer>
</body>

<script src="{{ url_for('.static', filename = 'lib/jquery.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/popper.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/jquery.form.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/sweetalert.min.js') }}"></script>
{% block script %}{% endblock %}

</html>
