{%- from 'component/status_table.html' import status_table -%}
{%- from 'component/util.html' import page_switcher, display_real_name, render, render_styles, render_scripts, option_list, datetime_local, nav_tab_list, begin_tab, show_alert -%}
{%- from 'component/contest_card.html' import contest_card -%}

<!DOCTYPE html>
<html class="han-init" lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page }} · ACMOJ</title>
    <link rel="shortcut icon" href="{{ url_for('web.favicon') }}">
    <link href="{{ url_for('.static', filename = 'lib/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'argon.min.css') }}?v=20231109" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'lib/han.min.css') }}?v=20250326" rel="stylesheet"> {% block head %}{% endblock %}
    <link href="{{ url_for('.static', filename = 'styles.css') }}?v=20250410" rel="stylesheet">
    <link href="{{ url_for('.static', filename = 'dark.css') }}?v=20250106" rel="stylesheet">
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-2 mb-3">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('web.index') }}">ACM Class OnlineJudge</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarContent">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-10 collapse-brand">
                            <a href="{{ url_for('web.index') }}">ACM Class OnlineJudge</a>
                        </div>
                        <div class="col-2 collapse-close">
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarContent">
                            <span></span>
                            <span></span>
                        </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav" style="line-height: 1;">
                    <li class="nav-item"><a href="{{ url_for('web.problem_list') }}" class="nav-link">题库</a></li>
                    <li class="nav-item"><a href="{{ url_for('web.course_list') }}" class="nav-link">班级</a></li>
                    <li class="nav-item"><a href="{{ url_for('web.contest_list') }}" class="nav-link">比赛</a></li>
                    <li class="nav-item"><a href="{{ url_for('web.homework_list') }}" class="nav-link">作业</a></li>
                    <li class="nav-item"><a href="{{ url_for('web.status') }}" class="nav-link">评测状态</a></li>
                    {% if g.is_admin %}
                    <li class="nav-item"><a href="{{ url_for('web.admin') }}" class="nav-link">管理</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{{ url_for('web.about') }}" class="nav-link">关于</a></li>
                    <li class="nav-item"><a href="{{ url_for('web.help_index') }}" class="nav-link">帮助</a></li>
                    {% if g.user is None -%}
                    <li class="dropdown-divider"></li>
                    {%- set next = request.full_path -%}
                    {%- if request.endpoint in ('web.login', 'web.register') -%}
                    {%- set next = request.args.get('next', url_for('web.index')) -%}
                    {%- endif -%}
                    <li class="d-block d-lg-none nav-link"><a href="{{ url_for('web.login', next=next) }}">登录</a></li>
                    <li class="d-block d-lg-none nav-link"><a href="{{ url_for('web.register', next=next) }}">注册</a></li>
                    {%- endif %}
                </ul>
                <ul class="navbar-nav ml-lg-auto" style="line-height: 1;">
                    {% if g.user is not None -%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{{ g.user.friendly_name }}</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ url_for('web.profile') }}">个人信息</a>
                            <a class="dropdown-item" href="{{ url_for('web.settings_api') }}">API</a>
                            <div class="dropdown-divider"></div>
                            <form action="{{ url_for('web.logout') }}" method="POST">
                                {{ g.csrf() }}
                                <button class="dropdown-item" type="submit">登出</button>
                            </form>
                        </div>
                    </li>
                    {% else -%}
                    <li class="d-none d-lg-block">
                        <a class="btn btn-neutral" href="{{ url_for('web.login', next=next) }}">登录</a>
                        <a class="btn btn-neutral" href="{{ url_for('web.register', next=next) }}">注册</a>
                    </li>
                    {%- endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container text-center">
            <p class="mb-0">
                ACM Class OnlineJudge © 2020–{{ g.time.year }}
            </p>
        </div>
    </footer>

    <script src="{{ url_for('.static', filename = 'lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/popper.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/jquery.form.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/han.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/base.js') }}?v=20240214"></script>
    {% block script %}{% endblock %}
</body>
</html>
