{% extends 'base.html' %}
{% set page = '日期和时间格式' %}

{% block content %}
<div class="card card-body col-lg-5 m-auto">
  <h1>日期和时间格式</h1>
  {{ show_alert() }}
  <form method="POST">
    {{ g.csrf() }}
    <div class="custom-control custom-radio mb-3">
      <input name="format" class="custom-control-input" id="default" value="default" type="radio"{{ ' checked' if current is None or current == '' }}>
      <label class="custom-control-label" for="default">随机选择</label>
    </div>
    {%- for format in formats -%}
    <div class="custom-control custom-radio mb-3">
      <input name="format" class="custom-control-input" id="{{ format.__name__ }}" value="{{ format.__name__ }}" type="radio"{{ ' checked' if current == format.__name__ }}>
      <label class="custom-control-label" for="{{ format.__name__ }}">{{ format.format(g.time) }}</label>
    </div>
    {%- endfor -%}
    <button class="btn btn-block btn-primary" type="submit">选择</button>
  </form>
</div>
{% endblock %}
