{% extends 'base.html' %} {% set page='班级、比赛、作业与考试文档' %} {% block content %}
<div class="card card-body">
<h1 id="班级比赛作业与考试文档">班级、比赛、作业与考试文档</h1>
<p><em>By LauYeeYu，更新于 2024.2.5。</em></p>
<h2 id="班级">班级</h2>
<p>2024 年 2 月，ACM Class OnlineJudge 引入了基于班级的权限机制。此后，除提交管理外，所有比赛及题目管理均包含于班级管理中。</p>
<p>关于管理班级功能，请查看管理员文档的<a href="admin-doc#班级管理">班级管理</a>部分。</p>
<p>对于每个班级，其拥有以下元数据：</p>
<ul>
<li>班级名称</li>
<li>标签</li>
<li>学期</li>
</ul>
<h3 id="加入班级">加入班级</h3>
<p>您可以在「班级」页面查看所有班级，然后点击「加入」按钮加入班级。</p>
<p>加入班级后，您将参加班级内的所有比赛、作业和考试。</p>
<p>如果管理员没有将您设置为班级成员，但您加入了班级，在没有设置为「为所有用户排名」时不会参与排名，您仍然可以参加班级内的比赛、作业和考试。</p>
<p>如果管理员已经将您的学号加入到班级成员当中，但您没有加入班级，管理员将无法统计您的成绩，也无法管理到您。</p>
<h3 id="首页显示">首页显示</h3>
<p>在首页会显示与您相关的比赛、作业和考试，包括正在进行、即将进行、已结束的，是您所在班级或报名的比赛、作业和考试。</p>
<h2 id="比赛作业和考试">比赛、作业和考试</h2>
<p>比赛、作业和考试基本上是一样的，只是在功能及其侧重上有所区别。</p>
<p>比赛和作业仅在显示位置上有所不同。比赛和考试显示在「比赛」标签下，作业显示在「作业」标签下。</p>
<p>考试时，同一时刻非管理员用户只能报名同一场考试，在考试结束前暂时无法加入新的作业、比赛或考试。考试时非管理员用户只能查看自己在考试题目上的提交，因此无法查看别人在考试题目上的提交（哪怕提交时设置为公开），也无法查看自己不在考试列表里题目的提交。</p>
</div>
{% endblock %}
