{% extends "base.html" %}

{% set page=contest.name %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body" id="main">
    <h1 class="title-nav">
        <span class="title-nav__title">{{ contest.id }}. {{ contest.name }}</span>
        <span class="title-nav__nav btn-group--title-nav">
            <a href="{{ url_for('.problemset', contest=contest) }}" class="btn btn-outline-primary">返回比赛</a>
        </span>
    </h1>
    {{ show_alert() }}
    <hr>

    <h3>基本信息</h3>
    <p>所属班级：<a href="{{ url_for('.course', course=contest.course) }}">{{ contest.course.name }}</a> <a href="{{ url_for('.course_admin', course=contest.course) }}" class="btn btn-sm btn-outline-primary ml-2">管理</a></p>
    <form method="POST">
        {{ g.csrf() }}
        <input type="hidden" name="action" value="edit">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="contest-name">比赛名称</label>
                <input class="form-control" type="text" name="name" id="contest-name" required value="{{ contest.name }}">
            </div>
            <div class="form-group col-md-3">
                <label for="start-time">起始时间 (YYYY-MM-DDThh:mm:ss)</label>
                <input class="form-control" type="datetime-local" name="start_time" id="start-time" required value="{{ datetime_local(contest.start_time) }}">
            </div>
            <div class="form-group col-md-3">
                <label for="end-time">结束时间 (YYYY-MM-DDThh:mm:ss)</label>
                <input class="form-control" type="datetime-local" name="end_time" id="end-time" required value="{{ datetime_local(contest.end_time) }}">
            </div>
            <div class="form-group col-md-3">
                <label for="contest-type">比赛类型</label>
                <select class="form-control selectpicker" name="type" id="contest-type"
                        data-style="form-control font-weight-normal border-grey shadow-none">
                    {{ option_list({ 0: '比赛', 1: '作业', 2: '考试，适合用于机考的比赛，同时只能参加一场' }, contest.type) }}
                </select>
            </div>
        </div>
        <div>
            <label for="contest-description">比赛描述</label>
        </div>
        <div>
            <textarea class="form-control mb-3" rows="5" id="contest-description" name="description" placeholder="可以使用 **Markdown** 格式">{{ contest.description }}</textarea>
        </div>
        <div class="form-row">
            <label class="col-md-2">排名设置</label>
        </div>
        <div class="form-row" id="contest-controls">
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="ranked" id="ranked" type="checkbox"{{ ' checked' if contest.ranked }}>
                    <label class="custom-control-label" for="ranked">显示排名</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="rank_penalty" id="rank-penalty" type="checkbox"{{ ' checked' if contest.rank_penalty }}>
                    <label class="custom-control-label" for="rank-penalty">计算罚时</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="rank_partial_score" id="rank-partial-score" type="checkbox"{{ ' checked' if contest.rank_partial_score }}>
                    <label class="custom-control-label" for="rank-partial-score">计算部分分</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="rank_all_users" id="rank-all-users" type="checkbox"{{ ' checked' if contest.rank_all_users }}>
                    <label class="custom-control-label" for="rank-all-users">为所有用户排名 <abbr title="默认情况下，比赛只对班级成员（如果有指定分组，则只对指定的分组）进行排名，其他自行报名比赛的用户不会参与排名。选中此选项后，将对所有报名参赛的用户（无论是自动添加到比赛中的，还是手动加入的）进行排名。">(?)</abbr></label>
                </div>
            </div>
        </div>
        <div id="label-penalty-and-partial-score" class="card card--small mb-3 w-100 border-danger">
            <div class="text-danger card-header"><strong>⚠ 不建议同时开启「计算罚时」和「计算部分分」</strong></div>
            <div class="card-body">
                <p>根据 *CPC 的规则，罚时计算时只会考虑完全通过（Accepted）的题目，而不考虑只取得部分分的题目；同时开启两个选项有可能会使骗分选手在排名上高于正解选手。</p>
                <p>例如，一次比赛有两道满分分别为 100 分的题目。</p>
                <ul>
                    <li>选手 A 打了两个暴力，得分为 50 + 50，由于没有通过任何题目，其罚时计算为 0；</li>
                    <li>选手 B 过了一道题，得分为 100 + 0，由于通过了第一题，其罚时大于 0。</li>
                </ul>
                <p>此时选手 A 排名高于选手 B，但一般认为选手 B 水平会高于选手 A。</p>
                <p>（这则消息只是一个提醒，如果符合您的需要，您完全可以同时开启这两个选项。）</p>
            </div>
        </div>
        <style>
        #label-penalty-and-partial-score {
            display: none;
        }
        #contest-controls:has(#rank-penalty:checked):has(#rank-partial-score:checked) + #label-penalty-and-partial-score {
            display: block;
        }
        </style>
        <div class="float-right d-flex mb-3 ml-auto">
            <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
        </div>
    </form>
    <hr>

    <h3 class="mb-3">题目</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>题目名称</th>
                    <th>发布时间</th>
                    <th>提交人数</th>
                    <th>通过人数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for problem in contest.problems -%}
                <tr>
                    <td>{{ problem.id }}</td>
                    <td><a href="{{ url_for('.problem', problem=problem) }}" target="_blank">{{ problem.title }}</a></td>
                    <td>{{ g.utils.readable_time(problem.release_time) }}</td>
                    <td><a href="{{ url_for('.status', problem_id=problem.id) }}" class="d-block">{{ problem_stats[problem.id]['try'] }}</a></td>
                    <td><a href="{{ url_for('.status', problem_id=problem.id, status='accepted') }}" class="d-block">{{ problem_stats[problem.id]['ac'] }}</a></td>
                    <td>
                        <form method="post" action="{{ url_for('.problemset_problem_remove', contest=contest) }}" class="d-inline">
                            {{ g.csrf() }}
                            <input type="hidden" name="id" value="{{ problem.id }}">
                            <span class="btn-group">
                                <a href="{{ url_for('.problem_admin', problem=problem) }}" class="btn btn-outline-primary btn-sm">管理</a>
                                <button type="submit" class="btn btn-outline-primary btn-sm" onclick="return confirm('确认从比赛中移除题目吗？')">移除</button>
                            </span>
                        </form>
                    </td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <details>
            <summary>批量添加/移除题目</summary>
            <form method="post">
                {{ g.csrf() }}
                <div class="form-group">
                    <label for="problem-ids">题号（回车分隔）</label>
                    <textarea class="form-control" name="id" id="problem-ids" rows="5"></textarea>
                </div>
                <div class="float-right d-flex mb-3 ml-auto btn-group">
                    <button class="btn btn-outline-primary mt-auto" type="submit" formaction="{{ url_for('.problemset_problem_add', contest=contest) }}">添加题目</button>
                    <button class="btn btn-outline-primary mt-auto" type="submit" formaction="{{ url_for('.problemset_problem_remove', contest=contest) }}" onclick="return confirm('确认移除这些题目吗？')">移除题目</button>
                </div>
            </form>
        </details>
    </div>
    <hr>

    <h3>作业要求</h3>
    {%- if contest.completion_criteria_type.name != 'none' -%}
    <p>共 {{ completion_stats['total'] }} 人需完成，有 {{ completion_stats['completed'] }} 人已完成。</p>
    {%- endif -%}
    {%- if completion_stats['errors'] | length > 0 -%}
    <h4>检查过程中出现运行时错误：</h4>
    <ul>
        {%- for error in completion_stats['errors'] -%}
        <li>{{ error }}</li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
    <style>
        #requirement-count, #requirement-score, #requirement-python {
            display: none;
        }
        #cc-container:has(#cc-type option[value="none"]:checked) #cc-input-container,
        #main:has(#rank-partial-score) #requirement-general {
            display: none;
        }
        #main:has(#rank-partial-score:checked) #cc-container:has(#cc-type option[value="simple"]:checked) #requirement-score {
            display: inline-block;
        }
        #main:has(#rank-partial-score:not(:checked)) #cc-container:has(#cc-type option[value="simple"]:checked) #requirement-count {
            display: inline-block;
        }
        #cc-container:has(#cc-type option[value="python"]:checked) #requirement-python {
            display: inline-block;
        }
        #cc-container:has(#cc-type option[value="python"]:checked) #completion-criteria {
            font-family: monospace;
        }
    </style>
    <form method="post">
        {{ g.csrf() }}
        <input type="hidden" name="action" value="requirements">
        <div class="form-row" id="cc-container">
            <div class="form-group col-md-3">
                <label for="cc-type">完成情况统计方式</label>
                <select class="form-control selectpicker" name="type" id="cc-type"
                        data-style="form-control font-weight-normal border-grey shadow-none">
                    {{ option_list({ 'none': '不统计', 'simple': '得到的分数' if contest.rank_partial_score else '完成题目数', 'python': '高级' }, contest.completion_criteria_type.name) }}
                </select>
            </div>
            <div class="form-group col-md" id="cc-input-container">
                <label for="completion-criteria" id="requirement-count">至少完成的题目数</label>
                <label for="completion-criteria" id="requirement-score">至少得到的分数</label>
                <label for="completion-criteria" id="requirement-python">Python 代码 <a href="{{ url_for('.help', page='admin/interface') }}#python-表达式格式" target="_blank">（点击查看格式及示例）</a></label>
                <label for="completion-criteria" id="requirement-general">作业要求（至少完成的题目数/分数/高级要求）</label>
                <input class="form-control" name="completion_criteria" id="completion-criteria" value="{{ contest.completion_criteria if contest.completion_criteria is not None }}" maxlength="128">
            </div>
        </div>
        <div class="form-row">
            <label class="col-md-2">允许使用的语言</label>
        </div>
        <div class="form-row">
            {% for key in g.consts.language_info -%}
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="lang-{{ key }}" id="lang-{{ key }}" type="checkbox"{{ ' checked' if contest.allowed_languages is None or key in contest.allowed_languages }}>
                    <label class="custom-control-label" for="lang-{{ key }}">{{ g.consts.language_info[key].name }}</label>
                </div>
            </div>
            {%- endfor %}
        </div>
        <div class="float-right d-flex mb-3 ml-auto">
            <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
        </div>
    </form>
    <hr>

    {%- if contest.course.groups | length > 0 -%}
    <h3>人员与分组</h3>
    <style>
        #allgroups-container:has(#allgroups:checked) ~ * {
            display: none;
        }
    </style>
    <form method="post">
        {{ g.csrf() }}
        <input type="hidden" name="action" value="groups">
        <p>作业/比赛限定于以下分组：</p>
        <div class="form-row">
            <div class="col-md-2" id="allgroups-container">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="all" id="allgroups" type="checkbox"{{ ' checked' if contest.group_ids is None }}>
                    <label class="custom-control-label" for="allgroups">全部分组/无分组</label>
                </div>
            </div>
            {% for group in contest.course.groups -%}
            <div class="col-md-2">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" name="group-{{ group.id }}" id="group-{{ group.id }}" type="checkbox"{{ ' checked' if contest.group_ids is None or group.id in contest.group_ids }}>
                    <label class="custom-control-label" for="group-{{ group.id }}">{{ group.name }}</label>
                </div>
            </div>
            {%- endfor %}
        </div>
        <div class="float-right d-flex mb-3 ml-auto">
            <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
        </div>
    </form>
    <hr>
    {%- endif -%}

    <h3>导出提交数据</h3>
    <p>您可以在此处导出所有正式选手在比赛中提交的代码。将会导出每个学生每道题目符合要求（包括时间范围和提交语言）的最晚一次最高分提交；例如，四次提交得分分别为 40、80、80、60，则将导出第三次提交的代码。</p>
    <p>此功能将会使用较多的服务器资源，请勿频繁进行导出，请勿连续多次点击此按钮。</p>
    <form method="POST">
        {{ g.csrf() }}
        <input type="hidden" name="action" value="export">
        <button type="submit" class="btn btn-outline-primary" onclick="setTimeout(() => this.disabled = true)">导出提交数据</button>
    </form>
    <hr>

    <h3>删除比赛</h3>
    <p>删除比赛将会不可逆地从数据库中删除比赛相关的所有信息，但不会删除提交的代码。如您确认要删除比赛，请在下方文本框中输入比赛编号以确认：</p>
    <form method="POST">
        {{ g.csrf() }}
        <div class="form-row">
            <input type="hidden" name="action" value="delete">
            <div class="col-md-3">
                <input class="form-control" type="text" name="confirm" pattern="{{ contest.id }}" required>
            </div>
            <div class="col-md-3">
                <button class="btn btn-outline-primary" type="submit">删除比赛</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/contest_admin.js') }}?v=20240131"></script>
{% endblock %}
