{% extends 'base.html' %}

{% set page=type_zh + '列表' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    <h1>{{ type_zh }}列表</h1>
    <div>
        <form class="form-group input-group" method="get" id="status_serach">
            <input class="form-control input-group" type="text" name="keyword" id="keyword" placeholder="关键字" value="{{ args["keyword"] if "keyword" in args and args["keyword"] }}">
            <select class="form-control selectpicker" name="status" id="status" data-style="form-control font-weight-normal border-grey shadow-none">
                <option value="All" {{ "selected" if "status" in args and args["status"]=="All" }}>All</option>
                <option value="Pending" {{ "selected" if "status" in args and args["status"]=="Pending" }}>Pending</option>
                <option value="Going On" {{ "selected" if "status" in args and args["status"]=="Going On" }}>Going On</option>
                <option value="Finished" {{ "selected" if "status" in args and args["status"]=="Finished" }}>Finished</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-primary">搜索</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>{{ type_zh }}名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>状态</th>
                    <th>报名</th>
                </tr>
            </thead>
            {% for contest in contests -%}
            {% set status = get_status(contest) %}
            <tr {% if contest.id in user_contests %} class="contest--participant" {% elif status=='Going On' %} class="contest--running" {% elif status=='Pending' %} class="contest--pending" {% endif %}>
                <td>{{ contest.id }}</td>
                <td><a href="/OnlineJudge/problemset/{{ contest.id }}">{{ contest.name }}</a></td>
                <td>{{ g.utils.readable_time(contest.start_time) }}</td>
                <td>{{ g.utils.readable_time(contest.end_time) }}</td>
                <td>{{ status }}</td>
                <td>
                    {% if exam_id != -1 and contest.type == 2 and exam_id != contest.id -%}
                    <button disabled class="btn btn-primary btn-sm">已于考试中</button>
                    {%- elif contest.id in user_contests -%}
                    <button disabled class="btn btn-primary btn-sm">已报名</button>
                    {% elif g.time > contest.end_time -%}
                    <!-- <button disabled class="btn btn-primary btn-sm">报名</button> -->
                    {% else -%}
                    <form action="/OnlineJudge/problemset/{{ contest.id }}/join" method="POST">
                        {{ g.csrf() }}
                        <button type="submit" class="btn btn-primary btn-sm">报名</button>
                    </form>
                    {%- endif -%}
                </td>
            </tr>
            {%- endfor %}
        </table>
        {% from 'component/page_switcher.html' import page_switcher -%}
        {{ page_switcher(pages, args) }}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
{% endblock %}
