{% extends 'base.html' %}

{% set page=contest.name %}

{% block head %}
    {{ render_styles() }}
    <!-- <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/jquery.dataTables.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card" id="problemset">
        <div class="progress-wrapper problemset-progress">
            <div class="progress">
                <div class="progress-bar progress-bar-striped{{ " progress-bar-animated" if percentage!=100 else "" }}"
                     style="width: {{ percentage }}%;">
                </div>
            </div>
            <div class="problemset-progress__text">
                <span class="problemset-progress__times">{{ g.utils.readable_time_minutes(contest.start_time) }}&ndash;{{ g.utils.readable_time_minutes(contest.end_time) }}</span>
                <span class="problemset-progress__percentage">{{ percentage }}% {{ status }}</span>
            </div>
        </div>
        <div class="card-body">
            <div class="problemset-course"><a href="{{ url_for('.course', course=contest.course) }}">{{ contest.course.name }}</a></div>
            <h1 class="problemset-title title-nav">
                <span class="title-nav__title">{{ contest.name }}</span>
                <span class="title-nav__nav btn-group--title-nav">
                    {%- if problems_visible and problems | length > 2 -%}
                    <button class="btn btn-outline-primary" id="open-all">打开所有题目</button>
                    {%- endif -%}
                    {% if g.can_write -%}
                    <a href="{{ url_for('.problemset_admin', contest=contest) }}" class="btn btn-outline-primary">管理</a>
                    {%- endif -%}
                    {%- if problems_visible and problems | length > 4 -%}
                    <button class="btn btn-outline-primary" id="width-toggle">切换宽度</button>
                    {%- endif -%}
                </span>
            </h1>
            {%- if contest.description != '' -%}
            <div>{{ render(contest.description) }}</div>
            {%- endif -%}
            <div class="table-responsive" id="contest-table-wrapper">
                <table class="table table-striped table-bordered table-hover" id="contest">
                    <thead>
                    <tr>
                        {% if contest.ranked %}<th>排名</th>{% endif %}
                        <th>昵称{% if g.is_admin -%}<span class="small">（点击查看用户名）</span>{%- endif %}</th>
                        {% if has_real_name -%}<th>实名</th>{%- endif %}
                        {% if g.can_read and contest.completion_criteria != None %}<th>完成情况</th>{% endif %}
                        {% if problems_visible -%}
                        {% for problem in problems -%}
                            <th><a href="{{ url_for('.problem', problem=problem) }}" class="problem-link" target="_blank">{{ problem }}</a></th>
                        {%- endfor %}
                        {%- endif %}
                        {% if contest.rank_partial_score -%}
                        <th>总得分</th>
                        {%- else -%}
                        <th>总通过数</th>
                        {%- endif %}
                        {% if contest.rank_penalty %}<th>罚时</th>{% endif %}
                    </tr>
                    </thead>
                    {% for player in data -%}
                        <tr class="{{ 'player--external' if player['is_external'] and not contest.rank_all_users }}">
                            {% if contest.ranked %}<td class="player-rank">{{ player['rank'] }}</td>{% endif %}
                            <td class="player-name">
                                {% if g.is_admin -%}
                                <span data-container="body" data-toggle="popover" data-placement="left" data-content="用户名：{{ player['username'] }}">{{ player['friendly_name'] }}</span>
                                {% else -%}
                                <span>{{ player['friendly_name'] }}</span>
                                {%- endif %}
                            </td>
                            {% if has_real_name -%}
                            <td>{{ display_real_name(real_name_map[player['student_id']]) }}</td>
                            {%- endif %}
                            {% if g.can_read and contest.completion_criteria != None -%}
                            {%- if has_completed(contest, player) -%}
                            <td>已完成</td>
                            {%- else -%}
                            <td>未完成</td>
                            {%- endif -%}
                            {%- endif %}
                            {% if problems_visible -%}
                            {% for problem in player.problems -%}
                            {%- set j = loop.index0 -%}
                                <td>
                                    {% if problem['count'] > 0 or problem['pending_count'] > 0 -%}
                                        {{ problem['score'] if contest.rank_partial_score and problem['count'] > 0 else '' -}}
                                        {%- macro plural_submit(x) -%}
                                        {%- if x == 1 -%} 1 submission {%- else -%} {{x}} submissions {%- endif -%}
                                        {%- endmacro -%}
                                        {%- macro status() -%}
                                            {%- if problem['accepted'] %}
                                                <span class="text-green" title="Accepted in {{ plural_submit(problem['count']) }}">({{ problem['count'] }}Y)</span>
                                            {%- else -%}
                                                {%- if problem['count'] > 0 %}
                                                <span class="text-red" title="{{ plural_submit(problem['count']) }}, not accepted">(-{{ problem['count'] }})</span>
                                                {%- endif -%}
                                                {%- if problem['pending_count'] > 0 %}
                                                <span class="text-blue" title="{{ plural_submit(problem['pending_count']) }} pending">({{ problem['pending_count'] }}?)</span>
                                                {%- endif -%}
                                            {%- endif -%}
                                        {%- endmacro -%}
                                        {%- if not problem['accepted'] -%}
                                            {% if g.is_admin -%}
                                            <a class="text-red" href="{{ url_for('.status', submitter=player['username'], problem_id=problems[j]) }}">{{ status() }}</a>
                                            {% else -%}
                                            {{ status() }}
                                            {%- endif %}
                                        {%- else -%}
                                            {% if g.is_admin -%}
                                            <a href="{{ url_for('.status', submitter=player['username'], problem_id=problems[j]) }}">{{ status() }}</a>
                                            {% else -%}
                                            {{ status() }}
                                            {%- endif %}
                                        {%- endif -%}
                                    {%- endif %}
                                </td>
                            {%- endfor %}
                            {%- endif %}
                            {% if contest.rank_partial_score -%}
                            <td>{{ player['score'] }}</td>
                            {%- else -%}
                            <td>{{ player['ac_count'] }}</td>
                            {%- endif %}
                            {% if contest.rank_penalty %}<td>{{ player['penalty'] }}</td>{% endif %}
                        </tr>
                    {%- endfor %}
                </table>
            </div>
            {%- if not contest.rank_all_users -%}
            <div id="toggle-external-container">
                <div class="custom-control custom-checkbox mt-2 mb-3 ml-1">
                    <input class="custom-control-input" id="toggle-external" type="checkbox" checked>
                    <label class="custom-control-label" for="toggle-external">显示非正式选手</label>
                </div>
            </div>
            <style>
                #toggle-external-container {
                    display: none;
                }
                #toggle-external-container:has(input) {
                    display: block;
                }
                #contest-table-wrapper:has(+ #toggle-external-container #toggle-external:not(:checked)) .player--external {
                    display: none;
                }
            </style>
            {%- endif -%}
        </div>
    </div>
{% endblock %}
{% block script %}

{{ render_scripts() }}

{% if g.can_read %}
<script src="{{ url_for('.static', filename = 'lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/jszip.min.js') }}"></script>
<!-- <script src="{{ url_for('.static', filename = 'lib/pdfmake.min.js') }}"></script> -->
<!-- <script src="{{ url_for('.static', filename = 'lib/vfs_fonts.js') }}"></script> -->
{% endif %}


<script>
    $(function(){
        $("[data-toggle='popover']").popover();
    });
    $("[data-toggle='popover']").click(function(){
        setTimeout(function(){
            $("[data-toggle='popover']").popover('hide')
        }, 2000);
    });

    $('#width-toggle').click(() => {
        $('.container').toggleClass('fullwidth')
    })
    $('#open-all').click(() => {
        for (const link of document.querySelectorAll('.problem-link')) {
            link.click()
        }
    })

{% if not contest.rank_all_users -%}
    const externalEl = document.querySelector('#toggle-external')
    externalEl.addEventListener('change', () => {
        localStorage.showExternal = String(externalEl.checked)
    })
    externalEl.checked = localStorage.showExternal !== 'false'
{%- endif %}

{% if g.can_read %}
    const datatable = $("#contest").DataTable({
        dom: 'Bft',
        order: [],
        paging: false,
        info: false,
        buttons: {
            dom: { button: { className: 'btn btn-outline-primary' } },
            buttons: [
                {
                    extend: 'copy',
                    text: '复制到剪贴板'
                },
                {
                    extend: 'csv',
                    text: '导出 csv',
                    charset: 'utf-8',
                    extension: '.csv',
                    filename: '{{ contest.name }}',
                    bom: true
                },
                {
                    extend: 'excel',
                    text: '导出 excel',
                    charset: 'utf-8',
                    filename: '{{ contest.name }}'
                },
            ],
        }
    })
{% endif %}
</script>
{% endblock %}
