{% extends 'base.html' %}
{% set page=course.name %}

{% block head %}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    <h1 class="title-nav">
        <span class="title-nav__title">{{ course.name }}</span>
        <ul class="title-nav__nav nav nav-pills flex-column flex-md-row">
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/course/{{ course.id }}">班级</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}/contest">比赛</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}/homework">作业</a>
            </li>
            {% if g.can_write %}
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}/admin">管理</a>
            </li>
            {% endif %}
        </ul>
    </h1>
    <hr>
    <div>
        {%- if course.description != '' -%}
        <h3>班级简介</h3>
        <div>{{ render(course.description) }} </div>
        <hr>
        {%- endif -%}

        {%- set separator = namespace(t=False) -%}
        {%- for type in 'in-progress', 'future', 'past' -%}
        {%- set contests = suggestions[type] -%}
        {%- if contests | length > 0 -%}
        {%- if separator.t -%}
        <hr>
        {%- endif -%}
        {%- set separator.t = True -%}
        <h3 class="mb-3">{{ { 'in-progress': '正在进行', 'future': '即将开始', 'past': '刚刚结束' }[type] }}</h3>
        <div class="contest-card-group">
            {%- for contest in contests -%}
            {{ contest_card(contest, show_course_name=False) }}
            {%- endfor -%}
        </div>
        {%- endif -%}
        {%- endfor -%}
    </div>
</div>
<br>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
