{% extends 'base.html' %}
{% set page=course.name %}

{% block head %}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    {%- from 'component/course.html' import course_title -%}
    {{ course_title(course) }}
    <hr>
    {%- if contests | length > 0 -%}
    <div class="card-group--small">
        {%- for contest in contests -%}
        {{ contest_card(contest, show_course_name=False, show_type=show_type) }}
        {%- endfor -%}
    </div>
    {%- else -%}
    <div>暂无{{ { 'contest': '比赛', 'homework': '作业' }[type] }}</div>
    {%- endif -%}
</div>
<br>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
