{% extends "base.html" %}

{% set page=course.name %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    <h1 class="title-nav">
        <span class="title-nav__title">{{ course.name }}</span>
        <ul class="title-nav__nav nav nav-pills flex-column flex-md-row">
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}">班级</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}/contest">比赛</a>
            </li>
            <li class="nav-item">
            <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/course/{{ course.id }}/homework">作业</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/course/{{ course.id }}/admin">管理</a>
            </li>
        </ul>
    </h1>
    <div class="nav-wrapper">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0 active" id="overview-tab-btn" data-toggle="tab" href="#overview-tab" role="tab" aria-controls="overview-tab" aria-selected="true">基本信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" id="problem-tab-btn" data-toggle="tab" href="#problem-tab" role="tab" aria-controls="problem-tab" aria-selected="false">题目</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" id="contest-tab_btn" data-toggle="tab" href="#contest-tab" role="tab" aria-controls="contest-tab" aria-selected="false">比赛与作业</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" id="realname-tab_btn" data-toggle="tab" href="#realname-tab" role="tab" aria-controls="realname-tab" aria-selected="false">实名</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" id="document-tab_btn" data-toggle="tab" href="#document-tab" role="tab" aria-controls="document-tab" aria-selected="false">文档</a>
            </li>
        </ul>
    </div>
    <hr>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview-tab" role="tabpanel" aria-labelledby="overview-tab-btn">
            <h3>基本信息</h3>
            <form id="form-overview" class="clearfix" method="post">
                {{ g.csrf() }}
                <div class="form-group">
                    <label for="course-name">课程名称</label>
                    <input class="form-control" type="text" name="name" id="course-name" value="{{ course.name }}">
                </div>
                <div>
                    <label for="course-description">课程描述</label>
                </div>
                <textarea class="form-control mb-3" rows="5" id="course-description" name="description">{{ course.description }}</textarea>
                <div class="float-right d-flex mb-3 ml-auto pr-1">
                    <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
                </div>
            </form>
        </div>


        <div class="tab-pane fade" id="problem-tab" role="tabpanel" aria-labelledby="problem-tab-btn">
            <h3>管理已有题目</h3>
            <form id="form-jump-problem">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="problem-id">题目 ID</label>
                        <input class="form-control" type="number" id="problem-id" required>
                    </div>
                    <div class="d-flex mb-3 pr-1">
                        <button type="submit" class="btn btn-outline-primary mt-auto">跳转</button>
                    </div>
                </div>
            </form>
            <hr>
            <h3>新建题目</h3>
            <p>请勿连续多次点击此按钮。</p>
            <form action="/OnlineJudge/admin/course/{{ course.id }}/problem" method="POST">
                {{ g.csrf() }}
                <button type="submit" class="btn btn-outline-primary" onclick="setTimeout(() => this.disabled = true)">新建题目</button>
            </form>
        </div>


        <div class="tab-pane fade" id="contest-tab" role="tabpanel" aria-labelledby="contest-tab-btn">
            <h3 class="mb-3">管理已有比赛/作业</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for contest in course.contests | reverse -%}
                    <tr>
                        <td>{{ contest.id }}</td>
                        <td><a href="/OnlineJudge/problemset/{{ contest.id }}">[{{ ['比赛', '作业', '考试'][contest.type] }}] {{ contest.name }}</a></td>
                        <td>{{ g.utils.readable_time(contest.start_time) }}</td>
                        <td>{{ g.utils.readable_time(contest.end_time) }}</td>
                        <td><a href="/OnlineJudge/problemset/{{ contest.id }}/admin" class="btn btn-sm btn-primary">管理</a></td>
                    </tr>
                    {%- endfor %}
                </table>
                {{ page_switcher(pages, args) }}
            </div>
            <h3>新建比赛/作业</h3>
            <p>请勿连续多次点击此按钮。</p>
            <form action="/OnlineJudge/admin/course/{{ course.id }}/contest" method="POST">
                {{ g.csrf() }}
                <button type="submit" class="btn btn-outline-primary" onclick="setTimeout(() => this.disabled = true)">新建比赛</button>
            </form>
        </div>

        <div class="tab-pane fade" id="realname-tab" role="tabpanel" aria-labelledby="realname-tab-btn">
            <h3>批量添加实名信息</h3>
            <p>每行一条信息，格式为「学号,姓名,分组（可不填）」。请使用半角（西文）逗号。一位同学可以有多个分组，以竖线「|」分隔。</p>
            <form id="formRealname" action="/OnlineJudge/admin/course/{{ course.id }}/realname" method="POST">
                {{ g.csrf() }}
                <input type="hidden" name="action" value="add">
                <textarea class="form-control mb-3" rows="5" name="data" placeholder="523030910000,张三"></textarea>
                <div class="form-row">
                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddRealname">添加实名信息</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="tab-pane fade" id="document-tab" role="tabpanel" aria-labelledby="document-tab-btn">
            <h3>管理员文档</h3>
            <ul>
                <li><a href="/OnlineJudge/admin/admin-doc">管理界面使用指南</a></li>
                <li><a href="/OnlineJudge/admin/problem-format-doc">题面格式规范</a></li>
                <li><a href="/OnlineJudge/admin/data-doc">数据格式规范</a></li>
                <li><a href="/OnlineJudge/admin/package-sample">数据包样例</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/course_admin.js') }}?v=20240129"></script>
{% endblock %}
