{% extends 'base.html' %}
{% set page=course.name %}

{% block head %}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    {%- from 'component/course.html' import course_title -%}
    {{ course_title(course) }}
    <hr>
    <div>
        {%- if course.description != '' -%}
        <h3>班级简介</h3>
        <div>{{ render(course.description) }} </div>
        {%- else -%}
        <div>班级暂无介绍</div>
        {%- endif -%}

        {%- for type in 'in-progress', 'future', 'past' -%}
        {%- set contests = suggestions[type] -%}
        {%- if contests | length > 0 -%}
        <hr>
        <h3 class="mb-3">{{ { 'in-progress': '正在进行', 'future': '即将开始', 'past': '刚刚结束' }[type] }}</h3>
        <div class="card-group--small">
            {%- for contest in contests -%}
            {{ contest_card(contest, show_course_name=False) }}
            {%- endfor -%}
        </div>
        {%- endif -%}
        {%- endfor -%}
    </div>
</div>
<br>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
