{% extends 'base.html' %} {% set page='数据格式规范' %} {% block content %}
<div class="card card-body">
<h1 id="数据格式规范">数据格式规范</h1>
<p>by cong258258，Anoxiacxy，Alan-Liang，LauYeeYu，更新于 2023.2.16</p>
<h2 id="zip总格式">ZIP总格式</h2>
<ul>
<li><strong>数据包名称</strong>：<code>题号.zip</code>（如
<code>1000.zip</code>），<strong>请确认题号与题面中的
id（即数据库主键）保持一致再上传传输数据包</strong>。</li>
<li><strong>数据包目录结构</strong>：<code>题号.zip/题号/所有文件</code>，如
<code>1000.zip/1000/1.in</code></li>
<li><strong>可能包含的内容及大致情况</strong>：
<ul>
<li>（所有题目类型必须）一个
<code>config.json</code>，包含所有评测方法的信息。</li>
<li>（除特殊情况外，所有题目类型必须）一个
<code>description.md</code>，即题面信息。请参考<a
href="problem_format_doc">题面格式规范文档</a>。</li>
<li>（强烈建议）<code>solution.cpp</code>，即标程。</li>
<li>（大部分情况下需要，verilog 评测不支持）若干
<code>数字.in</code>，即传统 OI
题中的输入文件。<strong>文件名请采用连续编号的，从1开始的纯数字</strong>，与
<code>.out</code> 对应。</li>
<li>（大部分情况下需要，部分 spj 不需要）若干
<code>数字.out</code>，即传统 OI
题中的正确输出。<strong>文件名请采用连续编号的，从1开始的纯数字</strong>，与
<code>.in</code> 对应。</li>
<li>（评测 .h 头文件需要）若干
<code>数字.cpp</code>，他们将引用学生上传的头文件（评测时保存在
<code>src.hpp</code>）进行评测。<strong>文件名请采用连续编号的，从1开始的纯数字</strong>。你需要
<code>#include "src.hpp"</code>。</li>
<li>（spj 需要）一个 <code>spj.cpp</code>，传入参数见详情。</li>
<li>（可选）任意题目可能需要的文件，如：插图（<strong>请确保插图上传到
OJ 自带图床，能从互联网访问后引用 URL
而不是直接本地引用</strong>），数据生成脚本，<code>config.json</code>
生成脚本，数据随机种子，辅助网页等信息。</li>
</ul></li>
<li><a
href="package_sample">数据包样例</a>中提供了一些常见的数据包结构，可供参考。但请注意，请<strong>务必先认真阅读本文档</strong>，数据包样例不能涵盖全部信息。</li>
</ul>
<h3 id="cpp-评测">CPP 评测</h3>
<p>除上述要求外，还需包含 <code>.h</code> 或
<code>.hpp</code>，如果在评测时（如评测头文件，评测
spj）需要引入其他头文件。同时将文件名填入 <code>config.json</code> 的
<code>SupportedFiles</code>，参见 <a
href="#supportedfiles">SupportedFiles 章节</a>。</p>
<h3 id="verilog-评测">Verilog 评测</h3>
<p>若干 <code>数字.v</code>，他们将引用学生上传的 <code>.v</code>
模块（评测时保存在
<code>answer.v</code>）进行评测。<strong>文件名请采用连续编号的，从 1
开始的纯数字</strong>。你需要 <code>`include “answer.v”</code>。</p>
<h2 id="config.json">config.json</h2>
<h3 id="groups">Groups</h3>
<ul>
<li>GroupID：连续编号，从 1 开始的纯数字。</li>
<li>GroupName：若不存在可填<code>""</code>。</li>
<li>GroupScore：该评测组的满分。</li>
<li>TestPoints：一个数组，数组元素为本组包含的一个/多个测试点在 Details
列表中的次序。将这些测试点的得分<strong>取最小值</strong>，乘以上述
GroupScore（该评测组的满分），即得到该测试组的最终得分。（一般情况下，我们要求
SPJ 给出的测试点得分为一个 0 ~ 1 之间的小数；对于非 SPJ
的情况，通过此测试点为 1 ，否则为
0）。作为<strong>取最小值</strong>这一行为的一个特例，非 SPJ
给分的测试组需要其下所有测试点 AC
，才能得到该评测组的分数。<strong>即使本组只有一个测试点，TestPoints
也必须是一个数组！</strong></li>
</ul>
<h3 id="details">Details</h3>
<ul>
<li>ID：这个ID和数据包下的文件名对应，<code>1</code> 对应 1.in / 1.out /
1.ans / 1.cpp。</li>
<li>Dependency：依赖测试点，如果某个测试点需要在其他测试点通过后再进行测试，可以填写其他测试点的编号，无依赖性的时候填写
<code>0</code>。注意，这里的编号不是上述的ID，而是测试点在 Details
列表中的次序。当然，如果你的 ID 编号从 1 开始且连续递增，那么 ID 和
Details 列表中的次序是一样的。</li>
<li>TimeLimit：建议值 1000（1秒），单位 ms。</li>
<li>MemoryLimit：建议值 268435456（256MB），单位 byte。</li>
<li>DiskLimit：如果不使用，建议值 0，单位
byte。负数表示新开空间，正数不会新开空间，仅作为 Disk Limit Exceed
的参考标准。如，测试组 1 的 Details 包含测试点 1, 2,
3（三个点顺序依赖），通过将他们的 DiskLimit 分别设置为 -512000000,
512000000, 512000000，就可以实现这三个点共享约 512MB
的测试磁盘空间，且在 1, 2
运行结束时留下的文件不会被删除，仍可被接下来运行的测试点读取；仅在测试点
3 运行结束后销毁所有文件。</li>
<li>FileNumberLimit：文件数量限制。</li>
<li>ValgrindTestOn：True /
False，是否开启精细化的内存泄漏检测。请注意，Valgrind
会<strong>大大降低评测速度</strong>，程序运行时间将延长 10-100
倍，因此需要<strong>扩大时间限制</strong>。另外，建议加入<strong>不带内存泄漏检查</strong>的测试点，并作为该测试点的依赖
(Dependency)，以减少错误提交的测试时间。</li>
</ul>
<h3 id="compiletimelimit">CompileTimeLimit</h3>
<p>建议值 10000（10秒），单位 ms，如需从 Git
拉取编译评测可适当增加。</p>
<h3 id="spj">SPJ</h3>
<ul>
<li>spj 0 single file with diff
<ul>
<li>这是通常类型题目将会使用到的评测类型，将会直接编译用户提交的代码，使用
<code>*.in</code> 作为程序输入，<code>*.out/ans</code>
作为标准答案，直接和程序输出进行 <code>diff</code> 比较来给分。</li>
</ul></li>
<li>spj 1 single file with spj
<ul>
<li>这是答案不唯一的题目可能会使用到的评测类型，流程和 spj 0
基本相同，只是在获取了程序输出之后，会将程序输出，<code>*.in</code> 和
<code>*.out/ans</code> 文件交付给出题人自定义的 <code>spj_bin</code> 或
<code>spj.cpp</code> 文件进行评测，具体参见 <a href="#spj-file">SPJ File
部分</a>。</li>
</ul></li>
<li>spj 2 hpp without diff
<ul>
<li>这是需要对头文件进行测试的评测类型，用户提交的代码将会被保存在
<code>src.hpp</code> 中。在数据包的根目录下需要有 <code>main.cpp</code>
或者 <code>1.cpp</code>、<code>2.cpp</code> 这样的文件，文件中需要
<code>#include "src.hpp"</code>，即可调用用户提交的代码进行测试。程序输出的就是最终的得分，所以你需要有一些奇特的方法来避免用户在
<code>src.hpp</code>
中输出一些奇怪的内容而影响最终的评分。更好的评测方式应该是使用 spj
4。注意，该评测类型可能不需要使用到 <code>*.out/ans</code> 文件。</li>
</ul></li>
<li>spj 3 hpp with diff
<ul>
<li>这同样是对头文件进行测试的评测类型，但是在最终的评分环节，是将输出和
<code>*.out/ans</code> 进行 <code>diff</code> 比对而给分的。</li>
</ul></li>
<li>spj 4 hpp with spj
<ul>
<li>这是一个 spj 2/3 的完美替代品，用户提交的代码会被保存在
<code>src.hpp</code> 里面，数据包内需要包含 <code>main.cpp</code> 或者
<code>1.cpp</code>、<code>2.cpp</code>，这些文件将会被一起编译成用户程序
<code>program</code>，数据包还需要有另外的 <code>spj_bin</code> 或
<code>spj.cpp</code>，它接受 <code>program</code>
程序的输出，<code>*.in</code> 、<code>*.out/ans</code>
作为参数，具体参见 <a href="#spj-file">SPJ File 部分</a>。一个解决 spj 2
中用户输出或者输入的方法是将文件 <code>*.in</code>
加密，并加入完整性检测的 MD5，以防止用户程序擅自在 <code>src.hpp</code>
中读入，可以在 <code>program</code> 的输出也加入完整性检测的
MD5，同时使用 <code>spj_bin</code> 或 <code>spj.cpp</code> 对
<code>program</code> 的输出进行检测，以防止用户程序擅自在
<code>src.hpp</code> 中输出。</li>
</ul></li>
<li>spj 5 output only
<ul>
<li>这里将直接把用户提交的文件作为 <code>userOutput</code> 传递给
<code>spj_bin</code> 或 <code>spj.cpp</code>，如果你的
<code>spj_bin</code> 或 <code>spj.cpp</code>
中内置了一个编译器，理论上你可以支持所有程序语言的评测。关于
<code>spj_bin</code> 或 <code>spj.cpp</code>，具体参见 <a
href="#spj-file">SPJ File 部分</a>。</li>
</ul></li>
</ul>
<h3 id="supportedfiles">SupportedFiles</h3>
<p>一个数组，包含运行时需要额外引用的非库的头文件。<strong>注意</strong>，这里引入的文件需要被放入数据包的根目录下，而且该文件只会在文件的编译期被使用，程序运行时是不可以使用到这里的文件的。例：</p>
<div class="sourceCode" id="cb1"><pre
class="sourceCode json"><code class="sourceCode json"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a>  <span class="er">&quot;SupportedFiles&quot;:</span> <span class="ot">[</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>        <span class="st">&quot;utility.hpp&quot;</span><span class="ot">,</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>        <span class="st">&quot;exceptions.hpp&quot;</span><span class="ot">,</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>        <span class="st">&quot;class-bint.hpp&quot;</span><span class="ot">,</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>        <span class="st">&quot;class-integer.hpp&quot;</span><span class="ot">,</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>        <span class="st">&quot;class-matrix.hpp&quot;</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>    <span class="ot">]</span></span></code></pre></div>
<h3 id="verilog">Verilog</h3>
<p>是否启用 Verilog 评测，启用为 <code>true</code>，否则为
<code>false</code> 。默认为
<code>false</code>。请注意，如果启用该选项，所有的提交的将会<strong>强制</strong>被视作
Verilog。关于 Verilog 评测的更多信息，请参阅 <a
href="#verilog-评测">Verilog 评测章节</a>。</p>
<h3 id="quiz">Quiz</h3>
<p>是否是填选题，填选题为 <code>true</code>，否则为
<code>false</code>。默认为 <code>false</code>。</p>
<h2 id="description.md">description.md</h2>
<ul>
<li>题面信息请参考<a
href="problem_format_doc">题面格式规范文档</a>。</li>
<li>在数据包中放 <code>description.md</code>
仅仅是为了数据包的完整性给以后的助教和管理员提供便利，其本身与数据库和网页题面显示并没有关联。</li>
<li>因此重新上传数据包，<code>description.md</code>
中的改动并不会体现在网页上；</li>
<li>通过网页或其他方式修改题面后，改动也不会同步到数据包里，请知悉；</li>
<li>若 Markdown 格式不方便，也可以使用 txt/word 等文本格式。</li>
<li>若无必要给出题面情况（比如大作业的题面在 GitHub
上），这一项可不放。</li>
<li>若需要插入图片，建议上传到 ACM OJ 图床服务，建议使用
<code>&lt;img&gt;</code> 标签插入题面以更好的控制题目格式。</li>
<li>建议将时空限制在数据范围中注明。</li>
</ul>
<h2 id="solution.cpp">solution.cpp</h2>
<ul>
<li>在数据包中放标程仅仅是为了数据包的完整性给以后的助教和管理员提供便利，其本身与评测并没有关联。</li>
<li>若存在难以给出标程情况（比如大作业），这一项可不放。</li>
<li>也欢迎放上部分分解法，命名可以是
<code>solution60.cpp</code>，<code>solution_n2.cpp</code> 等。</li>
<li>对于所有评测 cpp 类题目，避免将标答命名为
<code>main.cpp</code>。</li>
<li>对于评测头文件类题目，避免将标答命名为
<code>src.h</code>、<code>src.hpp</code>。</li>
<li>对于评测 verilog 类题目，避免将标答命名为
<code>answer.v</code>。</li>
<li>对于存在从 stdin 读取信息的评测，不需要 freopen。</li>
<li>对于传统的输出 stdout 与各测试点简单比对结果的评测，不需要
freopen。</li>
</ul>
<h2 id="in">1.in</h2>
<ul>
<li>即传统 OI 题中从 stdin 输入的文件。</li>
<li>命名规范：若干
<code>数字.in</code>，<strong>文件名请采用连续编号的，从1开始的纯数字</strong>，与
<code>.out/ans</code> 对应。</li>
<li>在评测 <code>.h</code> 头文件时，可能不需要从 stdin
读取信息而将测试点嵌在各个 cpp（<code>1.cpp</code>）里，此时可不存在
<code>.in</code>。</li>
<li>在使用 spj.cpp 时，可能不需要从 stdin 读取信息而将测试点嵌在
spj（<code>spj.cpp</code>）里，此时可不存在<code>.in</code>。</li>
<li>在评测 verilog
时，尚不支持任何方式的读取输入，请将测试点内嵌至testbench（<code>1.v</code>）。</li>
<li>注意：我们的 OJ 评测均采用 Linux 环境，默认 diff
时有行末空格过滤。虽然对于许多题目，换行符为 Windows 的
CRLF(<code>\r\n</code>) 还是 Linux 的 LF(<code>\n</code>)
并不会产生很大的影响，但请各位出数据的助教尽可能不要出现 CRLF。</li>
</ul>
<h2 id="out-1.ans">1.out / 1.ans</h2>
<ul>
<li>即传统 OI 题中的正确输出，他们将与程序的 stdout 输出进行比对。</li>
<li>命名规范：若干 <code>数字.out</code> 或
<code>数字.ans</code>，<strong>文件名请采用连续编号的，从1开始的纯数字</strong>，与
<code>.in</code> 对应。同时存在 <code>.out</code> 和 <code>.ans</code>
时后者优先级高。</li>
<li>在使用 spj.cpp 时，可能不需要比对 stdout，此时可不存在
<code>.out</code>。</li>
<li>注意：我们的 OJ 评测均采用 Linux 环境，默认 diff
时有行末空格过滤。虽然对于许多题目，换行符为 Windows 的
CRLF(<code>\r\n</code>) 还是 Linux 的 LF(<code>\n</code>)
并不会产生很大的影响，但请各位出数据的助教尽可能不要出现 CRLF。</li>
</ul>
<h2 id="spj-file">SPJ File</h2>
<p>如果需要编写特定的 spj 程序，如 spj1、spj4、spj5，可以使用
<code>spj_bin</code> 或 <code>spj.cpp</code>。</p>
<p>当存在 <code>spj_bin</code> 时，会优先使用 <code>spj_bin</code>。</p>
<p><code>spj_bin</code> 是一个可执行文件（OJ
会自动给予执行权限）；<code>spj.cpp</code> 是一个 C++ 源文件，OJ
会将其编译成可执行文件。</p>
<h3 id="spj_bin">spj_bin</h3>
<p><code>spj_bin</code> 通过命令行（argv[]）传参，具体如下：</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="ex">./spj</span> input output answer score message</span></code></pre></div>
<p>其中：</p>
<ul>
<li>input 是题目的输入文件</li>
<li>output 是用户输出</li>
<li>answer 是题目的答案</li>
<li>score 是把评测的分数</li>
<li>message 是错误/提示信息</li>
</ul>
<p><code>spj_bin</code> 可以是二进制文件，也可以是 shell/python
脚本。</p>
<h3 id="spj.cpp">spj.cpp</h3>
<p><code>spj.cpp</code> 通过命令行（argv[]）传参，具体如下：</p>
<div class="sourceCode" id="cb3"><pre
class="sourceCode cpp"><code class="sourceCode cpp"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="dt">FILE</span> <span class="op">*</span>input   <span class="op">=</span> fopen<span class="op">(</span>argv<span class="op">[</span><span class="dv">1</span><span class="op">],</span> <span class="st">&quot;r&quot;</span><span class="op">);</span> <span class="co">// 题目的输入文件</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a><span class="dt">FILE</span> <span class="op">*</span>output  <span class="op">=</span> fopen<span class="op">(</span>argv<span class="op">[</span><span class="dv">2</span><span class="op">],</span> <span class="st">&quot;r&quot;</span><span class="op">);</span> <span class="co">// 用户输出</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a><span class="dt">FILE</span> <span class="op">*</span>answer  <span class="op">=</span> fopen<span class="op">(</span>argv<span class="op">[</span><span class="dv">3</span><span class="op">],</span> <span class="st">&quot;r&quot;</span><span class="op">);</span> <span class="co">// 题目的答案</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a><span class="dt">FILE</span> <span class="op">*</span>score   <span class="op">=</span> fopen<span class="op">(</span>argv<span class="op">[</span><span class="dv">4</span><span class="op">],</span> <span class="st">&quot;w&quot;</span><span class="op">);</span> <span class="co">// 把评测的分数输出到这里</span></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a><span class="dt">FILE</span> <span class="op">*</span>message <span class="op">=</span> fopen<span class="op">(</span>argv<span class="op">[</span><span class="dv">5</span><span class="op">],</span> <span class="st">&quot;w&quot;</span><span class="op">);</span> <span class="co">// 这里输出错误/提示信息</span></span></code></pre></div>
<p>score 中只有一个 double 类型的数，如果值为 1，那么该测试点会被判断为
AC，否则为 WA。此功能可以实现部分赋分，例如将一个 groupScore 设为
100，且只包含一个测试点，如果 score 中的 double 数为 0.5，那么该 group
的得分就是 50 分。</p>
<p>message 功能：这部分信息将显示到 OJ 上供选手查看。</p>
</div>
{% endblock %}
