{% extends 'base.html' %} {% set page='文档' %} {% block content %}
<div class="card card-body">
<h1 id="用户及管理员文档">用户及管理员文档</h1>
<h2 id="非管理员相关文档">非管理员相关文档</h2>
<ul>
<li><a href="account-and-profile">账户和个人信息</a></li>
<li><a href="classes-contests-homework-and-exams">班级、比赛、作业与考试</a></li>
<li><a href="view-submit-and-judge-problems">查看、提交及评测题目</a></li>
</ul>
<h2 id="管理员相关文档">管理员相关文档</h2>
<ul>
<li><a href="admin-doc">管理界面使用指南</a></li>
<li><a href="problem-format-doc">题面格式规范</a></li>
<li><a href="data-doc">数据格式规范</a></li>
<li><a href="package-sample">数据包样例</a></li>
</ul>
</div>
{% endblock %}
