{% extends 'base.html' %}

{% set page='Feed' %}

{% block content %}
    <div class="card card-body col-lg-12 m-auto">
        <h1 class="text-center"> 给评测姬投食！ </h1>
        <p>
            <del>(Todo: 此处应有站娘)</del>
        </p>
        <p>我很可爱，请给我钱～</p>
        <p>您的每一分捐赠，都将为评测姬提供一份助力。</p>
        <p>
            <del>您的每一分捐赠，都会被收入评测姬的主人囊中</del>
        </p>
        <p>
            <del>(Todo: 此处应有评测姬的本子)</del>
        </p>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <img src="https://cdn.yukisaki.io:2333/pay/alipay.jpeg" class="img-fluid h-100" alt="alipay qr code">
            </div>
            <div class="col-lg-5">
                <img src="https://cdn.yukisaki.io:2333/pay/wechat.jpeg" class="img-fluid h-100"
                     alt="wechat payment qr code">
            </div>
        </div>
    </div>
{% endblock %}
