{% extends 'base.html' %}

{% set page='Homework' %}
{% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/jquery.dataTables.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/buttons.bootstrap4.min.css') }}">

{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center"> {{ id }}. {{ Title }} </h1>
        <div class="progress-wrapper">
            <div class="progress-info">
                <div class="progress-label">
                    {{ StartTime }} ~ {{ EndTime }}
                </div>
                <div class="progress-percentage">
                    <span>{{ Percentage }}% {{ Status }}</span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped{{ " progress-bar-animated" if Percentage!=100 else "" }}"
                     style="width: {{ Percentage }}%;">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="homework">
                <thead>
                <tr>
                    <th>昵称{% if is_Admin -%}<span class="small">（点击查看用户名）</span>{%- endif %}</th>
                    {% if is_Admin -%}<th>实名</th>{%- endif %}
                    {% if problems_visible -%}
                        {% for problem in Problems -%}
                            <th><a href="/OnlineJudge/problem/{{ problem[0] }}" target="_blank">{{ problem[0] }}</a></th>
                        {%- endfor %}
                    {%- endif %}
                    <th>总通过数</th>
                </tr>
                </thead>
                {% for i, player in enumerate(data) -%}
                    <tr>
                        <td>
                            {% if is_Admin -%}
                            <span data-container="body" data-toggle="popover" data-placement="left" data-content="用户名：{{ player['username'] }}">{{ player['friendly_name'] }}</span>
                            {% else -%}
                            <span>{{ player['friendly_name'] }}</span>
                            {%- endif %}
                        {% if is_Admin %}
                            <td>{{ player['realname'] }}</td>
                        {% endif %}
                        </td>
                        {% if problems_visible -%}
                        {% for j, problem in enumerate(player.problems) -%}
                            <td>
                                {% if problem['count'] -%}
                                    {%- if not problem['accepted'] -%}
                                        {% if is_Admin -%}
                                        <a class="text-red" href="/OnlineJudge/{{ status_url }}?submitter={{ player['username'] }}&problem_id={{ Problems[j][0] }}"> (-{{ problem['count'] }})</a>
                                        {% else -%}
                                        <span class="text-red"> (-{{ problem['count'] }})</span>
                                        {%- endif %}
                                    {%- else -%}
                                        {% if is_Admin -%}
                                        <a class="text-green" href="/OnlineJudge/{{ status_url }}?submitter={{ player['username'] }}&problem_id={{ Problems[j][0] }}&status={{ ac_status }}"> ({{ problem['count'] }}Y)</a>
                                        {% else -%}
                                        <span class="text-green"> ({{ problem['count'] }}Y)</span>
                                        {%- endif %}
                                    {%- endif -%}
                                {%- endif %}
                            </td>
                        {%- endfor %}
                        {%- endif %}
                        <td>{{ player['ac_count'] }}</td>
                    </tr>
                {%- endfor %}
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{{ url_for('.static', filename = 'lib/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/jszip.min.js') }}"></script>
<!-- <script src="{{ url_for('.static', filename = 'lib/pdfmake.min.js') }}"></script> -->
<!-- <script src="{{ url_for('.static', filename = 'lib/vfs_fonts.js') }}"></script> -->


<script>
    $(function(){
        $("[data-toggle='popover']").popover();
    });
    $("[data-toggle='popover']").click(function(){
        setTimeout(function(){
            $("[data-toggle='popover']").popover('hide')
        }, 2000);
    });

    {% if is_Admin %}
    $(function(){
        var table = $("#homework").DataTable({
            dom: 'Bfrtip',
            paging: false,
            info: false,
            buttons: [
                {
                    extend: 'copy',
                    text: '复制到剪贴板'
                },
                {
                    extend: 'csv',
                    text: '导出 csv',
                    charset: 'utf-8',
                    extension: '.csv',
                    filename: '{{ Title }}',
                    bom: true
                },
                {
                    extend: 'excel',
                    text: '导出 excel',
                    charset: 'utf-8',
                    filename: '{{ Title }}'
                }
            ]
        });
        var manage_button = '<a class="btn btn-secondary" href="/OnlineJudge/admin/?contest_id={{ id }}"> 管理作业 </a>';
        $(".dt-buttons").append(manage_button);
        var word_wrap_button = '<button class="btn btn-secondary" id="word_wrap_button"> 禁用自动换行 </button>';
        $(".dt-buttons").append(word_wrap_button);
        $("#word_wrap_button").click(function(){
            $("#homework").attr("style", "white-space: nowrap;");
        });
    });
{% endif %}
</script>
{% endblock %}