<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<title>作业列表</title>
<!--
<script src="/static/jquery.min.js"></script>
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/main.css" rel="stylesheet">
<script src="/static/popper.min.js" ></script>
<script src="/static/bootstrap.min.js" ></script>
-->
<link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
</head>
			

<body>
<div class="container">
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures"></div>
	<div class="card">
        <div class="bootstrap-data-table-panel">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="problem_list">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>题目名称</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<footer>
	<div class="container text-center">SJTU OnlineJudge &copy 2020 Power by 1234567890</div>
</footer>
</body>
<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/jquery.form.js"></script>
<script src="assets/js/lib/sweetalert/sweetalert.min.js"></script> 
</html>