{% extends 'base.html' %}

{% set page='Homework' %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center"> {{ id }}.{{ Title }} </h1>
        <h5 class="text-center"> {{ StartTime }} ~ {{ EndTime }} {{ Status }}</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="homework">
                <thead>
                <tr>
                    <th>用户</th>
                    {% for problem in Problems %}
                        <th><a href="/problem?problem_id={{ problem[0] }}" target="_blank">{{ problem[0] }}</a></th>
                    {% endfor %}
                    <th>总通过数</th>
                </tr>
                </thead>
                {% for i in range(0, len) %}
                    <tr>
                        <td>
                            <span>{{ Data[i][1] }}</span>
                            {% if is_Admin %}
                                <span class="text-black-50 float-right"><small>{{ Data[i][len2 + 2] }}</small></span>
                            {% endif %}
                        </td>
                        {% for j in range(0, len2) %}
                            <td>
                                {% if Data[i][j + 2][1] %}
                                    {% if not Data[i][j+2][0] %}
                                        <span class="text-red">(-{{ Data[i][j + 2][1] }})</span>
                                    {% else %}
                                        <span class="text-green">({{ Data[i][j + 2][1] }}Y)</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>{{ Data[i][0] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
