{% extends 'base.html' %} {% set page='Index' %} {% block content %}
<div class="jumbotron bg-white">
    <h1>Welcome to ACM Class OnlineJudge</h1>
    <hr class="my-4">
    <h4>Compiler Options:</h4>
    <p>C++：<code>g++ code.cpp -o code -fmax-errors=10 -O2 -DONLINE_JUDGE -lm -std=c++17</code></p>
    <p>Git：<code>cmake . && make</code></p>
    <p>Verilog：<code>iverlog answer.v -o code</code></p>
    <p>gcc version：<code>gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)</code></p>
    <p>cmake version：<code>cmake version 3.16.3</code></p>
    <hr class="my-4">
    <p>联系管理组：<a href="mailto:acmclassoj@googlegroups.com">acmclassoj@googlegroups.com</a></p>
    <!--
        <hr class="my-4">
        <a class="btn btn-lg btn-primary mb-3" href="/OnlineJudge/problems">Challenge</a>
        <a class="btn btn-lg btn-warning mb-3" href="/OnlineJudge/about">About</a>
        <a class="btn btn-lg btn-default mb-3" href="/OnlineJudge-old/">Legacy OnlineJudge</a>
        <hr class="my-4">
        -->
    <p>
        友情链接：
        <a href="https://acm.sjtu.edu.cn/wiki/">课程wiki</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/difference_engine1.html">差分机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/enigma.html">Enigma模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/turing_machine.html">图灵机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/analytical_engine.html">分析机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://21.acmsekai.com/">21 ACM Sekai</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.app/">ACM Online</a>
    </p>
</div>
{% endblock %}
