{% extends 'base.html' %} {% set page='Index' %} {% block content %}
<div class="jumbotron bg-white">
    <h1>Welcome to ACM Class OnlineJudge Mirror</h1>
    <hr class="my-4">
    <h4>Compiler Options:</h4>
    <p>C++：<code>g++ code.cpp -o code -fmax-errors=10 -O2 -DONLINE_JUDGE -lm -std=c++17</code></p>
    <p>Git：<code>cmake . && make</code></p>
    <p>Verilog：<code>iverlog answer.v -o code</code></p>
    <p>gcc version：<code>gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04)</code></p>
    <p>cmake version：<code>cmake version 3.16.3</code></p>
    <hr class="my-4">
    <h5>疫情期间，祝大家好好生活，认真写码，一定会迎来春暖花开的一天~ 加油！</h5>
    <p>
        本站为 <a href="https://acm.sjtu.edu.cn/OnlineJudge/">ACM Class OnlineJudge 主站</a> 的镜像站，用于 ACM OJ 的新功能开发与测试。
        因此部分界面样式、评测效率与特性与主站有所差异，用户数据库、题面数据库、评测结果、评测数据与主站无法保证即时同步，仅作临时使用。
    </p>
    <p>如需要管理员账户，以及对OJ有任何改进建议，欢迎邮件ACM OJ管理组。</p>
    <p>请所有助教在上题前阅读“管理”界面，“文档”选项卡的相关文档，注意题面与数据格式的规范！</p>
    <p>
        目前 OJ Mirror 可以提供的服务包括：2021年7月以前的所有题面与测试数据、作业与比赛（包括从10000题号开始的 Legacy OnlineJudge 迁移而来的题目）、注册用户信息。图床服务暂时不可用。
    <p><strong>
        许多同学和助教可能需要重新注册账户，本学期的作业题和比赛也需要助教重新新建与上传，请大家谅解，！！再次注册时请认真阅读注册界面的提示！！
    </strong></p>
    <p><strong>
        各位助教请注意，为了方便疫情结束后与主站合并，本站新题题号从20000开始，比赛与作业号从500开始，评测号从160000开始，请您留意以防止题目与评测数据丢失！如有任何问题与需求请联系管理组。
    </strong></p>
    <hr class="my-4">
    <p>联系管理组：<a href="mailto:acmclassoj@googlegroups.com">acmclassoj@googlegroups.com</a></p>
    <p>
        友情链接：
        <a href="https://acm.sjtu.edu.cn/wiki/">课程wiki</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/difference_engine1.html">差分机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/enigma.html">Enigma模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/turing_machine.html">图灵机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.edu.cn/simulator/analytical_engine.html">分析机模拟器</a>&nbsp;&nbsp;&nbsp;
        <a href="https://21.acmsekai.com/">21 ACM Sekai</a>&nbsp;&nbsp;&nbsp;
        <a href="https://acm.sjtu.app/">ACM Online</a>
    </p>
</div>
{% endblock %}
