{% extends 'base.html' %}

{% set page='主页' %}

{% block head %}
{%- if suggestions is not None -%}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
{%- endif -%}
{% endblock %}

{% block content %}
<div class="card card-body">
    <h1>Welcome to ACM Class OnlineJudge</h1>

    {%- if g.user is not None and g.user.privilege >= g.consts.Privilege.ADMIN and not g.is_admin -%}
    <h4>致 ACMOJ 管理员的一封信</h4>
    <p>近几个学期以来，使用 ACMOJ 的教学班不断增多，现有的作业、比赛等机制已不再能够满足使用需求，大量班级的作业混合展示在一起，给同学们造成了一定的不便。为此，在 2023&ndash;2024 学年春季学期中，ACMOJ 将启用正式的班级机制，OJ 中题目、作业、比赛的管理均将基于班级。在学生加入班级之后，学生将自动加入班级内与他/她相关的所有作业、比赛和考试，OJ 首页也将展示更为个性化的内容。详细内容可以参见 <a href="{{ url_for('.help', page='admin/getting-started') }}">管理入门</a> 和 <a href="https://acm.sjtu.edu.cn/OnlineJudge/blog/changelog-in-2024-winter-vacation/">2024 寒假更新日志</a>。</p>
    <p>班级的创建暂时需要由运维组人工完成。如果您有创建班级的需求，请填写<a href="https://wj.sjtu.edu.cn/q/9w8DAefP">ACMOJ 班级创建表单</a>。表单由运维组人工处理，会有一定的延迟，敬请谅解。</p>
    <p>功能上线初期，难免会有设计和实现的不足之处，还请您指出、见谅。如果您对这一功能还有疑问或疑虑，欢迎通过邮件或 QQ 群（942621107）与我们联系。</p>
    <p>感谢您继续使用 ACM Class OnlineJudge！</p>
    <p style="text-align: end;">ACM Class OnlineJudge 开发组<br>2024 年 2 月</p>
    <hr>
    {%- endif -%}

    {% if news | length > 0 -%}
    <h4>新闻</h4>
    {% for item in news -%}
    <p>
        <a class="blog-post" href="{{ item['link'] }}">
            {%- if item['weight'] > 0 %}<strong>{% endif -%}
            <span class="blog-post__title">{{ item['title'] }}</span>
            <span class="blog-post__date">{{ g.utils.readable_date(item['date']) }}</span>
            {%- if item['weight'] > 0 %}</strong>{% endif -%}
        </a>
    </p>
    {%- endfor %}
    <p>
        <a href="{{ news_link }}">查看全部 →</a>
    </p>

    <hr class="my-4">

    {%- endif %}

    {%- if invited_courses is not None and invited_courses | length > 0 -%}
    <h4 class="mb-3">待加入的班级</h4>
    <p>加入班级后，班级的管理员将可以看到您的全部提交代码，您将自动加入所有与您相关的作业、比赛和考试。</p>
    <div class="card-group--small">
        {%- for course in invited_courses -%}
        <a class="card card--small" href="{{ url_for('.course', course=course) }}">
            {%- if course.term is not None or course.tag is not None -%}
            <div class="card-header">
                {%- if course.term is not None -%}
                {{ course.term.name }}
                {%- if course.tag is not None %} &middot; {% endif -%}
                {%- endif -%}
                {%- if course.tag is not None -%}
                {{ course.tag.name }}
                {%- endif -%}
            </div>
            {%- endif -%}
            <div class="card-body">
                <span class="card--course__name">{{ course.name }}</span>
                <span class="card--course__actions float-right">
                    <form action="{{ url_for('.course_ignore', course=course) }}" method="POST" onsubmit="return confirm('确认要忽略班级吗？忽略班级后，可以在班级列表中加入班级。')" class="d-inline">
                        {{ g.csrf() }}
                        <button type="submit" class="btn btn-outline-primary btn-sm">忽略</button>
                    </form>
                    <form action="{{ url_for('.course_join', course=course) }}" method="POST" class="d-inline">
                        {{ g.csrf() }}
                        <button type="submit" class="btn btn-primary btn-sm">加入</button>
                    </form>
                </span>
            </div>
        </a>
        {%- endfor -%}
    </div>
    <hr class="my-4">
    {%- endif -%}

    {%- if admin_courses is not None and admin_courses | length > 0 -%}
    <div class="card-group--small">
        {%- for course in admin_courses -%}
        <a class="card card--small" href="{{ url_for('.course', course=course) }}">
            {%- if course.term is not None or course.tag is not None -%}
            <div class="card-header">
                {%- if course.term is not None -%}
                {{ course.term.name }}
                {%- if course.tag is not None %} &middot; {% endif -%}
                {%- endif -%}
                {%- if course.tag is not None -%}
                {{ course.tag.name }}
                {%- endif -%}
            </div>
            {%- endif -%}
            <div class="card-body">
                <span class="card--course__name">{{ course.name }}</span>
                <span class="card--course__actions float-right">
                    <form action="{{ url_for('.course_admin', course=course) }}" class="d-inline">
                        <button type="submit" class="btn btn-primary btn-sm">管理</button>
                    </form>
                </span>
            </div>
        </a>
        {%- endfor -%}
    </div>
    <hr class="my-4">
    {%- endif -%}

    {%- if suggestions is not None -%}
    <!-- <h4>我的比赛和作业</h4> -->
    {%- for type in 'in-progress', 'future', 'past' -%}
    {%- set contests = suggestions[type] -%}
    {%- if contests | length > 0 -%}
    <h4 class="mb-3">{{ { 'in-progress': '正在进行', 'future': '即将开始', 'past': '刚刚结束' }[type] }}</h4>
    <div class="card-group--small">
        {%- for contest in contests -%}
        {{ contest_card(contest) }}
        {%- endfor -%}
    </div>
    <hr class="my-4">
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}

    {% if g.is_admin -%}
    <p><strong>邀请您加入 ACMOJ 助教 QQ 群: 942621107</strong>（此消息仅对助教显示，请勿拉学生入群。）</p>
    {%- endif %}
    <p>如需要管理员账户，以及对 OJ 有任何改进建议，欢迎邮件 ACM OJ 管理组。</p>
    <p>请所有助教在上题前阅读「帮助」界面中的相关文档，注意题面与数据格式的规范！</p>
    <p>联系管理组：<a href="mailto:acmclassoj@googlegroups.com">acmclassoj@googlegroups.com</a></p>
    <p>
        友情链接：<!--
     --><a class="mr-2" href="https://acm.sjtu.edu.cn/wiki/">课程 wiki</a><!--
     --><a class="mr-2" href="https://acm.sjtu.edu.cn/simulator/">伟大思想模拟器</a><!--
     --><a class="mr-2" href="https://zysalon.com/">致远沙龙查询</a><!--
     --><a class="mr-2" href="https://stats.uptimerobot.com/NB3PWFZGAk">OJ 炸了吗</a>
    </p>
</div>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
