{% extends 'base.html' %}

{% set page='Detail' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center">评测详情 {{ Detail['ID'] }}</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="status_list">
                <thead>
                <tr>
                    <th>评测编号</th>
                    <th>用户昵称{% if is_Admin -%}<span class="small">（点击查看用户名）</span>{%- endif %}</th>
                    <th>题目名称</th>
                    <th>评测状态</th>
                    <th>运行时间</th>
                    <th>内存</th>
                    <th>分数</th>
                    <th>语言</th>
                    <th>提交时间</th>
                </tr>
                </thead>
                <tr>
                    <td>{{ Detail['ID'] }}</td>
                    <td>
                        {% if is_Admin -%}
                        <span data-container="body" data-toggle="popover" data-placement="left" data-content="用户名：{{ Detail['User'] }}">{{ Detail['Friendly_Name'] }}</span>
                        {% else -%}
                        <span>{{ Detail['Friendly_Name'] }}</span>
                        {%- endif %}
                    </td>
                    <td>
                        <a href="/OnlineJudge/problem?problem_id={{ Detail['Problem_ID'] }}">{{ Detail['Problem_ID'] }}. {{ Detail['Problem_Title'] }}</a>
                    </td>
                    <td>
                        <b>
                            {% if Detail['Status'] == '0' -%}
                                <span class="text-gray">Pending</span>
                            {% elif Detail['Status'] == '1' -%}
                                <span class="text-blue">Running & Judging</span>
                            {% elif Detail['Status'] == '2' -%}
                                <span class="text-green">Accepted</span>
                            {% elif Detail['Status'] == '3' -%}
                                <span class="text-red">Wrong Answer</span>
                            {% elif Detail['Status'] == '5' -%}
                                <span class="text-red">Runtime Error</span>
                            {% elif Detail['Status'] == '4' -%}
                                <span class="text-yellow">Compile Error</span>
                            {% elif Detail['Status'] == '6' -%}
                                <span class="text-orange">Time Limit Exceed</span>
                            {% elif Detail['Status'] == '7'-%}
                                <span class="text-orange">Memory Limit Exceed</span>
                            {% elif Detail['Status'] == '10' -%}
                                <span class="text-purple">Disk Limit Exceed</span>
                            {% elif Detail['Status'] == '8' -%}
                                <span class="text-purple">Memory Leak</span>
                            {% elif Detail['Status'] == '9' -%}
                                <span class="text-gray-dark">System Error</span>
                            {%- endif %}
                        </b>
                    </td>
                    <td>{{ Detail['Time_Used'] }}ms</td>
                    <td>{{ Detail['Mem_Used'] }}KiB</td>
                    <td>{{ Detail['Score'] }}</td>
                    <td>{{ Detail['Lang'] }}</td>
                    <td>{{ Detail['Time'] }}</td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="m-auto">
                {% for group in Data %}
                    {% for j in range(4, group|length) -%}
                        {%- if group[j][1] == 0 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-secondary">Pending</a>
                        {%- elif group[j][1] == 1 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-info">Running</a>
                        {%- elif group[j][1] == 2 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-success">AC</a>
                        {%- elif group[j][1] == 3 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-danger">WA</a>
                        {%- elif group[j][1] == 5 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">RE</a>
                        {%- elif group[j][1] == 4 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">CE</a>
                        {%- elif group[j][1] == 6 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">TLE</a>
                        {%- elif group[j][1] == 7 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">MLE</a>
                        {%- elif group[j][1] == 8 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">Leak</a>
                        {%- elif group[j][1] == 9 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-default">SE</a>
                        {%- elif group[j][1] == 10 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-warning">DLE</a>
                        {%- elif group[j][1] == 11 -%}
                            <a href="#{{ group[0] }}_{{ j }}" class="badge badge-pill badge-secondary">Skipped</a>
                        {%- endif -%}
                    {%- endfor %}
                {%- endfor %}
            </div>
        </div>
        <hr>
        <h5>代码：<button id="copy_button" class="btn btn-primary float-right" data-clipboard-target="#judge_detail_code_highlighted">复制</button></h5>
        <pre><code id="judge_detail_code_highlighted">Waiting for code</code></pre>
        {% if Data != None -%}
            <hr>
            <div>
                <h5>测试点详情：</h5>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Subtasks</th>
                        </tr>
                        <tr>
                            <td>
                                {% for group in Data %}
                                    <table class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <th>
                                                <span>Subtask{{ group[0] }}: {{ group[1] }}</span>
                                                <span class="ml-2">Score:{{ group[3] }}</span>
                                            </th>
                                        <tr>
                                            {% for j in range(4, group|length) -%}
                                                <tr>
                                                    <td>
                                                        Testpoint {{ group[j][0] }}: <b>
                                                        {%- if group[j][1] == 0 -%}
                                                            <span class="text-gray" id="{{ group[0] }}_{{ j }}">Pending</span>
                                                        {%- elif group[j][1] == 1 -%}
                                                            <span class="text-blue" id="{{ group[0] }}_{{ j }}">Running & Judging</span>
                                                        {%- elif group[j][1] == 2 -%}
                                                            <span class="text-green" id="{{ group[0] }}_{{ j }}">Accepted</span>
                                                        {%- elif group[j][1] == 3 -%}
                                                            <span class="text-red" id="{{ group[0] }}_{{ j }}">Wrong Answer</span>
                                                        {%- elif group[j][1] == 5 -%}
                                                            <span class="text-red" id="{{ group[0] }}_{{ j }}">Runtime Error</span>
                                                        {%- elif group[j][1] == 4 -%}
                                                            <span class="text-yellow" id="{{ group[0] }}_{{ j }}">Compile Error</span>
                                                        {%- elif group[j][1] == 6 -%}
                                                            <span class="text-orange" id="{{ group[0] }}_{{ j }}">Time Limit Exceed</span>
                                                        {%- elif group[j][1] == 7 -%}
                                                            <span class="text-orange" id="{{ group[0] }}_{{ j }}">Memory Limit Exceed</span>
                                                        {%- elif group[j][1] == 8 -%}
                                                            <span class="text-purple" id="{{ group[0] }}_{{ j }}">Memory Leak</span>
                                                        {%- elif group[j][1] == 9 -%}
                                                            <span class="text-gray-dark" id="{{ group[0] }}_{{ j }}">System Error</span>
                                                        {%- elif group[j][1] == 10 -%}
                                                            <span class="text-purple" id="{{ group[0] }}_{{ j }}">Disk Limit Exceed</span>
                                                        {%- elif group[j][1] == 11 -%}
                                                            <span class="text-black" id="{{ group[0] }}_{{ j }}">Skipped</span>
                                                        {%- endif -%}</b>
                                                        <br>
                                                        Time Used: {{ group[j][3]|int }}ms Mem
                                                        Used:{{ group[j][2]|int }}KiB<br>
                                                        {% if group[j][4] != -1 -%}
                                                            Disk Usage: {{ group[j][4] / 1024 }}MiB<br>
                                                        {%- endif %}
                                                        Info: {{ group[j][5] }}
                                                    </td>
                                                <tr>
                                            {%- endfor %}
                                    </table>
                                {%- endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        {%- endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
    <script>
        var clipboard = new ClipboardJS(document.getElementById('copy_button'));
        $(function(){
            $("[data-toggle='popover']").popover();
        });
    </script>
    <script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
    <script>
        $(function () {
            $.ajax({
                type: "POST",
                dataType: "text",
                data: {submit_id: {{ Detail['ID'] }}},
                url: "/OnlineJudge/api/code",
                success: function (response_text) {
                    $("#judge_detail_code_highlighted").text(response_text);
                    hljs.initHighlighting();
                },
            });
        });
    </script>
{% endblock %}

