{% extends 'base.html' %}

{% set page='登录' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1>登录</h1>
        {{ show_alert() }}
        {% if g.user != None -%}
            <h4 class="text-center">您已经以 {{ g.user.friendly_name }} 身份登录。</h4>
        {% else -%}
            <form method="POST">
                {{ g.csrf() }}
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input class="form-control" type="text" name="username" id="username"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" type="password" name="password" id="password"
                           required="required">
                </div>
                <br>
                <input type="submit" class="btn btn-block btn-primary" value="登录">
            </form>
        {%- endif %}
    </div>
{% endblock %}
