<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登录</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://cdn.yukisaki.io:2333/oj_cdn/bootstrap.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
	</head>
	
	<body style="background-color: rgba(193,220,248,0.1);">
		<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="/">ACM Class OnlineJudge 2020</a>
				<div class="navbar-collapse collapse" id="navbar_global"></div>
				<div class="navbar-collapse collapse justify-content-end" id="navbar_right"></div>
			</div>
		</nav>
		<div class="container">
			<div class="row justify-content-center">
				<div class="card card-body col-lg-5">
					<div class="page-header">
						<h1 class="text-center">登录</h1>
					</div>
					{% if Logged_In %}
						Please Logout First
					{% else %}
					<form method="post" id="login">
						用户名：<input class="form-control input-default" type="text" name="username" id="username" required="required">
						密码：<input class="form-control input-default" type="password" name="password" id="password" required="required">
						<input type="hidden" name="next" value="{{Next}}">
						<br>
						<input type="submit" class="btn btn-primary btn-block" value="登录">	
					</form>
					{% endif %}
				</div>
			</div>
			<footer>
				<div class="container text-center" id="footer"></div>
			</footer>
		</div>
	</body>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/jquery.min.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/jquery.form.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/sweetalert/sweetalert.min.js"></script>
<script src="{{ url_for('static', filename = 'js/login.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/navbar.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/user-avatar.js')}}"></script>
</html>