{% extends 'base.html' %}

{% set page='Login' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1 class="text-center">登录</h1>
        {% if friendlyName!='' -%}
            <h4 class="text-center">Please Logout First</h4>
        {% else -%}
            <form method="post" id="login">
                <div class="form-group">
                    <p>请注意：无论您在镜像站上注册时输入的用户名是什么，登录时都需要在后面加上mirror这六个字母作为用户名（注册时不用输入这六个字母），以确保账号与主站不会冲突。例如，您注册时填写的用户名为cong，那么登录时您的用户名应为congmirror。2021年7月前已有账户请忽略此条限制。</p>
                    <label for="username">用户名</label>
                    <input class="form-control" type="text" name="username" id="username"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" type="password" name="password" id="password"
                           required="required">
                </div>
                <input type="hidden" name="next" value="{{ Next }}">
                <br>
                <input type="submit" class="btn btn-block btn-primary" value="登录">
            </form>
        {%- endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'js/login.js') }}"></script>
{% endblock %}
