{% extends 'base.html' %}

{% set page='登录' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1>登录</h1>
        {{ show_alert() }}
        {% if g.user is not None -%}
            <h4 class="text-center">您已经以 {{ g.user.friendly_name }} 身份登录。</h4>
        {% else -%}
            <form method="POST">
                {{ g.csrf() }}
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input class="form-control" type="text" name="username" id="username"
                           required="required">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input class="form-control" type="password" name="password" id="password"
                           required="required">
                </div>
                <br>
                <input type="submit" class="btn btn-block btn-primary" value="登录">
            </form>
            
            <br>
            <details>
                <summary>忘记密码？</summary>
                <ul>
                    <li>
                        如果您拥有 jAccount 账号，且 ACMOJ 账号注册时填写的学工号与 jAccount 账号的学工号相同，可以进行 jAccount 验证以重置密码。
                        <a href="{{ url_for('web.login_jaccount', next=request.args.get('next')) }}" target="_self">
                            <button class="btn btn-block btn-primary">点击跳转至 jAccount 登陆页面</button>
                        </a>
                        <br>
                    </li>
                    <li>
                        联系运维组重置密码。运维组列表见 <a href="{{ url_for('web.about') }}#mntners">关于</a>。
                    </li>
                </ul>
            </details>
        {%- endif %}
    </div>
{% endblock %}
