{% extends 'base.html' %}
{% set page=problem.title %}

{% block head %}
{{ render_styles() }}
{% endblock %}

{% block content %}
<div class="card card-body">
    {%- from 'component/problem.html' import problem_title -%}
    {{ problem_title(problem) }}
    <hr>
    <div>
        {%- if problem.description is not None -%}
        <h3>题目描述</h3>
        <div id="description">{{ render(problem.description) }}</div>
        {%- endif -%}
        {%- if problem.input is not None -%}
        <h3>输入格式</h3>
        <div id="input-format">{{ render(problem.input) }}</div>
        {%- endif -%}
        {%- if problem.output is not None -%}
        <h3>输出格式</h3>
        <div id="output-format">{{ render(problem.output) }}</div>
        {%- endif -%}
        {%- if problem.example_input is not None -%}
        <h3>样例输入</h3>
        <div id="example-input">{{ render(problem.example_input) }}</div>
        {%- endif -%}
        {%- if problem.example_output is not None -%}
        <h3>样例输出</h3>
        <div id="example-output">{{ render(problem.example_output) }}</div>
        {%- endif -%}
        {%- if problem.data_range is not None -%}
        <h3>数据范围</h3>
        <div id="data-range">{{ render(problem.data_range) }}</div>
        {%- endif -%}
        {%- if problem.limits is not None and problem.limits['time'] | length > 0 -%}
        <h3>时空磁盘限制（运行时）</h3>
        <div id="limits">
            {%- set min_time = problem.limits['time'] | min -%}
            {%- set max_time = problem.limits['time'] | max -%}
            {%- if min_time == max_time -%}
            <p>时间限制：{{ min_time }} ms</p>
            {%- else -%}
            <p>时间限制：{{ min_time }} ms min, {{ max_time }} max</p>
            {%- endif -%}

            {%- set min_mem = (problem.limits['mem'] | min) // 1024 // 1024 -%}
            {%- set max_mem = (problem.limits['mem'] | max) // 1024 // 1024 -%}
            {%- if min_mem == max_mem -%}
            <p>内存空间限制：{{ min_mem }} MiB</p>
            {%- else -%}
            <p>内存空间限制：{{ min_mem }} MiB min, {{ max_mem }} MiB max</p>
            {%- endif -%}

            {%- set has_disk_limit = False -%}
            {%- if 'disk' in problem.limits and problem.limits['disk'] | length > 0 -%}
            {%- set min_disk = (problem.limits['disk'] | map('abs') | min) // 1024 // 1024 -%}
            {%- set max_disk = (problem.limits['disk'] | map('abs') | max) // 1024 // 1024 -%}
            {%- if min_disk == 0 and max_disk == 0 -%}
            <p>磁盘空间限制：不可使用磁盘</p>
            {%- elif min_disk == max_disk -%}
            {%- set has_disk_limit = True -%}
            <p>磁盘空间限制：{{ min_disk }} MiB</p>
            {%- else -%}
            {%- set has_disk_limit = True -%}
            <p>磁盘空间限制：{{ min_disk }} MiB min, {{ max_disk }} MiB max</p>
            {%- endif -%}
            {%- endif -%}

            {%- set has_file_limit = False -%}
            {%- if 'file' in problem.limits and problem.limits['file'] | length > 0 -%}
            {%- set min_file = problem.limits['file'] | min -%}
            {%- set max_file = problem.limits['file'] | max -%}
            {%- if min_file == 0 and max_file == 0 -%}
            <p>文件数量限制：不可使用文件</p>
            {%- elif min_file == max_file -%}
            {%- set has_file_limit = True -%}
            <p>文件数量限制：{{ min_file }} 个</p>
            {%- else -%}
            {%- set has_file_limit = True -%}
            <p>文件数量限制：{{ min_file }} 个 min, {{ max_file }} 个 max</p>
            {%- endif -%}
            {%- endif -%}

            <details>
                <summary>单个测试点时空限制详情</summary>
                <table>
                    <thead>
                        <tr>
                            <th>测试点编号</th>
                            <th>时间限制（ms）</th>
                            <th>内存空间限制（MiB）</th>
                            {% if has_disk_limit -%}
                            <th>磁盘空间限制（MiB）</th>
                            {%- endif %}
                            {% if has_file_limit -%}
                            <th>文件数量限制</th>
                            {%- endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {%- for i in range(problem.limits['length']) -%}
                        <tr>
                            <td>{{ i + 1 }}</td>
                            <td>{{ problem.limits['time'][i] }}</td>
                            <td>{{ problem.limits['mem'][i] // 1024 // 1024 }}</td>
                            {% if has_disk_limit -%}
                            <td>
                                {%- set limit = problem.limits['disk'][i] // 1024 // 1024 -%}
                                {{ limit | abs }}
                                {%- if limit < 0 -%}
                                （新开空间）
                                {%- endif -%}
                            </td>
                            {%- endif %}
                            {% if has_file_limit -%}
                            <td>{{ problem.limits['file'][i] }}</td>
                            {%- endif %}
                        </tr>
                        {%- endfor -%}
                    </tbody>
                </table>
                <p>raw config data:</p>
                <code>{{ problem.limits | tojson }}</code>
            </details>
        </div>
        {%- endif -%}
    </div>
</div>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
