Current User: {{Friendly_Username}}

<a href="submit?problem_id={{Detial['ID']}}" target="_blank" rel="noopener noreferrer">submit</a>
{% if not In_Contest %}
<a href="rank?problem_id={{Detial['ID']}}" target="_blank" rel="noopener noreferrer">ranklist</a>
<a href="discuss?problem_id={{Detial['ID']}}" target="_blank" rel="noopener noreferrer">discuss</a>
{% endif %}

{{Detial['ID']}} {{Detial['Title']}}<br>
{{Detial['Description']}}<br>
{{Detial['Input']}}<br>
{{Detial['Output']}}<br>
{{Detial['Example_Input']}}<br>
{{Detial['Example_Output']}}<br>
{{Detial['Data_Range']}}<br>