{% extends 'base.html' %}

{% set page='提交' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        {%- from 'component/problem.html' import problem_title -%}
        {{ problem_title(problem) }}
        <hr>
        {% if languages_accepted | length > 0 -%}
        <form method="post" id="problem-submit-form">
            {{ g.csrf() }}
            {% if languages_accepted | length > 1 -%}
            <div class="form-group">
                <label for="language">语言</label>
                <select id="language" name="language" class="form-control input-group py-0 selectpicker"
                        data-style="form-control rounded border-grey shadow-none font-weight-normal">
                    <option value="autodetect" selected>自动检测</option>
                    {%- for language in languages_accepted -%}
                    <option value="{{ language }}">{{ g.consts.language_info[language].name }}</option>
                    {%- endfor -%}
                </select>
            </div>
            {%- else -%}
            <input type="hidden" id="language" name="language" value="{{ languages_accepted[0] }}">
            {%- endif %}
            <div class="row mx-0">
                <label for="code">代码</label>
                {% if not g.in_exam and problem.allow_public_submissions -%}
                    <div class="form-group ml-auto">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" name="public" id="public"
                                   value="public">
                            <label class="custom-control-label" for="public">代码对他人可见</label>
                        </div>
                    </div>
                {%- endif %}
            </div>
            <textarea class="form-control mb-3 text-monospace" rows="18" id="code" name="code" required="required"></textarea>
            <input type="hidden" name="problem_id" value="{{ problem.id }}">
            <noscript>
                <input type="submit" class="btn btn-block btn-primary" value="提交评测">
            </noscript>
            <input type="submit" disabled id="submit-button" class="btn btn-block btn-primary" value="提交评测">
        </form>
        {%- else -%}
        <p>此题目暂时无法评测。</p>
        {%- endif -%}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/problem_submit.js') }}?v=20240902"></script>
{% endblock %}
