{% extends 'base.html' %}

{% set page=problem.title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/editor.md/css/editormd.min.css') }}"> 
<link rel="stylesheet" href="{{ url_for('.static', filename = 'dark.css') }}">

<link rel="upload-url" href="{{ url_for('.problem_upload_url', problem=problem) }}">
<link rel="update-plan" href="{{ url_for('.problem_update_plan', problem=problem) }}">
<link rel="description" href="{{ url_for('.problem_description', problem=problem) }}">
<link rel="limit" href="{{ url_for('.problem_limit', problem=problem) }}">
<link rel="pic-url" href="{{ url_for('.admin_pic_url') }}">
<link rel="editor.md-lib" href="{{ url_for('.static', filename='lib/editor.md/lib/') }}">
{% endblock %}

{% block content %}
<div class="card card-body">
    {%- from 'component/problem.html' import problem_title -%}
    {{ problem_title(problem) }}
    {{
        nav_tab_list({
            'overview': '基本信息',
            'privileges': '权限',
            'description': '题面',
            'data-zip': '数据（zip）',
            'data-gui': '数据（GUI）',
            'judge': '评测',
            'pic': '图床',
        }, 'overview')
    }}
    {{ show_alert() }}
    <hr>


    <div class="tab-content">
        <div {{ begin_tab('overview') }}>
            <h3>基本信息</h3>
            <form method="POST" class="clearfix">
                {{ g.csrf() }}
                <input type="hidden" name="action" value="edit">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="iptTitle">题目标题</label>
                        <input class="form-control" type="text" name="title" id="iptTitle" value="{{ problem.title }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="iptReleaseTime">发布时间 (YYYY-MM-DDThh:mm)</label>
                        <input class="form-control" type="datetime-local" name="time" id="iptReleaseTime" value="{{ datetime_local(problem.release_time) }}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="iptProblemType">题目类型</label>
                        <select class="form-control selectpicker" name="problem_type" id="iptProblemType"
                                data-style="form-control font-weight-normal border-grey shadow-none">
                            {{ option_list({ 0: '代码题', 1: '填选题' }, problem.problem_type) }}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="allow-public-submissions">允许公开代码</label>
                        <select class="form-control selectpicker" name="allow_public_submissions" id="allow-public-submissions"
                                data-style="form-control font-weight-normal border-grey shadow-none">
                            {{ option_list({ 'true': '允许', 'false': '不允许' }, 'true' if problem.allow_public_submissions else 'false') }}
                        </select>
                    </div>
                </div>
                <div class="float-right d-flex mb-3 ml-auto">
                    <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
                </div>
            </form>
            <h3>题目状态</h3>
            <p>所属班级：<a href="{{ url_for('.course', course=problem.course) }}">{{ problem.course.name }}</a> <a href="{{ url_for('.course_admin', course=problem.course) }}" class="btn btn-sm btn-outline-primary ml-2">管理</a></p>
            <div class="mb-2">
                <span>发布状态：</span>
                {% if problem.release_time <= g.time -%}
                    <span class="text-green mr-2">已发布</span>
                    <form method="POST" class="d-inline-flex">
                        {{ g.csrf() }}
                        <input type="hidden" name="action" value="hide">
                        <button class="btn btn-outline-primary btn-sm" type="submit">取消发布</button>
                    </form>
                    <span>（点击会将发布时间设为遥远的未来）</span>
                {%- else -%}
                    <span class="text-red mr-2">未发布</span>
                    <form method="POST" class="d-inline-flex">
                        {{ g.csrf() }}
                        <input type="hidden" name="action" value="show">
                        <button class="btn btn-outline-primary btn-sm" type="submit">立即发布</button>
                    </form>
                    <span>（点击会将发布时间设为现在）</span>
                {%- endif %}
            </div>
            <p>
                提交状态：
                {% if submission_count > 0 %}
                共
                <a href="{{ url_for('.status', problem_id=problem.id) }}">{{ submission_count }} 次提交</a>，
                其中
                <a href="{{ url_for('.status', problem_id=problem.id, status='accepted') }}">{{ ac_count }} 次通过</a>，
                正确率 {{ "%.1f" % (ac_count / submission_count * 100) }}%
                {% else %}
                暂无提交
                {% endif %}
            </p>
            {% if problem.contests | length == 0 %}
            <p>题目当前未在比赛/作业中</p>
            {% else %}
            <p>题目在以下比赛/作业中使用：</p>
            <ul>
                {%- set contests = problem.contests | list | sort(attribute='id') -%}
                {% for contest in contests %}
                <li><a href="{{ url_for('.problemset', contest=contest) }}">
                    [{{ [ '比赛', '作业', '考试' ][contest.type] }}]
                    {{ contest.id }}.
                    {{ contest.name }}
                </a></li>
                {% endfor %}
            </ul>
            {% endif %}
            <h3>删除题目</h3>
            {% if submission_count > 0 or problem.contests | length > 0 %}
            {% if submission_count > 0 and problem.contests | length > 0 %}
            当前题目已有提交记录，且已存在于比赛/作业中，
            {% elif submission_count > 0 %}
            当前题目已有提交记录，
            {% elif problem.contests | length > 0 %}
            当前题目已存在于比赛/作业中，
            {% endif %}
            删除题目可能会导致不可预料的后果，请联系 OJ 运维组删除题目。
            {% else %}
            <p>删除题目将会不可逆地从数据库中删除题目的基本信息及题面信息。如您确认要删除题目，请在下方文本框中输入本题编号以确认：</p>
            <form method="POST">
                {{ g.csrf() }}
                <div class="form-row d-flex">
                    <input type="hidden" name="action" value="delete">
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="confirm" pattern="{{ problem.id }}" required>
                    </div>
                    <button class="btn btn-outline-primary ml-3" type="submit">删除题目</button>
                </div>
            </form>
            {% endif %}
        </div>

        <div {{ begin_tab('privileges') }}>
            <h3>题目权限</h3>
            <p>此处的权限设置不适用于本班级的管理员；本班级的管理员无需特殊授权即可管理题目。</p>
            <p>如果您希望其他人在本题目上取得更高权限，您可以在此处进行赋权或除权。额外权限分为两种：</p>
            <ul>
                <li><strong>只读权限</strong>：在发布时间之前查看题目；下载题目数据包；查看本题目下任意用户提交的代码及评测状态。</li>
                <li><strong>完整权限</strong>：对题目拥有完整权限。</li>
            </ul>
            <hr>
            {%- if problem.privileges | length > 0 -%}
            <h3>权限列表</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>权限类型</th>
                            <th>备注</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {%- for priv in problem.privileges -%}
                        <tr>
                              <td>{{ priv.user.username }}</td>
                              <td>{{ { 'owner': '完整', 'readonly': '只读' }[priv.privilege.name] }}</td>
                              <td>{{ priv.comment }}</td>
                              <td>
                                  <form method="POST" onsubmit="return confirm('确定移除管理权限？')">
                                      {{ g.csrf() }}
                                      <input type="hidden" name="action" value="priv-remove">
                                      <input type="hidden" name="id" value="{{ priv.id }}">
                                      <button type="submit" class="btn btn-primary btn-sm">除权</button>
                                  </form>
                              </td>
                        </tr>
                        {%- endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
            {%- endif -%}
            <h3>赋予权限</h3>
            <form method="POST" onsubmit="return confirm('确定赋予管理权限？')">
                {{ g.csrf() }}
                <input type="hidden" name="action" value="priv-add">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="priv-username">用户名</label>
                        <input class="form-control" type="text" name="username" id="priv-username" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="priv-type">权限类型</label>
                        <select class="form-control selectpicker" name="privilege" id="priv-type"
                                data-style="form-control font-weight-normal border-grey shadow-none" required>
                            {{ option_list({ 'readonly': '只读权限', 'owner': '完整权限' }, 'readonly') }}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="priv-comment">备注</label>
                        <input class="form-control" type="text" name="comment" id="priv-comment">
                    </div>
                    <div class="float-right d-flex mb-3 ml-auto">
                        <button class="btn btn-outline-primary mt-auto" type="submit">赋予权限</button>
                    </div>
                </div>
            </form>
        </div>

        <div {{ begin_tab('description') }}>
            <form id="form-description">
                <div>
                    <label for="iptDescription">题目描述</label>
                    <div class="init_editormd" id="iptDescription">
                        <textarea name="description" style="display: none" autocomplete="off"></textarea>
                    </div>
                    <label for="iptInput">输入格式</label>
                    <div class="init_editormd" id="iptInput">
                        <textarea name="input" style="display: none"></textarea>
                    </div>
                    <label for="iptOutput">输出格式</label>
                    <div class="init_editormd" id="iptOutput">
                        <textarea name="output" style="display: none"></textarea>
                    </div>
                    <label for="iptExampleInput">样例输入</label>
                    <div class="init_editormd" id="iptExampleInput">
                        <textarea name="example_input" style="display: none"></textarea>
                    </div>
                    <label for="iptExampleOutput">样例输出</label>
                    <div class="init_editormd" id="iptExampleOutput">
                        <textarea name="example_output" style="display: none"></textarea>
                    </div>
                    <label for="iptDataRange">数据范围</label>
                    <div class="init_editormd" id="iptDataRange">
                        <textarea name="data_range" style="display: none"></textarea>
                    </div>
                </div>
                <div class="float-right d-flex mb-3 ml-auto">
                    <button class="btn btn-outline-primary mt-auto" type="submit">保存</button>
                </div>
            </form>
        </div>

        <div {{ begin_tab('data-zip') }}>
            <h3>上传数据压缩包</h3>
            <form id="formDataZipUpload">
                <input type="hidden" name="id" value="{{ problem.id }}">
                <div class="form-row">
                    <div class="form-group custom-file col-md-3 mb-3">
                        <div style="position: relative">
                            <label class="custom-file-label ml-1 mr-1" for="iptDataZipUpload">请选择数据压缩包</label>
                            <input class="custom-file-input" type="file" name="file" id="iptDataZipUpload" accept=".zip" required="required">
                        </div>
                    </div>
                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnDataZipUpload">点击上传</button>
                    </div>
                </div>
                <progress id="data-upload-progress" class="w-100" max="1" value="0"></progress>
            </form>
            <hr>
            <h3>
                下载数据压缩包
                <a href="{{ url_for('.problem_data_zip', problem=problem) }}" class="btn btn-outline-primary float-right ml-auto mt-auto">点击下载</a>
            </h3>
        </div>

        <div {{ begin_tab('judge') }}>
            <h3>重测全部提交</h3>
            <p>如果想重测单份代码，请进入代码页面，点击代码上方的「重测」按钮。</p>
            {% if submission_count < 30 %}
            <p>当前有 {{ submission_count }} 次提交。</p>
            {% else %}
            <p>当前有 {{ submission_count }} 次提交，您确定要重测所有这些代码吗？请在下方文本框中输入题目编号以确认：</p>
            {% endif %}
            <form id="form-rejudge" action="{{ url_for('.admin_rejudge') }}" method="POST">
                {{ g.csrf() }}
                <input type="hidden" name="type" value="by_problem_id">
                <div class="form-row">
                    {% if submission_count < 30 %}
                    <input type="hidden" name="problem_id" value="{{ problem.id }}">
                    {% else %}
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="problem_id" pattern="{{ problem.id }}" required>
                    </div>
                    {% endif %}
                    <div class="d-flex mb-3 pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" onclick="return confirm('确定要重测所有 {{ problem.id }}. {{ problem.title }} 的评测吗？')">全部重测</button>
                    </div>
                </div>
            </form>

            <hr>
            <h3>取消全部提交成绩</h3>
            <p>如果想取消单份代码的成绩，请进入代码页面，点击代码上方的「VOID」按钮。</p>
            {% if submission_count < 30 %}
            <p>当前有 {{ submission_count }} 次提交。</p>
            {% else %}
            <p>当前有 {{ submission_count }} 次提交，您确定要取消所有这些提交的成绩吗？请在下方文本框中输入题目编号以确认：</p>
            {% endif %}
            <form id="form-void" action="{{ url_for('.admin_mark_void') }}" method="POST">
                {{ g.csrf() }}
                <div class="form-row">
                    <input type="hidden" name="type" value="by_problem_id">
                    {% if submission_count < 30 %}
                    <input type="hidden" name="problem_id" value="{{ problem.id }}">
                    {% else %}
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="problem_id" pattern="{{ problem.id }}" required>
                    </div>
                    {% endif %}
                    <div class="d-flex mb-3 pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" onclick="return confirm('确定要取消所有 {{ problem.id }}. {{ problem.title }} 评测的成绩吗？')">全部取消成绩</button>
                    </div>
                </div>
            </form>

            <hr>
            <h3>终止评测全部提交</h3>
            <p>如果想终止评测单份提交，请进入代码页面，点击代码上方的「终止评测」按钮。</p>
            <form id="form-abort" action="{{ url_for('.admin_abort_judge') }}" method="POST">
                {{ g.csrf() }}
                <div class="form-row">
                    <input type="hidden" name="type" value="by_problem_id">
                    <input type="hidden" name="problem_id" value="{{ problem.id }}">
                    <div class="d-flex mb-3 pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" onclick="return confirm('确定要终止所有 {{ problem.id }}. {{ problem.title }} 的评测？')">全部终止评测</button>
                    </div>
                </div>
            </form>
        </div>

        <div {{ begin_tab('pic') }}>
            <h3>上传图片到 ACM OJ 图床</h3>
            <form id="formPicUpload" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptPicUpload">gif, jpg/jpeg, png, svg</label>
                        <input class="custom-file-input" type="file" name="file" id="iptPicUpload" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg+xml" required="required">
                    </div>
                    <div class="float-right d-flex mb-3 ml-auto pr-1">
                        <button class="btn btn-outline-primary mt-auto" type="submit" id="btnPicUpload">点击上传</button>
                    </div>
                </div>
            </form>
        </div>

        <div {{ begin_tab('data-gui') }}>
            <form id="formData">
                <div class="form-row">
                    <input type="hidden" name="id" value="{{ problem.id }}">
                    <div class="form-group col-md-3 mb-3">
                        <label for="iptCompileTime"> 编译时长限制 (ms) </label>
                        <input class="form-control" type="number" name="time" id="iptCompileTime" value="30000">
                    </div>
                    <div class="form-group col-md-3 mb-3">
                        <label for="iptSpjType"> SPJ 类型 </label>
                        <select class="form-control selectpicker" name="type" id="iptSpjType"
                                data-style="form-control font-weight-normal border-grey shadow-none">
                            <option value="0">Classic</option>
                            <option value="1">Special Judge</option>
                            <option value="2">Interaction</option>
                            <option value="3">Scorer</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptDescriptionMd"> 题面 (md doc(x) txt) </label>
                        <input class="custom-file-input" type="file" name="description_md" id="iptDescriptionMd" 
                               accept=".md,.doc,.docx,.txt">
                    </div>
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptData"> 测试数据 (in out ans 多选) </label>
                        <input class="custom-file-input" type="file" name="data" id="iptData" accept=".in,.ans,.out"
                               multiple>
                    </div>
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptSolution"> 标答 std (cpp hpp v 多选) </label>
                        <input class="custom-file-input" type="file" name="solution" id="iptSolution" accept=".cpp, .hpp, .v"
                               multiple>
                    </div>
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptSpj"> Special Judge (cpp) </label>
                        <input class="custom-file-input" type="file" name="data" id="iptSpj">
                    </div>
                    <!-- <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptScorer"> Scorer </label>
                        <input class="custom-file-input" type="file" name="data" id="iptScorer" accept=".py">
                    </div> -->
                    <!--
                    <div class="form-group custom-file col-md-3 mb-3">
                        <label class="custom-file-label ml-1 mr-1" for="iptConfig"> Config (json) </label>
                        <input class="custom-file-input" type="file" name="config" id="iptConfig" accept=".json">
                    </div>
                    -->
                </div>
                <p>*此处的题面上传仅会留在数据包中，暂不会修改数据库中题面，请切换至题面选项卡手动修改。</p>
                <div class="card card-body">
                    <h5 class="mt-2"> 评测组配置（新增行会自动复制上一行内容） </h5>
                    <div class="table-responsive mb-3">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Group ID</th>
                                <th scope="col">Group Name</th>
                                <th scope="col">Group Score</th>
                                <th scope="col">Test Points (separated by ",")</th>
                            </tr>
                            </thead>
                            <tbody contenteditable="true" id="tableGroups">
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td>10</td>
                                <td>1</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="float-right">
                            <button class="btn btn-outline-primary" type="button" id="btnAddGroupsRow">Add Row</button>
                            <button class="btn btn-outline-primary" type="button" id="btnRemoveGroupsRow">Remove Row
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card card-body">
                    <h5 class="mt-2"> 数据点配置（新增行会自动复制上一行内容） </h5>
                    <div class="table-responsive mb-3">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Dependency</th>
                                <th scope="col">Time Limit (ms)</th>
                                <th scope="col">Memory Limit (Byte)</th>
                                <th scope="col">Disk Limit (Byte)</th>
                                <th scope="col">Valgrind</th>
                            </tr>
                            </thead>
                            <tbody contenteditable="true" id="tableDetails">
                            <tr>
                                <td>1</td>
                                <td>0</td>
                                <td>1000</td>
                                <td>256000000</td>
                                <td>0</td>
                                <td contenteditable="false">
                                    <div class="custom-checkbox ml-3">
                                        <input class="form-check-input" type="checkbox" id="iptValgrind1">
                                        <label class="form-check-label" for="iptValgrind1"></label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="float-right">
                            <button class="btn btn-outline-primary" type="button" id="btnAddDetailsRow">Add Row</button>
                            <button class="btn btn-outline-primary" type="button" id="btnRemoveDetailsRow">Remove Row
                            </button>
                        </div>
                    </div>
                </div>
                <progress id="data-gui-progress" class="w-100" max="1" value="0"></progress>
                <div class="float-right d-flex ml-auto pr-1 mb-3">
                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btn-download-config">下载 config.json</button>
                    <button class="btn btn-outline-primary mt-auto" type="submit" id="btnAddProblemData"> 打包上传所有数据 </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
window.problemId = {{ problem.id }}
</script>
<script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/jszip.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/clipboard.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'lib/editor.md/editormd.min.js') }}"></script>
<script src="{{ url_for('.static', filename = 'js/problem_admin.js') }}?v=20240214"></script>
{% endblock %}
