{% extends 'base.html' %}
{% set page=problem.title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}">
{{ render_styles() }}
{% endblock %}

{% block content %}
<div class="card card-body">
    {%- from 'component/problem.html' import problem_title -%}
    {{ problem_title(problem) }}
    <hr>
    <div id="problem-description">
        {%- if problem.description is not None -%}
        <h3>题目描述</h3>
        <div id="description">{{ render(problem.description) }}</div>
        {%- endif -%}
        {%- if problem.input is not None -%}
        <h3>输入格式</h3>
        <div id="input-format">{{ render(problem.input) }}</div>
        {%- endif -%}
        {%- if problem.output is not None -%}
        <h3>输出格式</h3>
        <div id="output-format">{{ render(problem.output) }}</div>
        {%- endif -%}
        {%- if problem.examples | length > 0 -%}
        <h3>样例</h3>
        <div id="examples">
            {%- for example in problem.examples -%}
            <div class="example">
                {%- if example['name'] is not None -%}
                <h4>{{ example['name'] }}</h4>
                {%- endif -%}

                {%- if example['input'] is not None or example['output'] is not None -%}
                <div class="row mb-2">
                    <div class="col-md-6">
                        <p>输入</p>
                        {%- if example['input'] is not None -%}
                        <div><pre><code class="plaintext">{{ example['input'] }}</code></pre></div>
                        {%- else -%}
                        <div>（无）</div>
                        {%- endif -%}
                    </div>

                    <div class="col-md-6">
                        <p>输出</p>
                        {%- if example['output'] is not None -%}
                        <div><pre><code class="plaintext">{{ example['output'] }}</code></pre></div>
                        {%- else -%}
                        <div>（无）</div>
                        {%- endif -%}
                    </div>
                </div>
                {%- endif -%}

                {%- if example['description'] is not None -%}
                <div>{{ render(example['description']) }}</div>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
        {%- else -%}
        {%- if problem.example_input is not None -%}
        <h3>样例输入</h3>
        <div id="example-input">{{ render(problem.example_input) }}</div>
        {%- endif -%}
        {%- if problem.example_output is not None -%}
        <h3>样例输出</h3>
        <div id="example-output">{{ render(problem.example_output) }}</div>
        {%- endif -%}
        {%- endif -%}

        {%- if problem.data_range is not None -%}
        <h3>数据范围</h3>
        <div id="data-range">{{ render(problem.data_range) }}</div>
        {%- endif -%}
        {%- if limits | length > 0 -%}
        <h3>时空磁盘限制（运行时）</h3>
        <div id="plan-summary">
            {%- macro number_unit(number, unit, neg_is_inf = False, zero = None) -%}
            {%- if number == g.utils.inf or (number < 0 and neg_is_inf) -%}
            无限制
            {%- elif number == 0 and zero is not None -%}
            {{ zero }}
            {%- else -%}
            {{ number | int }} {{ unit }}
            {%- endif -%}
            {%- endmacro -%}

            {%- set has_limit = {} -%}
            {%- macro display_limit(attr, unit, neg_is_inf = False, ratio = 1, zero = None) -%}
            {%- set seq = limits | map(attribute=attr) -%}
            {%- set min, max = g.utils.min_max(seq, neg_is_inf) -%}
            {%- do has_limit.update({ attr: min != 0 or max != 0 }) -%}
            {%- if min == max -%}
            {{ number_unit(min / ratio, unit, zero=zero) }}
            {%- else -%}
            {{ number_unit(min / ratio, unit, zero=zero) }} min, 
            {{ number_unit(max / ratio, unit, zero=zero) }} max
            {%- endif -%}
            {%- endmacro -%}

            <p>时间限制：{{ display_limit('time_msecs', 'ms') }}</p>
            <p>内存空间限制：{{ display_limit('memory_bytes', 'MiB', ratio=1048576) }}</p>
            <p>磁盘空间限制：{{ display_limit('file_size_bytes', 'MiB', ratio=1048576, zero='不可使用磁盘') }}</p>
            {%- if has_limit['file_size_bytes'] -%}
            <p>文件数量限制：{{ display_limit('file_count', '个', neg_is_inf=True, zero='不可使用文件') }}</p>
            {%- endif -%}

            <details>
                <summary>单个测试点时空限制详情</summary>

                <div class="mt-2 d-inline-block">
                    {%- for group in plan_summary.subtasks -%}
                    <div class="judge-group">
                        <div class="judge-group__header">
                            <span>Subtask {{ group.id }}: {{ group.name }}</span>
                            <span>Score: {{ group.score }}</span>
                        </div>
                        <div class="judge-group__testpoints">
                            {% for testpoint in group.testpoints -%}
                            <div class="judge-group__testpoint">
                                <span class="testpoint__name">Testpoint {{ testpoint.id }}</span>
                                {%- if testpoint.limits is not None -%}
                                <span class="testpoint__attr"><i class="fa fa-clock"></i> {{ testpoint.limits.time_msecs }} ms</span>
                                <span class="testpoint__attr"><i class="fa fa-memory"></i> {{ testpoint.limits.memory_bytes // 1048576 }} MiB</span>

                                {%- if has_limit['file_size_bytes'] -%}
                                <span class="testpoint__attr">
                                    <i class="fa fa-database"></i>
                                    {{ testpoint.limits.file_size_bytes // 1048576 }} MiB
                                </span>
                                {%- else -%}
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                {%- endif -%}

                                {%- if has_limit['file_size_bytes'] and has_limit['file_count'] -%}
                                <span class="testpoint__attr">
                                    <i class="fa fa-file"></i> {{ number_unit(testpoint.limits.file_count, '个', neg_is_inf=True) }}
                                </span>
                                {%- else -%}
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                {%- endif -%}

                                {%- else -%}
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                <span class="testpoint__attr testpoint__attr--hidden"></span>
                                {%- endif -%}
                            </div>
                            {%- endfor %}
                        </div>
                    </div>
                    {%- endfor %}
                </div>
            </details>
        </div>
        {%- endif -%}

        {%- if problem.attachments | length > 0 -%}
        <h3>附件</h3>
        <ul>
            {%- for file in problem.attachments -%}
            <li>
                <a href="{{ url_for('.problem_attachment', problem=problem, name=file.name) }}" target="_blank">
                    <i class="fa fa-download"></i>
                    <span dir="ltr">{{ file.name }}</span>
                    <span>({{ g.utils.format_file_size(file.size_bytes) }})</span>
                </a>
            </li>
            {%- endfor -%}
        </ul>
        {%- endif -%}

        {%- if g.is_admin -%}
        <h3>题目归属信息</h3>
        <p>题目属于的班级：<a href="{{ url_for('.course', course=problem.course) }}">{{ problem.course.name }}</a></p>
        {%- endif -%}
    </div>
</div>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
