<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Problem Submit</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://cdn.yukisaki.io:2333/oj_cdn/bootstrap.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
	</head>
	
	<body style="background-color: rgba(193,220,248,0.1);">
		<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" href="/">ACM Class OnlineJudge 2020</a>
				<div class="navbar-collapse collapse" id="navbar_global"></div>
				<div class="navbar-collapse collapse justify-content-end" id="navbar_right"></div>
			</div>
		</nav>
		<div class="container">
			<div class="card card-body">
				<div class="page-header">
					<h1 class="text-center"> {{Problem_ID}} </h1>
				</div>
				<form action="submit" method="post" role="form">
					<select id="lang" class="form-control input-default">
						<option value ="cpp">cpp</option>
						<option value ="git">git</option>
					</select>
					<br>
					<textarea id="problem_submit_code" class="form-control input-default" rows="18"></textarea>
					<input type="hidden" name="problem_id" value="{{Problem_ID}}">
					<br>
					<input type="submit" class="btn btn-primary btn-block" value="提交评测">
				</form>
			</div>
			<footer>
				<div class="container text-center" id="footer"></div>
			</footer>
		</div>
	</body>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/jquery.min.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/jquery.form.js"></script>
<script src="https://cdn.yukisaki.io:2333/oj_cdn/lib/sweetalert/sweetalert.min.js"></script>
<script src="{{ url_for('static', filename = 'js/navbar.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/user-avatar.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/problem_submit.js')}}"></script>
</html>