{% extends 'base.html' %}

{% set page='提交' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="title-nav">
            <span class="title-nav__title">{{ Problem_ID }}. {{ problem.title }}</span>
            <ul class="title-nav__nav nav nav-pills flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}">题面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/problem/{{ Problem_ID }}/submit">提交</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/status?problem_id={{ Problem_ID }}">评测状态</a>
                </li>
                {% if not In_Exam -%}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/discuss">讨论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank">排行榜</a>
                </li>
                {% endif %}
                {% if g.can_read %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/admin/problem/{{ Problem_ID }}/data-zip">下载本题数据</a>
                </li>
                {% endif %}
                {% if g.can_write %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/admin"> 管理 </a>
                </li>
                {% endif %}
            </ul>
        </h1>
        <hr>
        {% if languages_accepted | length > 0 -%}
        <form method="post" id="problem-submit-form">
            {{ g.csrf() }}
            {% if languages_accepted | length > 1 -%}
            <div class="form-group">
                <label for="lang">语言</label>
                <select id="lang" name="lang" class="form-control input-group py-0 selectpicker"
                        data-style="form-control rounded border-grey shadow-none font-weight-normal">
                    <option value="autodetect" selected>自动检测</option>
                    {%- for lang in languages_accepted -%}
                    <option value="{{ lang }}">{{ g.consts.language_info[lang].name }}</option>
                    {%- endfor -%}
                </select>
            </div>
            {%- else -%}
            <input type="hidden" id="lang" name="lang" value="{{ languages_accepted[0] }}">
            {%- endif %}
            <div class="row mx-0">
                <label for="code">代码</label>
                {% if not In_Exam and problem.allow_public_submissions -%}
                    <div class="form-group ml-auto">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" name="shared" id="shared"
                                   value="shared">
                            <label class="custom-control-label" for="shared">代码对他人可见</label>
                        </div>
                    </div>
                {%- endif %}
            </div>
            <textarea class="form-control mb-3" rows="18" id="code" name="code" required="required"></textarea>
            <input type="hidden" name="problem_id" value="{{ Problem_ID }}">
            <noscript>
                <input type="submit" class="btn btn-block btn-primary" value="提交评测">
            </noscript>
            <input type="submit" disabled id="submit-button" class="btn btn-block btn-primary" value="提交评测">
        </form>
        {%- else -%}
        <p>此题目暂时无法评测。</p>
        {%- endif -%}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/problem_submit.js') }}?v=20240118"></script>
{% endblock %}
