{% extends 'base.html' %} {% set page='排行榜' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/font-awesome/css/all.min.css') }}"> {% endblock %} {% block content %}
<div class="card card-body">
    <h1 class="title-nav">
        <span class="title-nav__title">{{ Problem_ID }}. {{ Title }}</span>
        <ul class="title-nav__nav nav nav-pills flex-column flex-md-row">
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}">题面</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/submit">提交</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/status?problem_id={{ Problem_ID }}">评测状态</a>
            </li>
            {% if not In_Exam -%}
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/discuss">讨论</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/problem/{{ Problem_ID }}/rank">排行榜</a>
            </li>
            {% endif %}
            {% if g.can_read %}
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/admin/problem/{{ Problem_ID }}/data-zip">下载本题数据</a>
            </li>
            {% endif %}
            {% if g.can_write %}
            <li class="nav-item">
                <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/admin"> 管理 </a>
            </li>
            {% endif %}
        </ul>
    </h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover status-list">
            <thead>
                <tr>
                    <th><span>#</span></th>
                    <th><span>昵称</span></th>
                    {% if g.is_admin -%}
                    <th><span>实名</span></th>
                    {%- endif %}
                    <th>
                        <a class="nav-link p-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank?sort=time">
                            <span>运行时间</span>
                            <span class="fa-stack" style="height: 1em;line-height: 1em;font-size: 1rem">
                            <i class="fa fa-sort-up fa-stack-1x" style="color: #ced4da"></i>
                            <i class="fa fa-sort-down fa-stack-1x" {{ 'style="color: #ced4da"'|safe if Sorting != 'time' }}></i>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a class="nav-link p-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank?sort=memory">
                            <span>内存</span>
                            <span class="fa-stack" style="height: 1em;line-height: 1em;font-size: 1rem">
                            <i class="fa fa-sort-up fa-stack-1x" style="color: #ced4da"></i>
                            <i class="fa fa-sort-down fa-stack-1x" {{ 'style="color: #ced4da"'|safe if Sorting != 'memory' }}></i>
                        </span>
                        </a>
                    </th>
                    <th><span>语言</span></th>
                    <th>
                        <a class="nav-link p-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank?sort=submit_time">
                            <span>提交时间</span>
                            <span class="fa-stack" style="height: 1em;line-height: 1em;font-size: 1rem">
                            <i class="fa fa-sort-up fa-stack-1x" style="color: #ced4da"></i>
                            <i class="fa fa-sort-down fa-stack-1x" {{ 'style="color: #ced4da"'|safe if Sorting != 'submit_time' }}></i>
                        </span>
                        </a>
                    </th>
                </tr>
            </thead>
            {% for submission in submissions -%}
            <tr>
                <td><a href="/OnlineJudge/code/{{ submission.id }}/">{{ loop.index }}</a></td>
                <td>
                {% if g.is_admin -%}
                    <span data-container="body" data-toggle="popover" data-placement="left" data-content="用户名：{{ submission.user.username }}">{{ submission.user.friendly_name }}</span>
                {% else -%}
                    {{ submission.user.friendly_name }}
                {%- endif %}
                </td>
                {% if g.is_admin -%}
                <td>{{ real_names[submission] }}</td>
                {%- endif %}

                {%- if submission.time_msecs != None -%}
                <td>{{ submission.time_msecs }} ms</td>
                {% else -%}
                <td>N/A</td>
                {%- endif %}

                {%- if submission.memory_bytes != None -%}
                <td>{{ "%.0f" % (submission.memory_bytes / 1024) }} KiB</td>
                {% else -%}
                <td>N/A</td>
                {%- endif %}

                <td>{{ languages[submission] }}</td>
                <td>{{ g.utils.readable_time(submission.created_at) }}</td>
            </tr>
            {%- endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function(){
        $("[data-toggle='popover']").popover();
    });
    $("[data-toggle='popover']").click(function(){
        setTimeout(function(){
            $("[data-toggle='popover']").popover('hide')
        }, 2000);
    });
</script>
{% endblock %}
