<!-- Author: Pioooooo -->
{% extends 'base.html' %} {% set page='题面格式规范' %} {% block content %}
<div class="card card-body">
<h1 id="title-标题">Title 标题</h1>
<h2 id="题目描述">题目描述</h2>
<p>这是一个 English 中文的示例。</p>
<p>分段需要有空行， <strong>加粗</strong> <em>斜体</em> 与变量 <span
class="math inline"><em>k</em></span> 和数字 1 或 <span
class="math inline">1</span> 中间需要有空格。紧跟着标点的变量 <span
class="math inline"><em>k</em></span> ，也需要空格。English
与中文之间也需要加空格。全角的标点符号后，无需添加空格。建议题面的所有内容都是完整的句子，并以句号结尾。</p>
<ul>
<li>题目描述特殊说明 1</li>
<li>题目描述特殊说明 2</li>
</ul>
<h2 id="输入格式">输入格式</h2>
<p>第一行的输入 <span class="math inline"><em>n</em></span>
<!-- 最后无需句号 --></p>
<p>对于接下来的 <span class="math inline"><em>n</em> − 1</span>
行的输入，第 <span class="math inline"><em>i</em></span> 行输入 <span
class="math inline"><em>u</em><sub><em>i</em></sub>, <em>v</em><sub><em>i</em></sub>, <em>l</em><sub><em>i</em></sub></span>
，表示 <span class="math inline"><em>u</em><sub><em>i</em></sub></span>
, <span class="math inline"><em>v</em><sub><em>i</em></sub></span> ,
<span class="math inline"><em>l</em><sub><em>i</em></sub></span>
的一些关系</p>
<ul>
<li>输入特殊说明</li>
</ul>
<h2 id="输出格式">输出格式</h2>
<p>第一行的输出 <span
class="math inline"><em>a</em><em>n</em><em>s</em></span></p>
<ul>
<li>输出特殊说明</li>
</ul>
<h2 id="样例输入">样例输入</h2>
<h4 id="样例输入-1">样例输入 1 <!-- 如有多组样例数据 --></h4>
<div class="sourceCode" id="cb1"><pre
class="sourceCode python input text"><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="dv">3</span>   </span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="dv">1</span> <span class="dv">2</span> <span class="dv">3</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a><span class="dv">4</span> <span class="dv">5</span> <span class="dv">6</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a><span class="dv">7</span> <span class="dv">8</span> <span class="dv">9</span></span></code></pre></div>
<h4 id="样例输入-2">样例输入 2</h4>
<div class="sourceCode" id="cb2"><pre
class="sourceCode python input text"><code class="sourceCode python"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="dv">0</span></span></code></pre></div>
<h2 id="样例输出">样例输出</h2>
<h4 id="样例输出-1">样例输出 1 <!-- 如有多组样例数据 --></h4>
<div class="sourceCode" id="cb3"><pre
class="sourceCode python input text"><code class="sourceCode python"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="dv">3</span> <span class="dv">733</span></span></code></pre></div>
<h4 id="样例输出-2">样例输出 2</h4>
<div class="sourceCode" id="cb4"><pre
class="sourceCode python input text"><code class="sourceCode python"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="dv">4</span> <span class="dv">123</span></span></code></pre></div>
<h2 id="数据范围">数据范围</h2>
<p><span class="math inline">1 ≤ <em>n</em> ≤ 10<sup>5</sup></span>,
<span class="math inline">2 ≤ <em>k</em> ≤ 10</span>, <span
class="math inline">0 &lt; <em>l</em><sub><em>i</em></sub> ≤ 10<sup>3</sup></span></p>
</div>
{% endblock %}
