{% extends 'base.html' %}

{% set page='提交' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="title-nav">
            <span class="title-nav__title">{{ Problem_ID }}. {{ Title }}</span>
            <ul class="title-nav__nav nav nav-pills flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}">题面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/problem/{{ Problem_ID }}/submit">提交</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/status?problem_id={{ Problem_ID }}">评测状态</a>
                </li>
                {% if not In_Exam -%}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/discuss">讨论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank">排行榜</a>
                </li>
                {% endif %}
                {% if is_Admin %}
                <li class="nav-item">
                    <form id="formDataZipDownload" action="/OnlineJudge/admin/data_download" method="post">
                        <input type="hidden" name="id" id="datazip_download_problem_ID" value="{{ Problem_ID }}">    
                    </form>
                    <a class="nav-link mb-sm-2 mb-md-0" href="javascript:document.getElementById('formDataZipDownload').submit();"> 下载本题数据 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/admin"> 管理 </a>
                </li>
                {% endif %}
            </ul>
        </h1>
        <hr>
        <form method="post" id="problem_submit_form">
            <div class="form-group">
                <label for="lang">语言</label>
                <select id="lang" name="lang" class="form-control input-group py-0 selectpicker"
                        data-style="form-control rounded border-grey shadow-none font-weight-normal">
                    <option value="auto_detect" selected="selected">自动检测</option>
                    <option value="cpp">C++</option>
                    <option value="git">Git</option>
                    <option value="Verilog">Verilog</option>
                </select>
            </div>
            <div class="row mx-0">
                <label for="code">代码</label>
                {% if not In_Exam -%}
                    <div class="form-group ml-auto">
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" name="shared" id="shared"
                                   value="shared">
                            <label class="custom-control-label" for="shared">代码对他人可见</label>
                        </div>
                    </div>
                {%- endif %}
            </div>
            <textarea class="form-control mb-3" rows="18" id="code" name="code" required="required"></textarea>
            <input type="hidden" name="problem_id" value="{{ Problem_ID }}">
            <noscript>
                <input type="submit" class="btn btn-block btn-primary" value="提交评测">
            </noscript>
            <input type="submit" disabled id="submit-button" class="btn btn-block btn-primary" value="提交评测">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/problem_submit.js') }}?v=20230402"></script>
{% endblock %}
