{% extends 'base.html' %}

{% set page='题目列表' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center"> 题目列表 </h1>
        <div>
            <form class="form-group input-group" method="get" id="status_serach">
                <input class="form-control input-group" type="number" name="problem_id" id="problem_id"
                       placeholder="题目编号" value="{{ args["problem_id"] if "problem_id" in args }}">
                <input class="form-control input-group" type="number" name="contest_id" id="contest_id"
                       placeholder="比赛编号" value="{{ args["contest_id"] if "contest_id" in args }}">
                <input class="form-control input-group" type="text" name="problem_name_keyword" id="problem_name_keyword" placeholder="题目名称（关键字）"
                       value="{{ args["problem_name_keyword"] if "problem_name_keyword" in args }}">
                <select class="form-control selectpicker" name="problem_type" id="problem_type"
                        data-style="form-control font-weight-normal border-grey shadow-none">
                    <option value="-1" {{ "selected" if "problem_type" in args and args["problem_type"]=="-1" }}>所有</option>
                    <option value="0" {{ "selected" if "problem_type" in args and args["problem_type"]=="0" }}>代码题</option>
                    <option value="1" {{ "selected" if "problem_type" in args and args["problem_type"]=="1" }}>填选题</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary">搜索</button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="problem_list">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>题目名称</th>
                </tr>
                </thead>
                {% for problem in problems -%}
                    <tr>
                        <th>{{ problem.id }}</th>
                        <td><a href="/OnlineJudge/problem/{{ problem.id }}" target="_blank">{{ problem.title }}</a></td>
                    </tr>
                {%- endfor %}
            </table>
        </div>
        {% from 'component/page_switcher.html' import page_switcher -%}
        {{ page_switcher(pages, args) }}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
{% endblock %}
