{% extends 'base.html' %}

{% set page=Title %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1 class="text-center"><span id="problem_id">{{ ID }}</span><span>. {{ Title }}</span></h1>
        <div id="content">
            <h3>题目描述</h3>
            <p id="problem_details_description"></p>
            <h3>输入格式</h3>
            <p id="problem_details_input"></p>
            <h3>输出格式</h3>
            <p id="problem_details_output"></p>
            <h3>样例输入</h3>
            <p id="problem_details_example_input"></p>
            <h3>样例输出</h3>
            <p id="problem_details_example_output"></p>
            <h3>数据范围</h3>
            <p id="problem_details_data_range"></p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="btn-group m-auto">
            <a href="/OnlineJudge/submit?problem_id={{ ID }}" class="btn btn-primary"> 提交 </a>
            <a href="/OnlineJudge/status?problem_id={{ ID }}" class="btn btn-info"> 评测状态 </a>
            {% if not In_Contest -%}
                <a href="/OnlineJudge/discuss?problem_id={{ ID }}" class="btn btn-success"> 讨论 </a>
                <a href="/OnlineJudge/rank?problem_id={{ ID }}" class="btn btn-light"> 排行榜 </a>
            {%- endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/problem_details.js') }}"></script>
{% endblock %}
