{% extends "base.html" %}

{% set page = "Profile" %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1 class="text-center">修改信息</h1>
        <form>
            <div class="form-group">
                <label for="iptFriendlyName">新昵称</label>
                <input class="form-control" type="text" name="friendly_name" id="iptFriendlyName">
            </div>
            <div class="form-group">
                <label for="iptPassword">新密码</label>
                <input class="form-control" type="password" name="password" id="iptPassword">
            </div>
            <div class="form-group">
                <label for="iptRepeatPassword">重复密码</label>
                <input class="form-control" type="password" id="iptRepeatPassword" name="repeatPassword">
            </div>
            <br>
            <button class="btn btn-block btn-primary" type="button" id="btnModify">修改</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $("#btnModify").click(function () {
                let p = $("#iptPassword").val(), pp = $("#iptRepeatPassword").val(), n = $("#iptFriendlyName").val();
                if (p != null && p !== "" && p !== pp) {
                    swal("Oops", "两次输入的密码不一致！", "error");
                    return false;
                }
                let data = {
                    "password": p,
                    "friendly_name": n
                };
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/profile",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (ret) {
                        console.log(ret);
                        if (ret["e"] === 0) {
                            swal("Success", "信息修改成功！", "success");
                            setTimeout(function () {
                                window.location.reload();
                            }, 800);
                        } else {
                            swal("Oops", "信息修改失败，检查您的输入信息（昵称请不要使用中文）！", "error");
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}