{% extends 'base.html' %}

{% set page='测验' %}

{% block head %}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
<style>
    .problem-title > .rendered, .problem-title > .rendered > p, .problem-title > .rendered > div:not(.code-wrapper) {
        display: inline;
    }
</style>
{% endblock %}

{% block content %}
    <div class="card card-body">
        {%- from 'component/problem.html' import problem_title -%}
        {{ problem_title(problem) }}
        <hr>
        <form method="post" id="quiz_submit_form">
            {{ g.csrf() }}
            <input type="hidden" name="lang" value="quiz">
            <div id="quiz_rendering">
                {%- if success -%}

                {%- for problem in quiz -%}
                <p class="problem-title">{{ problem['id'] }}. {{ render(problem['title']) }}</p>
                {%- if problem['type'] == 'SELECT' -%}
                {% for option in problem['options'] -%}
                <div class="custom-control custom-radio">
                    <input
                        id="{{ problem['id'] }}__{{ option['value'] }}"
                        name="{{ problem['id'] }}"
                        class="custom-control-input"
                        value="{{ option['value'] }}"
                        type="radio"
                    >
                    <label class="custom-control-label" for="{{ problem['id'] }}__{{ option['value'] }}">
                        {{ render(option['text']) }}
                    </label>
                </div>
                {%- endfor -%}
                {%- elif problem['type'] == 'FILL' -%}
                <div>
                    <textarea class="form-control" rows="1" name = "{{ problem['id'] }}"></textarea>
                </div>
                {%- endif -%}
                {%- endfor -%}

                {%- else -%}
                <p>错误：无法获取填选题数据</p>
                {%- endif -%}
            </div>
            <hr>
            <input type="submit" class="btn btn-block btn-primary" value="提交">
        </form>
    </div>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
