{% extends 'base.html' %}

{% set page='测验' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/katex.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/github.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1> <span id="problem_id">{{ Problem_ID }}</span>. {{ Title }}</h1>
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}">题面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/problem/{{ Problem_ID }}/submit">提交</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/status?problem_id={{ Problem_ID }}">评测状态</a>
                </li>
                {% if not In_Exam -%}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/discuss">讨论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank">排行榜</a>
                </li>
                {% endif %}
                {% if g.can_read %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/admin/problem/{{ Problem_ID }}/data-zip">下载本题数据</a>
                </li>
                {% endif %}
                {% if g.can_write %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/admin"> 管理 </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="card card-body">
        <form method="post" id="quiz_submit_form">
            {{ g.csrf() }}
            <input type="hidden" name="problem_id" value="{{ Problem_ID }}">
            <input type="hidden" name="lang" value="quiz">
            <div id="quiz_rendering"></div>
            <hr>
            <input type="submit" class="btn btn-block btn-primary" value="提交">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/purify.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/marked.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/katex.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/auto-render.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'lib/highlight.min.js') }}"></script>
    <script src="{{ url_for('.static', filename = 'js/quiz_submit.js') }}"></script>
{% endblock %}
