{% extends 'base.html' %}

{% set page='测验' %}

{% block head %}
{{ render_styles() }}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
<style>
    .problem-title > .rendered, .problem-title > .rendered > p, .problem-title > .rendered > div:not(.code-wrapper) {
        display: inline;
    }
</style>
{% endblock %}

{% block content %}
    <div class="card card-body">
        <h1> <span id="problem_id">{{ Problem_ID }}</span>. {{ Title }}</h1>
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row">
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}">题面</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0 active" href="/OnlineJudge/problem/{{ Problem_ID }}/submit">提交</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/status?problem_id={{ Problem_ID }}">评测状态</a>
                </li>
                {% if not In_Exam -%}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/discuss">讨论</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/rank">排行榜</a>
                </li>
                {% endif %}
                {% if g.can_read %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/admin/problem/{{ Problem_ID }}/data-zip">下载本题数据</a>
                </li>
                {% endif %}
                {% if g.can_write %}
                <li class="nav-item">
                    <a class="nav-link mb-sm-2 mb-md-0" href="/OnlineJudge/problem/{{ Problem_ID }}/admin"> 管理 </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="card card-body">
        <form method="post" id="quiz_submit_form">
            {{ g.csrf() }}
            <input type="hidden" name="lang" value="quiz">
            <div id="quiz_rendering">
                {%- if success -%}

                {%- for problem in quiz -%}
                <p class="problem-title">{{ problem['id'] }}. {{ render(problem['title']) }}</p>
                {%- if problem['type'] == 'SELECT' -%}
                {% for option in problem['options'] -%}
                <div class="custom-control custom-radio">
                    <input
                        id="{{ problem['id'] }}__{{ option['value'] }}"
                        name="{{ problem['id'] }}"
                        class="custom-control-input"
                        value="{{ option['value'] }}"
                        type="radio"
                    >
                    <label class="custom-control-label" for="{{ problem['id'] }}__{{ option['value'] }}">
                        {{ render(option['text']) }}
                    </label>
                </div>
                {%- endfor -%}
                {%- elif problem['type'] == 'FILL' -%}
                <div>
                    <textarea class="form-control" rows="1" name = "{{ problem['id'] }}"></textarea>
                </div>
                {%- endif -%}
                {%- endfor -%}

                {%- else -%}
                <p>错误：无法获取填选题数据</p>
                {%- endif -%}
            </div>
            <hr>
            <input type="submit" class="btn btn-block btn-primary" value="提交">
        </form>
    </div>
{% endblock %}

{% block script %}
{{ render_scripts() }}
{% endblock %}
