{% extends 'base.html' %}

{% set page='Register' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1 class="text-center">注册</h1>
        <form method="post" id="register">
            <div class="form-group">
                <p>请注意：无论您在镜像站上注册时输入的用户名是什么，登录时都需要在后面加上mirror这六个字母作为用户名（注册时不用输入这六个字母），以确保账号与主站不会冲突。例如，您注册时填写的用户名为cong，那么登录时您的用户名应为congmirror。2021年7月前已有账户请忽略此条限制。</p>
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username" id="username" required="required" pattern="[a-zA-Z][a-zA-Z0-9_]{0,19}" title="用户名要求：20位以内的大小写字母或数字（第一位必须是字母）">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password" id="password" required="required" pattern="[a-zA-Z0-9_!@#$%*]{6,30}" title="密码要求：6-30位的大小写字母、数字、下划线">
            </div>
            <div class="form-group">
                <label for="friendly_name">昵称</label>
                <input class="form-control" type="text" name="friendly_name" id="friendly_name" required="required" pattern="[a-zA-Z0-9_]{1,60}" title="昵称要求：60位以内的大小写字母、数字、下划线">
            </div>
            <div class="form-group">
                <label for="student_id">学号</label>
                <input class="form-control" type="text" name="student_id" id="student_id" required="required" pattern="[0-9]{12}" title="12位学号">
            </div>
            <br>
            <input class="btn btn-block btn-primary" type="submit" value="注册">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'js/register.js') }}"></script>
{% endblock %}
