{% extends 'base.html' %}

{% set page='Register' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1 class="text-center">注册</h1>
        <form method="post" id="register">
            <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username" id="username" required="required">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password" id="password" required="required">
            </div>
            <div class="form-group">
                <label for="friendly_name">昵称</label>
                <input class="form-control" type="text" name="friendly_name" id="friendly_name" required="required">
            </div>
            <div class="form-group">
                <label for="student_id">学号</label>
                <input class="form-control" type="text" name="student_id" id="student_id" required="required">
            </div>
            <br>
            <input class="btn btn-block btn-primary" type="submit" value="注册">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename = 'js/register.js') }}"></script>
{% endblock %}
