{% extends 'base.html' %}

{% set page='注册' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1>注册</h1>
        <form method="post" id="register">
            <div class="form-group">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username" id="username" required="required" pattern="[a-zA-Z][a-zA-Z0-9_]{0,19}" title="用户名要求：20 位以内的大小写字母或数字（第一位必须是字母）" autocomplete="username">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password" id="password" required="required" minlength="6" maxlength="128" title="密码要求：6-128 位" autocomplete="new-password">
            </div>
            <div class="form-group">
                <label for="friendly_name">昵称</label>
                <input class="form-control" type="text" name="friendly_name" id="friendly_name" required="required" pattern="[a-zA-Z0-9_]{1,32}" title="昵称要求：32 位以内的大小写字母、数字、下划线" autocomplete="nickname">
            </div>
            <div class="form-group">
                <label for="student_id">学号</label>
                <input class="form-control" type="text" name="student_id" id="student_id" required="required" pattern="[0-9]{12}" title="12 位学号（博士生学号以 0 开头）">
            </div>
            <br>
            <input class="btn btn-block btn-primary" type="submit" value="注册">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'js/register.js') }}"></script>
{% endblock %}
