{% extends 'base.html' %}
{% set page='重置密码' %}
{% block content %}
<div class="card card-body col-lg-10 m-auto">
  <h1>重置密码</h1>
  {{ show_alert() }}
  <div>
    您的学工号是 {{ student_id }}, 匹配到 {{ users | length }} 个用户。
  </div>
  <div>
    本页面 5 分钟内有效，提交一次后失效。
  </div>
  <form method="POST">
    {{ g.csrf() }}
    <div class="form-group">
      <table class="table table-striped table-bordered">
        <tr>
          <th>用户名</th>
          <th>昵称</th>
          <th>创建时间</th>
          <th></th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.friendly_name }}</td>
          <td>{{ g.utils.readable_time(user.created_at) }}</td>
          <td>
            <label>
              <input
                type="checkbox"
                name="user_id"
                id="user-id-{{ user.id }}"
                value="{{ user.id }}"
                checked
              />
              重置
            </label>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="form-group">
      <label for="password">新密码</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        required="required"
        minlength="6"
        maxlength="128"
        title="密码要求：6-128 位"
        autocomplete="new-password"
      />
    </div>
    <br />
    <input type="submit" class="btn btn-block btn-primary" value="重置" />
  </form>
</div>
{% endblock %}
