{% extends 'base.html' %}
{% set page='重置密码' %}
{% block content %}
<div class="card card-body col-lg-5 m-auto">
  <h1>重置密码</h1>
  {{ show_alert() }}
  {%- if users | length == 0 -%}
  <p>暂未查询到您的学工号（{{ student_id }}）关联的 OnlineJudge 用户。</p>
  <p><a href="{{ url_for('.register') }}?student-id={{ student_id }}">点击跳转至用户注册页面。</a></p>
  {%- else -%}
  <p>您的学工号是 {{ student_id }}，匹配到 {{ users | length }} 个用户。请选择需要重置密码的用户。</p>
  <p>本页面 5 分钟内有效，提交一次后失效。</p>
  <form method="POST">
    {{ g.csrf() }}
    {% for user in users %}
    <a class="card card--small m-0 mb-3 w-100">
      <label class="card-body m-0">
        <table class="table-borderless border-0 m-0 mb-2 font-size-normal">
          <tr>
            <td class="p-0 pr-2">用户名</td>
            <td class="p-0">{{ user.username }}</td>
          </tr>
          <tr>
            <td class="p-0 pr-2">昵称</td>
            <td class="p-0">{{ user.friendly_name }}</td>
          </tr>
          <tr>
            <td class="p-0 pr-2">创建时间</td>
            <td class="p-0">{{ g.utils.readable_time(user.created_at).split(' ')[0] }}</td>
          </tr>
        </table>
        <div>
          <input
            type="checkbox"
            name="user_id"
            id="user-id-{{ user.id }}"
            value="{{ user.id }}"
            checked
          />
          重置
        </div>
      </label>
    </a>
    {% endfor %}
    <div class="form-group">
      <label for="password">新密码</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        required="required"
        minlength="6"
        maxlength="128"
        title="密码要求：6-128 位"
        autocomplete="new-password"
      />
    </div>
    <br />
    <input type="submit" class="btn btn-block btn-primary" value="重置" />
  </form>
  {%- endif -%}
</div>
{% endblock %}
