{% extends 'base.html' %}

{% set page='评测状态' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename = 'lib/bootstrap-select.min.css') }}">
{% endblock %}

{% block content %}
    <div class="card card-body" id="status">
        <h1 class="title-nav mb-3">
            <span class="title-nav__title">评测状态</span>
            <span class="title-nav__nav">
                <button class="btn btn-outline-primary" id="width-toggle">切换宽度</button>
            </span>
        </h1>
        <div>
            <form class="form-group input-group" method="get" id="status_serach">
                <input class="form-control input-group" type="text" name="submitter" id="submitter" placeholder="用户名"
                       value="{{ args["submitter"] if "submitter" in args }}">
                <input class="form-control input-group" type="number" name="problem_id" id="problem_id"
                       placeholder="题目编号" value="{{ args["problem_id"] if "problem_id" in args }}">
                <select class="form-control selectpicker" name="status" id="status"
                        data-style="form-control font-weight-normal border-grey shadow-none">
                    <option value="" {{ 'selected' if not 'status' in args or args['status'] == '' }}>评测状态</option>
                    {% for key in g.consts.judge_status_info -%}
                    <option value="{{ key }}" {{ 'selected' if 'status' in args and args['status'] == key }}>
                        {{ g.consts.judge_status_info[key].name }}
                    </option>
                    {%- endfor %}
                </select>
                <select class="form-control selectpicker" name="lang" id="lang"
                        data-style="form-control font-weight-normal border-grey shadow-none">
                    <option value="" {{ 'selected' if not 'lang' in args or args['lang'] == '' }}>语言</option>
                    {% for key in g.consts.language_info -%}
                    <option value="{{ key }}" {{ 'selected' if 'lang' in args and args['lang'] == key }}>
                        {{ g.consts.language_info[key].name }}
                    </option>
                    {%- endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary">搜索</button>
                </div>
            </form>
        </div>
        {{ status_table(submissions, real_name_map, show_links, show_score=False) }}
        {{ page_switcher(pages, args) }}
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'lib/bootstrap-select.min.js') }}"></script>
{% endblock %}
