runner_config: v1

id: runner1
relative_slowness: 1
working_dir: /var/run/oj
cache_dir: /var/cache/oj
log_dir: /var/log/oj
private_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
worker_uid: 100001

web_server:
  public_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  base_url: http://localhost:5000/OnlineJudge/

redis:
  queues:
    tasks: oj-tasks
    in_progress: oj-tasks-runner1
    signals: oj-signals-runner1
  connection:
    host: localhost
    port: 6379
    username: runner1
    password: xxxxxxxxxxxxxx
    db: 1
